@use "../configuration";
@use "../helpers";

@mixin opacity-from-range($opacity-range: $opacity-range) {
	$amp: helpers.get-ampersand();

	@each $v in $opacity-range {
		#{$amp}opacity-#{helpers.escape($v * 100)} {
			opacity: #{$v};
		}
	}

	@if not & {
		// `on`:
		@each $v in $opacity-range {
			#{$amp}on#{helpers.escape(configuration.$separator)}opacity-#{helpers.escape($v * 100)}:hover,
			#{$amp}on#{helpers.escape(configuration.$separator)}opacity-#{helpers.escape($v * 100)}:focus,
			.group:hover #{$amp}group-on#{helpers.escape(configuration.$separator)}opacity-#{helpers.escape($v * 100)},
			.group:focus #{$amp}group-on#{helpers.escape(configuration.$separator)}opacity-#{helpers.escape($v * 100)} {
				opacity: #{$v};
			}
		}
		// `down`:
		@each $v in $opacity-range {
			#{$amp}down#{helpers.escape(configuration.$separator)}opacity-#{helpers.escape($v * 100)}:active,
			.group:active #{$amp}group-down#{helpers.escape(configuration.$separator)}opacity-#{helpers.escape($v * 100)} {
				opacity: #{$v};
			}
		}
	}
}
