@use "sass:string";

@use "../configuration" as *;
@use "../helpers" as *;

@mixin whitespace {
	$amp: get-ampersand();

	// Text does not wrap.
	#{$amp}whitespace-pre {
		white-space: pre;
	}
	// Text wraps.
	#{$amp}whitespace-pre-wrap {
		white-space: pre-wrap;
	}
}

@mixin text-align {
	$amp: get-ampersand();

	#{$amp}text-center {
		text-align: center;
	}
}

@mixin font-weight {
	$amp: get-ampersand();

	@each $v in (100, 200, 300, 400, 500, 600, 700, 800, 900) {
		#{$amp}font-#{$v} {
			font-weight: #{$v};
		}
	}
}

@mixin font-size-from-range($range, $resolver) {
	// prettier-ignore
	@include generate-from-range(
		"text",
		(font-size),
		$range,
		$resolver,
	);
}

@mixin letter-spacing($range, $resolver) {
	$amp: get-ampersand();

	// NOTE: Do not use a generator because `$range` describes `%` not `px`.
	@each $v in $range {
		$sign: safe-negative-sign($v);
		#{$amp}#{$sign}tracking-#{escape(safe-abs($v * 100))} {
			letter-spacing: #{if($v == 0, 0, $v + em)};
		}
	}
}

@mixin line-height-from-range($range) {
	// prettier-ignore
	@include generate-from-range(
		"leading",
		(line-height),
		$range,
		none,
	);
}

@mixin text-decoration {
	$amp: get-ampersand();

	@each $v in (line-through, underline) {
		#{$amp}#{$v} {
			text-decoration: #{$v};
		}
	}

	@if not & {
		// `on`:
		@each $v in (line-through, underline) {
			#{$amp}on#{escape($separator)}#{$v}:hover,
			#{$amp}on#{escape($separator)}#{$v}:focus,
			.group:hover #{$amp}group-on#{escape($separator)}#{$v},
			.group:focus #{$amp}group-on#{escape($separator)}#{$v} {
				text-decoration: #{$v};
			}
		}
		// `down`:
		@each $v in (line-through, underline) {
			#{$amp}down#{escape($separator)}#{$v}:active,
			.group:active #{$amp}group-down#{escape($separator)}#{$v} {
				text-decoration: #{$v};
			}
		}
	}
}
