@mixin data-debug {
	[data-debug] :not(path) {
		outline: var(--debug-outline);
		outline-offset: var(--debug-outline-offset);
	}
	[data-debug] .spacer:empty {
		outline: var(--debug-empty-spacer-outline);
		outline-offset: 0; // Reset
	}
}
