@use "sass:math";

@use "../helpers" as *;

@use "../configuration";

@mixin introspection {
	:root {
		--sans: "";
		--serif: "";
		--mono: "";
		--ui-sans: #{font(sans)};
		--ui-serif: #{font(serif)};
		--ui-mono: #{font(mono)};

		--placeholder-color-default: #{color(cool-gray-400, var(--color-opacity))};
		--placeholder-bg-default: #{color(cool-gray-200, var(--bg-opacity))};
		--border-color-default: #{color(cool-gray-200, var(--border-opacity))};
		--transition-duration-default: 300ms;
		--transition-timing-default: #{timing(ease-out)};

		@include generate-vars(colors());
		@include generate-vars(shadows());
		@include generate-vars(timings());

		--theme-transition: background-color var(--theme-transition-duration) var(--theme-transition-timing),
			border-color var(--theme-transition-duration) var(--theme-transition-timing),
			box-shadow var(--theme-transition-duration) var(--theme-transition-timing),
			color var(--theme-transition-duration) var(--theme-transition-timing),
			fill var(--theme-transition-duration) var(--theme-transition-timing),
			opacity var(--theme-transition-duration) var(--theme-transition-timing),
			stroke var(--theme-transition-duration) var(--theme-transition-timing);

		--theme-transition-duration: 500ms;
		--theme-transition-timing: var(--ease-out);

		// [data-stagger]
		--stagger-1-width: #{math.percentage(4 / 8)};
		--stagger-2-width: #{math.percentage(6 / 8)};
		--stagger-3-width: #{math.percentage(7 / 8)};
		--stagger-4-width: #{math.percentage(5 / 8)};
		--stagger-last-width: 50%;

		// [data-debug]
		--debug-outline: 2px solid hsla(210, 100%, 50%, 0.25);
		--debug-empty-spacer-outline: 1px dashed hsla(210, 100%, 50%, 0.25);
		--debug-outline-offset: -2px;
		--debug-spacer-background-color: hsla(210, 100%, 50%, 0.25);
	}
}
