@use "sass:map";
@use "sass:math";

@use "../generators" as *;
@use "../getters" as *;

@use "../configuration";

@mixin introspection {
	:root {
		--sans: "";
		--serif: "";
		--mono: "";

		--ui-sans: #{font(sans)};
		--ui-serif: #{font(serif)};
		--ui-mono: #{font(mono)};

		// // NOTE: Cannot include `$weight-map` because of `var(--black)` collision.
		// @include generate-vars(configuration.$weight-map);
		@include generate-vars(configuration.$decoration-map);
		@include generate-vars(configuration.$color-map);
		@include generate-vars(configuration.$shadow-map);
		@include generate-vars(configuration.$timing-map);

		--placeholder-color-default: var(--cool-gray-400);
		--placeholder-bg-default: var(--cool-gray-200);
		--border-color-default: var(--cool-gray-200);
		--transition-duration-default: 300ms;
		--transition-timing-default: var(--ease-out);

		// prettier-ignore
		--theme-transition:
			background-color var(--theme-transition-duration-default) var(--theme-transition-timing-default),
			border-color     var(--theme-transition-duration-default) var(--theme-transition-timing-default),
			box-shadow       var(--theme-transition-duration-default) var(--theme-transition-timing-default),
			color            var(--theme-transition-duration-default) var(--theme-transition-timing-default),
			fill             var(--theme-transition-duration-default) var(--theme-transition-timing-default),
			opacity          var(--theme-transition-duration-default) var(--theme-transition-timing-default),
			stroke           var(--theme-transition-duration-default) var(--theme-transition-timing-default);

		--theme-transition-duration-default: 600ms;
		--theme-transition-timing-default: var(--ease-out);

		// [data-stagger-id]
		--stagger-id-1-default: #{math.percentage(4 / 8)};
		--stagger-id-2-default: #{math.percentage(6 / 8)};
		--stagger-id-3-default: #{math.percentage(7 / 8)};
		--stagger-id-4-default: #{math.percentage(5 / 8)};
		--stagger-last-default: #{math.percentage(4 / 8)};

		// [data-debug]
		--debug-outline: 2px solid hsla(210, 100%, 50%, 0.25);
		--debug-empty-spacer-outline: 1px dashed hsla(210, 100%, 50%, 0.25);
		--debug-outline-offset: -2px;
		--debug-spacer-background-color: hsla(210, 100%, 50%, 0.25);
	}
}
