@use "sass:math";

@use "../helpers" as *;

@use "../configuration";

@mixin introspection {
	:root {
		// For `*-default` colors.
		--color-opacity: 1;
		--bg-opacity: 1;
		--border-opacity: 1;

		--sans: "";
		--serif: "";
		--mono: "";
		--ui-sans: #{font(sans)};
		--ui-serif: #{font(serif)};
		--ui-mono: #{font(mono)};

		--placeholder-color-default: #{color-var(cool-gray-400, var(--color-opacity))};
		--placeholder-bg-default: #{color-var(cool-gray-200, var(--bg-opacity))};
		--border-color-default: #{color-var(cool-gray-200, var(--border-opacity))};
		--transition-duration-default: 300ms;
		--transition-timing-default: #{timing-var(ease-out)};

		@include generate-vars(configuration.$color-map);
		@include generate-vars(configuration.$shadow-map);
		@include generate-vars(configuration.$timing-map);

		--theme-transition: background-color var(--theme-duration) var(--theme-timing),
			border-color var(--theme-duration) var(--theme-timing), box-shadow var(--theme-duration) var(--theme-timing),
			color var(--theme-duration) var(--theme-timing), fill var(--theme-duration) var(--theme-timing),
			opacity var(--theme-duration) var(--theme-timing), stroke var(--theme-duration) var(--theme-timing);

		--theme-duration: 600ms;
		--theme-timing: var(--ease-out);

		// [data-stagger]
		--stagger-1-width: #{math.percentage(4 / 8)};
		--stagger-2-width: #{math.percentage(6 / 8)};
		--stagger-3-width: #{math.percentage(7 / 8)};
		--stagger-4-width: #{math.percentage(5 / 8)};
		--stagger-last-width: 50%;

		// [data-debug]
		--debug-outline: 2px solid hsla(210, 100%, 50%, 0.25);
		--debug-empty-spacer-outline: 1px dashed hsla(210, 100%, 50%, 0.25);
		--debug-outline-offset: -2px;
		--debug-spacer-background-color: hsla(210, 100%, 50%, 0.25);
	}
}
