@use "../configuration" as *;
@use "../helpers" as *;

@mixin opacity-from-range($opacity-range: $opacity-range) {
	$amp: get-ampersand();

	@each $v in $opacity-range {
		#{$amp}opacity-#{escape($v * 100)} {
			opacity: $v;
		}
	}

	@if not & {
		// `on`:
		@each $v in $opacity-range {
			#{$amp}on#{escape($separator)}opacity-#{escape($v * 100)}:hover,
			#{$amp}on#{escape($separator)}opacity-#{escape($v * 100)}:focus,
			.group:hover #{$amp}group-on#{escape($separator)}opacity-#{escape($v * 100)},
			.group:focus #{$amp}group-on#{escape($separator)}opacity-#{escape($v * 100)} {
				opacity: $v;
			}
		}
		// `down`:
		@each $v in $opacity-range {
			#{$amp}down#{escape($separator)}opacity-#{escape($v * 100)}:active,
			.group:active #{$amp}group-down#{escape($separator)}opacity-#{escape($v * 100)} {
				opacity: $v;
			}
		}
	}
}
