@use "../helpers" as *;

@mixin overflow {
	$amp: get-ampersand();

	$__opts: (hidden, scroll);
	@each $v in $__opts {
		#{$amp}overflow-#{$v} {
			@if $v == scroll {
				-webkit-overflow-scrolling: touch;
			}
			overflow: $v;
		}
	}
	@each $v in $__opts {
		#{$amp}overflow-x-#{$v} {
			@if $v == scroll {
				-webkit-overflow-scrolling: touch;
			}
			overflow-x: $v;
		}
	}
	@each $v in $__opts {
		#{$amp}overflow-y-#{$v} {
			@if $v == scroll {
				-webkit-overflow-scrolling: touch;
			}
			overflow-y: $v;
		}
	}
}
