@use "../configuration" as *;
@use "../helpers" as *;

@mixin whitespace {
	$amp: get-ampersand();

	#{$amp}pre {
		white-space: pre;
	}
	#{$amp}pre-wrap {
		white-space: pre-wrap;
	}
}

@mixin font-style {
	$amp: get-ampersand();

	#{$amp}em {
		font-style: italic;
	}
}

@mixin font-weight {
	$amp: get-ampersand();

	@each $v in (100, 200, 300, 400, 500, 600, 700, 800, 900) {
		#{$amp}strong-#{$v} {
			font-weight: $v;
		}
	}
}

@mixin text-align {
	$amp: get-ampersand();

	#{$amp}text-left {
		text-align: left;
	}
	#{$amp}text-center {
		text-align: center;
	}
	#{$amp}text-right {
		text-align: end;
	}
}

@mixin font-size-from-range($range, $resolver) {
	// prettier-ignore
	@include generate-from-range(
		"text",
		(font-size),
		$range,
		$resolver,
	);
}

@mixin letter-spacing($range, $resolver) {
	$amp: get-ampersand();

	// NOTE: Do not use a generator because `$range` describes `%` not `px`.
	@each $v in $range {
		$sign: safe-get-sign($v);
		// TODO: Percent should be automatic.
		#{$amp}#{$sign}text-x-#{escape(safe-abs($v * 100))} {
			letter-spacing: if($v == 0, 0, $v + em);
		}
	}
}

@mixin line-height-from-range($range) {
	// prettier-ignore
	@include generate-from-range(
		"text-y",
		(line-height),
		$range,
		none,
	);
}

@mixin text-decoration {
	$amp: get-ampersand();

	@each $v in (line-through, underline) {
		#{$amp}#{$v} {
			text-decoration: $v;
		}
		.hover#{escape($separator)}#{$v}:hover {
			text-decoration: $v;
		}
		.focus#{escape($separator)}#{$v}:focus {
			text-decoration: $v;
		}
		.group:hover .group-hover#{escape($separator)}#{$v} {
			text-decoration: $v;
		}
		.group:focus .group-focus#{escape($separator)}#{$v} {
			text-decoration: $v;
		}
	}
}
