@use "../../helpers" as *;

@mixin hstack($variants...) {
	@include variants($variants) using ($v) {
		#{variant("hstack", $v)} {
			--duomo-display: flex; // 0.7.0
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			min-width: min-content; // 0.7.0
		}
		@if $v == none {
			.hstack > * {
				--space: 0;
			}
		}
		#{variant("hstack > * + *", $v)} {
			margin-top: 0;
			margin-left: var(--space);
		}
		#{variant("hstack > .spacer:empty", $v)} {
			margin-left: 0;
		}
		#{variant("hstack > .spacer:empty + *", $v)} {
			margin-left: 0;
		}
	}
}
