@use "../../helpers" as *;

$-align-opts: (
	align-stretch: stretch,
	align-start: flex-start,
	align-center: center,
	align-end: flex-end,
	align-baseline: baseline,
);

$-align-self-opts: (
	align-self-stretch: stretch,
	align-self-start: flex-start,
	align-self-center: center,
	align-self-end: flex-end,
	align-self-baseline: baseline,
);

@mixin modifiers($variants...) {
	@include variants($variants) using ($v) {
		@each $mk, $mv in $-align-self-opts {
			#{variant($mk, $v)} {
				align-self: $mv;
			}
		}

		@each $mk, $mv in $-align-opts {
			#{variant($mk, $v)} {
				align-items: $mv;
			}
		}

		@each $rv in var-join(nrange(), range()) {
			#{variant("#{n($rv)}space-#{abs($rv)} > *", $v)} {
				// NOTE: Use `#{...}` syntax because of custom props.
				--space: #{resolve($rv, rem)};
			}
		}
	}
}
