@use "../../helpers" as *;

@mixin vstack($variants...) {
	@include variants($variants) using ($v) {
		#{variant("vstack", $v)} {
			--duomo-display: flex; // 0.7.0
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-height: min-content; // 0.7.0
		}
		@if $v == none {
			.vstack > * {
				--space: 0;
			}
		}
		#{variant("vstack > * + *", $v)} {
			margin-left: 0;
			margin-top: var(--space);
		}
		// NOTE: Separate classes to simplify generated output.
		#{variant("vstack > .spacer:empty", $v)} {
			margin-top: 0;
		}
		// NOTE: Separate classes to simplify generated output.
		#{variant("vstack > .spacer:empty + *", $v)} {
			margin-top: 0;
		}
	}
}
