@mixin zstack {
	// NOTE: `justify-content` and `align-content` does not work.
	// Therefore use `place-items`.
	//
	// https://twitter.com/bdc/status/1245399999300558853
	.zstack {
		--duomo-display: grid; // 0.7.0
		display: grid;
		& > * {
			--duomo-display: initial;
		}

		place-items: center;
		// NOTE: Explicitly constrain the bounding box.
		// If I remember correctly, this is for `w-full h-full` but
		// Safari breaks on `h-full`. Also, this is more consistent with
		// the `hstack` and `vstack` implementations.
		width: min-content;
		height: min-content;
	}
	.zstack > * {
		grid-area: 1 / 1 / 1 / 1;
	}
}
