@use "../../helpers" as *;

$-opts: (
	tl: (
		top: 0,
		right: null,
		bottom: null,
		left: 0,
	),
	t: (
		top: 0,
		right: null,
		bottom: null,
		left: null,
	),
	tr: (
		top: 0,
		right: 0,
		bottom: null,
		left: null,
	),
	l: (
		top: null,
		right: null,
		bottom: null,
		left: 0,
	),
	r: (
		top: null,
		right: 0,
		bottom: null,
		left: null,
	),
	bl: (
		top: null,
		right: null,
		bottom: 0,
		left: 0,
	),
	b: (
		top: null,
		right: null,
		bottom: 0,
		left: null,
	),
	br: (
		top: null,
		right: 0,
		bottom: 0,
		left: null,
	),
);

@mixin zstack($variants...) {
	// prettier-ignore
	.zstack {
		--duomo-display: grid;
		& > * { --duomo-display: initial; }
	}

	.zstack {
		display: grid;
		place-items: center;
		position: relative;
	}

	// https://codepen.io/everdimension/pen/BaNpeWe
	//
	// prettier-ignore
	.zstack > * {
		grid-area:
			1 / // grid-row-start
			1 / // grid-column-start
			1 / // grid-row-end
			1;  // grid-column-end
	}

	@include variants($variants...) using ($v) {
		@each $mk, $mv in $-opts {
			#{variant(place-#{$mk}, $v)} {
				position: absolute;
				@each $nk, $nv in $mv {
					#{$nk}: $nv;
				}
				z-index: 10;
			}
		}
	}
}
