@use "sass:map";

@use "../configuration" as conf;
@use "singular-var";

@function weight-vars() {
	@if conf.$layout {
		@warn "weight-vars: cannot access `*-var` getters when `$layout=true`";
	}

	$map: ();
	@each $mk, $mv in conf.$weight-map {
		$map: map.set($map, $mk, singular-var.weight-var($mk));
	}
	@return $map;
}

@function font-vars() {
	@if conf.$layout {
		@warn "font-vars: cannot access `*-var` getters when `$layout=true`";
	}

	$map: ();
	@each $mk, $mv in conf.$font-map {
		$map: map.set($map, $mk, singular-var.font-var($mk));
	}
	@return $map;
}

@function decoration-vars() {
	@if conf.$layout {
		@warn "decoration-vars: cannot access `*-var` getters when `$layout=true`";
	}

	$map: ();
	@each $mk, $mv in conf.$decoration-map {
		$map: map.set($map, $mk, singular-var.decoration-var($mk));
	}
	@return $map;
}

@function color-vars($alpha: null, $opts) {
	@if conf.$layout {
		@warn "color-vars: cannot access `*-var` getters when `$layout=true`";
	}

	$subset: map.get($opts, subset);
	$map: ();
	@each $mk, $mv in if($subset, conf.$subset-color-map, conf.$color-map) {
		$map: map.set($map, $mk, singular-var.color-var($mk, $alpha));
	}
	@return $map;
}

@function shadow-vars() {
	@if conf.$layout {
		@warn "shadow-vars: cannot access `*-var` getters when `$layout=true`";
	}

	$map: ();
	@each $mk, $mv in conf.$shadow-map {
		$map: map.set($map, $mk, singular-var.shadow-var($mk));
	}
	@return $map;
}

@function timing-vars() {
	@if conf.$layout {
		@warn "timing-vars: cannot access `*-var` getters when `$layout=true`";
	}

	$map: ();
	@each $mk, $mv in conf.$timing-map {
		$map: map.set($map, $mk, singular-var.timing-var($mk));
	}
	@return $map;
}
