@use "sass:map";

@use "../configuration" as conf;
@use "singular";

@function weights() {
	$map: ();
	@each $mk, $_ in conf.$weight-map {
		$map: map.set($map, $mk, singular.weight($mk));
	}
	@return $map;
}

@function fonts() {
	$map: ();
	@each $mk, $_ in conf.$font-map {
		$map: map.set($map, $mk, singular.font($mk));
	}
	@return $map;
}

@function decorations() {
	$map: ();
	@each $mk, $_ in conf.$decoration-map {
		$map: map.set($map, $mk, singular.decoration($mk));
	}
	@return $map;
}

@function colors($alpha: null, $opts) {
	$subset: map.get($opts, subset);
	$map: ();
	@each $mk, $_ in if($subset, conf.$subset-color-map, conf.$color-map) {
		$map: map.set($map, $mk, singular.color($mk, $alpha));
	}
	@return $map;
}

@function shadows() {
	$map: ();
	@each $mk, $_ in conf.$shadow-map {
		$map: map.set($map, $mk, singular.shadow($mk));
	}
	@return $map;
}

@function timings() {
	$map: ();
	@each $mk, $_ in conf.$timing-map {
		$map: map.set($map, $mk, singular.timing($mk));
	}
	@return $map;
}

@function breakpoints() {
	$map: ();
	@each $mk, $_ in conf.$breakpoint-map {
		$map: map.set($map, $mk, singular.breakpoint($mk));
	}
	@return $map;
}
