@use "sass:list";
@use "sass:map";

@use "singular" as *;

@use "../configuration";

@function weights() {
	$list: ();
	@each $mk, $mv in configuration.$weight-map {
		$list: list.append($list, weight($mk));
	}
	@return $list;
}

@function fonts() {
	$list: ();
	@each $mk, $mv in configuration.$font-map {
		$list: list.append($list, font($mk));
	}
	@return $list;
}

@function decorations() {
	$list: ();
	@each $mk, $mv in configuration.$decoration-map {
		$list: list.append($list, decoration($mk));
	}
	@return $list;
}

@function colors($alpha: null, $opts) {
	$subset: map.get($opts, subset);
	$list: ();
	@each $mk, $mv in if($subset, configuration.$subset-color-map, configuration.$color-map) {
		$list: list.append($list, color($mk, $alpha));
	}
	@return $list;
}

@function shadows() {
	$list: ();
	@each $mk, $mv in configuration.$shadow-map {
		$list: list.append($list, shadow($mk));
	}
	@return $list;
}

@function timings() {
	$list: ();
	@each $mk, $mv in configuration.$timing-map {
		$list: list.append($list, timing($mk));
	}
	@return $list;
}

// NOTE: Returns a map -- not a list.
@function breakpoints() {
	$map: ();
	@each $mk, $mv in configuration.$breakpoint-map {
		$map: map.set($map, $mk, breakpoint($mk));
	}
	@return $map;
}
