@use "sass:string";

@use "getter" as *;

@use "../configuration";
@use "../utils";

@function weight-var($key) {
	$_: getter("weight-var", configuration.$weight-map, $key);
	@return var(--#{$key});
}

@function font-var($key) {
	$_: getter("font-var", configuration.$font-map, $key);
	@return var(--#{$key});
}

@function decoration-var($key) {
	$_: getter("decoration-var", configuration.$decoration-map, $key);
	@return var(--#{$key});
}

@function color-var($key, $alpha: null) {
	$got: getter("color", configuration.$color-map, $key);
	@if $key == transparent or $key == current {
		// @if $alpha {
		// 	@error "color-var: cannot accept `$key=transparent` or `$key=current` and `$alpha=#{$alpha}`";
		// }
		@return var(--#{$key});
	}
	@if $alpha {
		@return string.unquote("hsla(var(--#{$key}), #{$alpha})");
	}
	@return string.unquote("hsl(var(--#{$key}))");
}

@function shadow-var($key) {
	@if not utils.str-starts-with($key, "shadow-") {
		$key: "shadow-" + $key;
	}
	$_: getter("shadow-var", configuration.$shadow-map, $key);
	@return var(--#{$key});
}

@function timing-var($key) {
	$_: getter("timing-var", configuration.$timing-map, $key);
	@return var(--#{$key});
}
