@use "sass:map";
@use "sass:string";

@use "../configuration" as conf;
@use "../utils";

@function -impl($getter-name, $map, $key) {
	$got: map.get($map, $key);
	@if not $got {
		@error "#{$getter-name}: no such key `$key`; $key=#{$key}";
	}
	@return $got;
}

@function weight($key) {
	@return -impl("weight", conf.$weight-map, $key);
}

@function font($key) {
	@return -impl("font", conf.$font-map, $key);
}

@function decoration($key) {
	@return -impl("decoration", conf.$decoration-map, $key);
}

@function color($key, $alpha: null) {
	$got: -impl("color", conf.$color-map, $key);
	@if $key == transparent or $key == current {
		// @if $alpha {
		// 	@error "color-var: cannot accept `$key=transparent` or `$key=current` and `$alpha=#{$alpha}`";
		// }
		@return $got;
	}
	@if $alpha {
		@return string.unquote("hsla(#{$got}, #{$alpha})");
	}
	@return string.unquote("hsl(#{$got})");
}

@function shadow($key) {
	@if not utils.str-starts-with($key, "shadow-") {
		$key: "shadow-" + $key;
	}
	@return -impl("shadow", conf.$shadow-map, $key);
}

@function timing($key) {
	@return -impl("timing", conf.$timing-map, $key);
}

@function breakpoint($key) {
	@return -impl("breakpoint", conf.$breakpoint-map, $key);
}
