@use "sass:string";

@use "getter" as *;

@use "../configuration" as conf;
@use "../utils";

@function weight-var($key) {
	@if conf.$layout {
		@warn "weight-var: cannot access `*-var` getters when `$layout=true`";
	}

	$_: getter("weight-var", conf.$weight-map, $key);
	@return var(--#{$key});
}

@function font-var($key) {
	@if conf.$layout {
		@warn "font-var: cannot access `*-var` getters when `$layout=true`";
	}

	$_: getter("font-var", conf.$font-map, $key);
	@return var(--#{$key});
}

@function decoration-var($key) {
	@if conf.$layout {
		@warn "decoration-var: cannot access `*-var` getters when `$layout=true`";
	}

	$_: getter("decoration-var", conf.$decoration-map, $key);
	@return var(--#{$key});
}

@function color-var($key, $alpha: null) {
	@if conf.$layout {
		@warn "color-var: cannot access `*-var` getters when `$layout=true`";
	}

	$got: getter("color", conf.$color-map, $key);
	@if $key == transparent or $key == current {
		// @if $alpha {
		// 	@error "color-var: cannot accept `$key=transparent` or `$key=current` and `$alpha=#{$alpha}`";
		// }
		@return var(--#{$key});
	}
	@if $alpha {
		@return string.unquote("hsla(var(--#{$key}), #{$alpha})");
	}
	@return string.unquote("hsl(var(--#{$key}))");
}

@function shadow-var($key) {
	@if conf.$layout {
		@warn "shadow-var: cannot access `*-var` getters when `$layout=true`";
	}

	@if not utils.str-starts-with($key, "shadow-") {
		$key: "shadow-" + $key;
	}
	$_: getter("shadow-var", conf.$shadow-map, $key);
	@return var(--#{$key});
}

@function timing-var($key) {
	@if conf.$layout {
		@warn "timing-var: cannot access `*-var` getters when `$layout=true`";
	}

	$_: getter("timing-var", conf.$timing-map, $key);
	@return var(--#{$key});
}
