@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

// prettier-ignore
$-align-self-opts: (
	align-self-stretch: stretch,
	align-self-start: flex-start,
	align-self-center: center,
	align-self-end: flex-end,
	align-self-baseline: baseline,
);

@mixin align-self($variants...) {
	@each $variant in $variants {
		@each $mk, $mv in $-align-self-opts {
			.#{$mk} {
				@include mixins.variants($variant) {
					align-self: $mv;
				}
			}
		}
	}
}
