@use "../generators" as *;
@use "../getters" as *;

@use "../configuration";
@use "../utils";

// prettier-ignore
@mixin background-color($variants...) {
	@include variants($variants...) using ($v) {
		// TODO
		// @if utils.matches($v, core) {
		// 	.bg-placeholder {
		// 		--bg-opacity: 1;
		// 		background-color: hsla(var(--placeholder-bg-default), var(--bg-opacity));
		// 	}
		// }
		@include generate-from-colors((
			variant: $v,
			shorthand: bg,
			property: (background-color),
			map: if(configuration.$layout, null, configuration.$subset-color-map),
			percent-range: percent-range(),
		));
	}
}
