@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins" as mix;
@use "../utils";

// prettier-ignore
@mixin background-color($variants...) {
	@each $variant in $variants {
		@include mix.generate-from-colors((
			variant: $variant,
			shorthand: bg,
			property: (background-color),
			map: if(conf.$layout, null, conf.$subset-color-map),
			percent-range: get.percent-range(),
		));
	}
}
