@use "../configuration" as conf;
@use "../generators" as gen;
@use "../getters" as get;
@use "../utils";

// prettier-ignore
@mixin border-width($variants...) {
	@each $variant in $variants {
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: border,
			property: (border-width),
			range: get.border-widths(),
			resolver: rem,
		));
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: border-x,
			property: (border-left-width, border-right-width),
			range: get.border-widths(),
			resolver: rem,
		));
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: border-y,
			property: (border-top-width, border-bottom-width),
			range: get.border-widths(),
			resolver: rem,
		));
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: border-top,
			property: (border-top-width),
			range: get.border-widths(),
			resolver: rem,
		));
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: border-right,
			property: (border-right-width),
			range: get.border-widths(),
			resolver: rem,
		));
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: border-bottom,
			property: (border-bottom-width),
			range: get.border-widths(),
			resolver: rem,
		));
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: border-left,
			property: (border-left-width),
			range: get.border-widths(),
			resolver: rem,
		));
	}
}
