@use "../helpers" as *;

@use "../configuration";

// prettier-ignore
@mixin border-color($variants...) {
	@include variants($variants...) using ($v) {
		@include generate-from-colors((
			variant: $v,
			shorthand: border,
			property: (border-color),
			map: if(configuration.$skeleton, skeleton-colors(), colors()),
			percent-range: percent-range(),
		));
	}
}
