@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins" as mix;
@use "../utils";

// prettier-ignore
@mixin border-color($variants...) {
	@each $variant in $variants {
		@include mix.generate-from-colors((
			variant: $variant,
			shorthand: border,
			property: (border-color),
			map: if(conf.$layout, null, conf.$subset-color-map),
			percent-range: get.percent-range(),
		));
	}
}
