@use "../generators" as *;
@use "../getters" as *;

@use "../configuration";

// prettier-ignore
@mixin border-color($variants...) {
	@include variants($variants...) using ($v) {
		@include generate-from-colors((
			variant: $v,
			shorthand: border,
			property: (border-color),
			map: if(configuration.$skeleton, null, configuration.$subset-color-map),
			percent-range: percent-range(),
		));
	}
}
