@use "../generators" as *;
@use "../getters" as *;

@use "../utils";

// prettier-ignore
@mixin border-radius($variants...) {
	@include variants($variants...) using ($v) {
		@include generate-from-range((
			variant: $v,
			shorthand: rounded,
			property: (border-radius),
			range: utils.list-of(utils.limit(range(), null, 32), 9999px),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: rounded-top,
			property: (border-top-left-radius, border-top-right-radius),
			range: utils.list-of(utils.limit(range(), null, 32), 9999px),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: rounded-right,
			property: (border-top-right-radius, border-bottom-right-radius),
			range: utils.list-of(utils.limit(range(), null, 32), 9999px),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: rounded-bottom,
			property: (border-bottom-left-radius, border-bottom-right-radius),
			range: utils.list-of(utils.limit(range(), null, 32), 9999px),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: rounded-left,
			property: (border-top-left-radius, border-bottom-left-radius),
			range: utils.list-of(utils.limit(range(), null, 32), 9999px),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: rounded-top-right,
			property: (border-top-right-radius),
			range: utils.list-of(utils.limit(range(), null, 32), 9999px),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: rounded-bottom-right,
			property: (border-bottom-right-radius),
			range: utils.list-of(utils.limit(range(), null, 32), 9999px),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: rounded-bottom-left,
			property: (border-bottom-left-radius),
			range: utils.list-of(utils.limit(range(), null, 32), 9999px),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: rounded-top-left,
			property: (border-top-left-radius),
			range: utils.list-of(utils.limit(range(), null, 32), 9999px),
			resolver: rem,
		));
	}
}
