@use "sass:list";

@use "../configuration" as conf;
@use "../generators" as gen;
@use "../getters" as get;
@use "../mixins" as mix;
@use "../utils";

@function -vendored-shadow-keys() {
	$map: ();
	@each $mk, $mv in conf.$shadow-map {
		$map: list.append($map, var(--dm-#{$mk}), comma);
	}
	@return $map;
}

@mixin box-shadow($variants...) {
	@if not conf.$layout {
		@each $variant in $variants {
			.shadow {
				@include mix.variants($variant) {
					@each $mk, $mv in conf.$shadow-map {
						--dm-#{$mk}: 0 0 transparent;
					}
					box-shadow: -vendored-shadow-keys();
				}
			}

			@each $mk, $mv in conf.$shadow-map {
				.#{$mk} {
					@include mix.variants($variant) {
						--dm-#{$mk}: #{get.shadow-var($mk)};
					}
				}
			}
		}
	}
}
