@use "sass:list";

@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

// Ex:
//
// -var-shadows()
//
// -> (
// ->   var(--dm-shadow-sm),
// ->   var(--dm-shadow-md),
// ->   ...
// -> )
//
@function -var-shadows() {
	$map: ();
	@each $mk, $mv in conf.$shadow-map {
		$map: list.append($map, var(--dm-#{$mk}), comma);
	}
	@return $map;
}

@mixin box-shadow($variants...) {
	@if not conf.$layout {
		@include mixins.compose($variants) using ($composed) {
			.shadow {
				@include mixins.variants($composed...) {
					@each $mk, $mv in conf.$shadow-map {
						--dm-#{$mk}: 0 0 transparent;
					}
					box-shadow: -var-shadows();
				}
			}

			@each $mk, $mv in conf.$shadow-map {
				.#{$mk} {
					@include mixins.variants($composed...) {
						--dm-#{$mk}: #{get.shadow($mk)};
					}
				}
			}
		}
	}
}
