@use "../helpers" as *;

// prettier-ignore
@mixin color($variants...) {
	@include variants($variants...) using ($v) {
		@include generate-from-colors((
			variant: $v,
			shorthand: color,
			property: (color),
			map: colors(),
			percent-range: percent-range(),
		));
	}
}
