@use "sass:list";
@use "sass:map";

@use "../utils2";

@function __new-rgba-map($color-map, $alpha-channel) {
	$merged: ();

	@each $k, $v in $color-map {
		$to-merge: ();
		@if $v == transparent or $v == currentColor {
			$to-merge: (#{$k}: #{$v});
		} @else {
			$to-merge: (#{$k}: rgba(list.nth($v, 1), list.nth($v, 2), list.nth($v, 3), #{$alpha-channel}));
		}
		$merged: map.merge($merged, $to-merge);
	}

	@return $merged;
}

@mixin __generate-colors($property, $shorthand, $color-map, $alpha-range) {
	$amp: utils2.get-ampersand();

	@each $k, $v in __new-rgba-map($color-map, var(--#{$shorthand}-opacity)) {
		#{$amp}#{$shorthand}-#{$k} {
			--#{$shorthand}-opacity: 1;
			#{$property}: #{rgb(map.get($color-map, $k)...)};
			#{$property}: #{$v};
		}
	}
	@each $v in $alpha-range {
		#{$amp}#{$shorthand}-opacity-#{$v * 100} {
			--#{$shorthand}-opacity: #{$v};
		}
	}
}

@mixin color($color-map, $alpha-range) {
	@include __generate-colors(color, "text", $color-map, $alpha-range);
}

@mixin background-color($color-map, $alpha-range) {
	@include __generate-colors(background-color, "bg", $color-map, $alpha-range);
}

// TODO: Possibly move to border submodule.
@mixin border-color($color-map, $alpha-range) {
	@include __generate-colors(border-color, "border", $color-map, $alpha-range);
}
