@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

// prettier-ignore
@mixin color($variants...) {
	@include mixins.compose($variants) using ($composed) {
		@include mixins.generate-from-colors((
			composed: $composed,
			shorthand: color,
			property: (color),
			map: if(conf.$layout, null, conf.$subset-color-map),
			percent-range: get.percent-range(),
		));
	}
}
