@use "../configuration" as conf;
@use "../generators" as gen;
@use "../getters" as get;
@use "../utils";

@use "../mixins" as mx;

// prettier-ignore
$-wrap-opts: (
	wrap: wrap,
	wrap-reverse: wrap-reverse,
	wrap-none: nowrap,
);

@mixin flex-wrap($variants...) {
	@each $variant in $variants {
		@each $mk, $mv in $-wrap-opts {
			.#{$mk} {
				@include mx.variants($variant) {
					flex-wrap: $mv;
				}
			}
		}
	}
}
