@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

// prettier-ignore
$-opts: (
	wrap: wrap,
	wrap-reverse: wrap-reverse,
	wrap-none: nowrap,
);

@mixin flex-wrap($variants...) {
	@include mixins.compose($variants) using ($composed) {
		@each $mk, $mv in $-opts {
			.#{$mk} {
				@include mixins.variants($composed...) {
					flex-wrap: $mv;
				}
			}
		}
	}
}
