@use "../user";
@use "../util";

@use "sass:string";

@mixin whitespace {
	@if not & {
		// Text does not wrap.
		.whitespace-pre {
			white-space: pre;
		}
		// Text wraps.
		.whitespace-pre-wrap {
			white-space: pre-wrap;
		}
	}
}

@mixin text-align {
	@if not & {
		.text-center {
			text-align: center;
		}
	}
}

// TODO: Add `font-style`.

@mixin font-weight {
	@if not & {
		@each $v in util.range(100, 900, 100) {
			.font-#{$v} {
				font-weight: #{$v};
			}
		}
	}
}

@mixin font-size-from-range($range, $resolver) {
	// prettier-ignore
	@include util.generate-from-range(
		"text",
		(font-size),
		$range,
		$resolver,
	);
}

@debug string.quote("0.5");

// TODO (1): Add `tracking`.
// TODO (2): Change to line-height-from-range.
@mixin line-height-from-map($map, $conv-fn) {
	// @include util.generate-from-map("leading", (line-height), $map, $conv-fn);
}

// TODO: Add support for `group`?
@mixin line-decoration {
	@if not & {
		.underline,
		.touch#{user.$separator}underline:hover,
		.touch#{user.$separator}underline:focus,
		.group .touch#{user.$separator}underline:hover,
		.group .touch#{user.$separator}underline:focus {
			text-decoration: underline;
		}
	}
}
