@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

// prettier-ignore
@mixin font-size($variants...) {
	@each $variant in $variants {
		@include mixins.generate-from-range((
			variant: $variant,
			shorthand: text,
			property: (font-size),
			range: get.font-sizes(),
			resolver: rem,
		));
	}
}
