@use "../generators" as *;
@use "../getters" as *;

@use "../utils";

// prettier-ignore
@mixin font-size($variants...) {
	@include variants($variants...) using ($v) {
		@include generate-from-range((
			variant: $v,
			shorthand: text,
			property: (font-size),
			range: utils.limit(range(), 8, 64),
			resolver: rem,
		));
	}
}
