@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins" as mix;
@use "../utils";

@mixin grid($variants...) {
	@each $variant in $variants {
		@if utils.matches($variant, core) {
			.grid {
				display: grid;
			}
		}

		@for $rv from 0 through 12 {
			.grid-cols-#{$rv} {
				@include mix.variants($variant) {
					grid-template-columns: repeat($rv, minmax(0, 1fr));
				}
			}
		}
		@for $rv from 0 through 12 {
			.grid-rows-#{$rv} {
				@include mix.variants($variant) {
					grid-template-rows: repeat($rv, minmax(0, 1fr));
				}
			}
		}

		@each $rv in get.spaces() {
			.gap-#{$rv} {
				@include mix.variants($variant) {
					gap: utils.rem($rv);
				}
			}
		}
		@each $rv in get.spaces() {
			.gap-x-#{$rv} {
				@include mix.variants($variant) {
					column-gap: utils.rem($rv);
				}
			}
		}
		@each $rv in get.spaces() {
			.gap-y-#{$rv} {
				@include mix.variants($variant) {
					row-gap: utils.rem($rv);
				}
			}
		}
	}
}
