@use "../util";

@mixin grid-from-range($range, $resolver) {
	$amp: util.get-ampersand();

	#{$amp}grid {
		display: grid;
	}

	@for $x from 0 through 12 {
		#{$amp}grid-cols-#{$x} {
			grid-template-columns: repeat(#{$x}, minmax(0, 1fr));
		}
	}
	@for $x from 0 through 12 {
		#{$amp}grid-rows-#{$x} {
			grid-template-rows: repeat(#{$x}, minmax(0, 1fr));
		}
	}

	@each $v in $range {
		#{$amp}gap-#{$v} {
			gap: #{util.resolve($v, $resolver)};
		}
	}
	@each $v in $range {
		#{$amp}gap-x-#{$v} {
			column-gap: #{util.resolve($v, $resolver)};
		}
	}
	@each $v in $range {
		#{$amp}gap-y-#{$v} {
			row-gap: #{util.resolve($v, $resolver)};
		}
	}
}
