@use "../generators" as *;
@use "../getters" as *;

@use "../configuration";
@use "../utils";

@mixin grid($variants...) {
	@include variants($variants...) using ($v) {
		@if utils.matches($v, core) {
			.grid {
				display: grid;
			}
		}

		@for $rv from 0 through 12 {
			#{variant(grid-cols-#{$rv}, $v)} {
				grid-template-columns: repeat($rv, minmax(0, 1fr));
			}
		}
		@for $rv from 0 through 12 {
			#{variant(grid-rows-#{$rv}, $v)} {
				grid-template-rows: repeat($rv, minmax(0, 1fr));
			}
		}

		@each $rv in spaces() {
			#{variant(gap-#{$rv}, $v)} {
				gap: rem($rv);
			}
		}
		// @each $rv in spaces() {
		// 	#{variant(gap-x-#{$rv}, $v)} {
		// 		column-gap: rem($rv);
		// 	}
		// }
		// @each $rv in spaces() {
		// 	#{variant(gap-y-#{$rv}, $v)} {
		// 		row-gap: rem($rv);
		// 	}
		// }
	}
}
