@use "../configuration" as conf;
@use "../generators" as gen;
@use "../getters" as get;
@use "../utils";

// prettier-ignore
@mixin height($variants...) {
	@each $variant in $variants {
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: h,
			property: (height),
			range: utils.list-of(auto, get.sizes(), min-content, max-content, 100%, 100vh),
			resolver: rem,
		));
	}
}
