@use "../configuration" as conf;
@use "../generators" as gen;
@use "../getters" as get;
@use "../mixins" as mix;
@use "../utils";

// prettier-ignore
@mixin max-width($variants...) {
	@each $variant in $variants {
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: max-w,
			property: (max-width),
			range: utils.list-of(auto, min-content, max-content),
			resolver: rem,
		));
		@each $key, $px in get.breakpoints() {
			.max-w-#{$key} {
				@include mix.variants($variant) {
					max-width: $px;
				}
			}
		}
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: max-w,
			property: (max-width),
			range: utils.list-of(100%, 100vw),
			resolver: rem,
		));
	}
}
