@use "../generators" as *;
@use "../getters" as *;

@use "../utils";

// prettier-ignore
@mixin max-width($variants...) {
	@include variants($variants...) using ($v) {
		@include generate-from-range((
			variant: $v,
			shorthand: max-w,
			property: (max-width),
			range: utils.list-of(auto, min-content, max-content),
			resolver: rem,
		));
		@each $key, $px in breakpoints() {
			#{variant(max-w-#{$key}, $v)} {
				max-width: $px;
			}
		}
		@include generate-from-range((
			variant: $v,
			shorthand: max-w,
			property: (max-width),
			range: utils.list-of(100%, 100vw),
			resolver: rem,
		));
	}
}
