@use "../configuration" as conf;
@use "../generators" as gen;
@use "../getters" as get;
@use "../mixins" as mix;
@use "../utils";

// prettier-ignore
@mixin min-height($variants...) {
	@each $variant in $variants {
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: min-h,
			property: (min-height),
			range: utils.list-of(auto, min-content, max-content, 100%, 100vh),
			resolver: rem,
		));
	}
}
