@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

// prettier-ignore
@mixin min-width($variants...) {
	@include mixins.compose($variants) using ($composed) {
		@include mixins.generate-from-range((
			composed: $composed,
			shorthand: min-w,
			property: (min-width),
			range: utils.list-of(auto, min-content, max-content),
			resolver: rem,
		));
		@each $key, $px in get.breakpoints() {
			.min-w-#{$key} {
				@include mixins.variants($composed...) {
					min-width: $px;
				}
			}
		}
		@include mixins.generate-from-range((
			composed: $composed,
			shorthand: min-w,
			property: (min-width),
			range: utils.list-of(100%, 100vw),
			resolver: rem,
		));
	}
}
