@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins" as mix;
@use "../utils";

// prettier-ignore
@mixin opacity($variants...) {
	@each $variant in $variants {
		@include mix.generate-from-range((
			variant: $variant,
			shorthand: opacity,
			property: (opacity),
			range: if(conf.$layout, null, get.percent-range()),
			resolver: none,
		));
	}
}
