@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

// prettier-ignore
@mixin opacity($variants...) {
	@include mixins.compose($variants) using ($composed) {
		@include mixins.generate-from-range((
			composed: $composed,
			shorthand: opacity,
			property: (opacity),
			range: if(conf.$layout, null, get.percent-range()),
			resolver: none,
		));
	}
}
