@use "../configuration" as conf;
@use "../generators" as gen;
@use "../getters" as get;
@use "../mixins" as mix;
@use "../utils";

// prettier-ignore
@mixin padding($variants...) {
	@each $variant in $variants {
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: p,
			property: (padding),
			range: get.spaces(),
			resolver: rem,
		));
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: px,
			property: (padding-left, padding-right),
			range: get.spaces(),
			resolver: rem,
		));
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: py,
			property: (padding-top, padding-bottom),
			range: get.spaces(),
			resolver: rem,
		));
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: pt,
			property: (padding-top),
			range: get.spaces(),
			resolver: rem,
		));
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: pr,
			property: (padding-right),
			range: get.spaces(),
			resolver: rem,
		));
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: pb,
			property: (padding-bottom),
			range: get.spaces(),
			resolver: rem,
		));
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: pl,
			property: (padding-left),
			range: get.spaces(),
			resolver: rem,
		));
	}
}
