@use "../util";

@mixin pointer-events {
	$amp: util.get-ampersand();

	// TODO: Rename to `no-touch`?
	#{$amp}no-pointer-events {
		pointer-events: none;
	}
	// TODO: Rename to `touch`?
	#{$amp}pointer-events {
		pointer-events: auto;
	}
}
