@use "../utils";

@mixin __impl($shorthand, $props, $range, $resolver) {
	$amp: utils.get-ampersand();

	@each $v in $range {
		$minus: utils.safe-minus($v);
		#{$amp}#{$minus}#{$shorthand}-#{utils.safe-abs($v)} {
			@each $prop in $props {
				#{$prop}: #{utils.resolve($v, $resolver)};
			}
		}
	}

	@if ($shorthand == "l" or $shorthand == "r") or ($shorthand == "t" or $shorthand == "b") {
		#{$amp}#{$shorthand}-full {
			@each $prop in $props {
				#{$prop}: 100%;
			}
		}
	}
}

// prettier-ignore
@mixin position-from-range($range, $resolver) {
	$amp: utils.get-ampersand();

	@each $position in static, relative, absolute, fixed, sticky {
		#{$amp}#{$position} {
			position: #{$position};
		}
	}

	@include __impl(
		"x",
		(left, right),
		$range,
		$resolver,
	);
	@include __impl(
		"l",
		(left),
		$range,
		$resolver,
	);
	@include __impl(
		"r",
		(right),
		$range,
		$resolver,
	);
	@include __impl(
		"y",
		(top, bottom),
		$range,
		$resolver,
	);
	@include __impl(
		"t",
		(top),
		$range,
		$resolver,
	);
	@include __impl(
		"b",
		(bottom),
		$range,
		$resolver,
	);
	@include __impl(
		"tl",
		(top, left),
		$range,
		$resolver,
	);
	@include __impl(
		"tr",
		(top, right),
		$range,
		$resolver,
	);
	@include __impl(
		"bl",
		(bottom, left),
		$range,
		$resolver,
	);
	@include __impl(
		"br",
		(bottom, right),
		$range,
		$resolver,
	);
}
