@use "../utils2";

@mixin __impl($shorthand, $props, $range, $resolver) {
	$amp: utils2.get-ampersand();

	@each $v in $range {
		$minus: utils2.safe-minus($v);
		#{$amp}#{$minus}#{$shorthand}-#{utils2.safe-abs($v)} {
			@each $prop in $props {
				#{$prop}: #{utils2.resolve($v, $resolver)};
			}
		}
	}

	@if ($shorthand == "l" or $shorthand == "r") or ($shorthand == "t" or $shorthand == "b") {
		#{$amp}#{$shorthand}-full {
			@each $prop in $props {
				#{$prop}: 100%;
			}
		}
	}
}

@mixin tooltip {
	$amp: utils2.get-ampersand();

	#{$amp}tooltip-tl {
		top: 0;
		left: 0;
		transform: translateX(0) translateY(-100%);
	}
	#{$amp}tooltip-t {
		top: 0;
		left: 50%;
		transform: translateX(-50%) translateY(-100%);
	}
	#{$amp}tooltip-tr {
		top: 0;
		right: 0;
		transform: translateX(0) translateY(-100%);
	}
	#{$amp}tooltip-bl {
		bottom: 0;
		left: 0;
		transform: translateX(0) translateY(100%);
	}
	#{$amp}tooltip-b {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%) translateY(100%);
	}
	#{$amp}tooltip-br {
		bottom: 0;
		right: 0;
		transform: translateX(0) translateY(100%);
	}
}

// prettier-ignore
@mixin position-from-range($range, $resolver) {
	$amp: utils2.get-ampersand();

	@each $position in static, relative, absolute, fixed, sticky {
		#{$amp}#{$position} {
			position: #{$position};
		}
	}

	@include __impl(
		"x",
		(left, right),
		$range,
		$resolver,
	);
	@include __impl(
		"l",
		(left),
		$range,
		$resolver,
	);
	@include __impl(
		"r",
		(right),
		$range,
		$resolver,
	);
	@include __impl(
		"y",
		(top, bottom),
		$range,
		$resolver,
	);
	@include __impl(
		"t",
		(top),
		$range,
		$resolver,
	);
	@include __impl(
		"b",
		(bottom),
		$range,
		$resolver,
	);
	@include __impl(
		"tl",
		(top, left),
		$range,
		$resolver,
	);
	@include __impl(
		"tr",
		(top, right),
		$range,
		$resolver,
	);
	@include __impl(
		"bl",
		(bottom, left),
		$range,
		$resolver,
	);
	@include __impl(
		"br",
		(bottom, right),
		$range,
		$resolver,
	);

	@include tooltip;
}
