@use "../utils";

@mixin whitespace {
	@if not & {
		// Text does not wrap.
		.whitespace-pre {
			white-space: pre;
		}
		// Text wraps.
		.whitespace-pre-wrap {
			white-space: pre-wrap;
		}
	}
}

@mixin text-align {
	@if not & {
		@each $v in (start, center, end) {
			.text-#{$v} {
				text-align: #{$v};
			}
		}
	}
}

// @mixin font-style {
// 	@if not & {
// 		.italic {
// 			font-style: italic;
// 		}
// 	}
// }

@mixin font-weight {
	@if not & {
		@each $v in utils.range(100, 900, 100) {
			.font-#{$v} {
				font-weight: #{$v};
			}
		}
	}
}

@mixin font-size-from-range($range, $resolver) {
	// prettier-ignore
	@include utils.generate-from-range(
		"text",
		(font-size),
		$range,
		$resolver,
	);
}

// TODO (1): Add `tracking`.
// TODO (2): Change to line-height-from-range.
@mixin line-height-from-map($map, $conv-fn) {
	// @include utils.generate-from-map("leading", (line-height), $map, $conv-fn);
}

// TODO: Add support for `group`?
@mixin line-decoration {
	$separator: "\\:"; // TODO

	@if not & {
		.underline,
		.touch#{$separator}underline:hover {
			text-decoration: underline;
		}
	}
}
