@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

$-opts: (
	strikethrough: line-through,
	underline: underline,
);

@mixin text-decoration($variants...) {
	@include mixins.compose($variants) using ($composed) {
		@each $mk, $mv in $-opts {
			.#{$mk} {
				@include mixins.variants($composed...) {
					text-decoration: $mv;
				}
			}
		}
	}
}
