@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins" as mix;
@use "../utils";

$-opts: (
	strikethrough: line-through,
	underline: underline,
);

@mixin text-decoration($variants...) {
	@each $variant in $variants {
		@each $mk, $mv in $-opts {
			.#{$mk} {
				@include mix.variants($variant) {
					text-decoration: $mv;
				}
			}
		}
	}
}
