@use "../generators" as *;
@use "../getters" as *;

@use "../configuration";
@use "../utils";

$-opts: (
	strikethrough: line-through,
	underline: underline,
);

@mixin text-decoration($variants...) {
	@include variants($variants...) using ($v) {
		@each $mk, $mv in $-opts {
			#{variant($mk, $v)} {
				text-decoration: $mv;
			}
		}
	}
}
