@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

// prettier-ignore
$-translate-range: (
	-100,
	 -50,
	   0,
	  50,
	 100,
);

$-origin-opts: (
	top: top,
	top-right: top right,
	right: right,
	bottom-right: bottom right,
	bottom: bottom,
	bottom-left: bottom left,
	left: left,
	top-left: top left,
	center: center,
);

@mixin transform($variants...) {
	@include mixins.compose($variants) using ($composed) {
		.transform {
			@include mixins.variants($composed...) {
				--transform-translate-x: 0;
				--transform-translate-y: 0;
				--transform-scale: 1;
				transform: translate(var(--transform-translate-x), var(--transform-translate-y)) scale(var(--transform-scale));
			}
		}

		.transform-gpu {
			@include mixins.variants($composed...) {
				--transform-translate-x: 0;
				--transform-translate-y: 0;
				--transform-scale: 1;
				transform: translate3d(var(--transform-translate-x), var(--transform-translate-y), 0)
					scale(var(--transform-scale));
			}
		}

		@each $axis in (x, y) {
			@each $rv in $-translate-range {
				.#{get.n($rv)}translate-#{$axis}-#{abs($rv)} {
					@include mixins.variants($composed...) {
						--transform-translate-#{$axis}: #{$rv + "%"};
					}
				}
			}
		}

		@each $rv in get.decimal-range(0, 1) {
			// $rv : 0, 0.1, 0.2, 0.25, 0.3, 0.4, 0.5, 0.6, 0.7, 0.75, 0.8, 0.9, 1,
			.scale-#{get.abs($rv * 100)} {
				@include mixins.variants($composed...) {
					--transform-scale: #{$rv};
				}
			}
		}

		@each $rv in get.decimal-range(1, 1) {
			// $rv : 1.1, 1.2, 1.25, 1.3, 1.4, 1.5, 1.6, 1.7, 1.75, 1.8, 1.9, 2,
			.scale-#{get.abs($rv * 100)} {
				@include mixins.variants($composed...) {
					--transform-scale: #{$rv};
				}
			}
		}

		@each $mk, $mv in $-origin-opts {
			.origin-#{$mk} {
				@include mixins.variants($composed...) {
					transform-origin: $mv;
				}
			}
		}
	}
}
