@use "sass:list";

@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

// TODO: Change to `percent-range`.
//
// prettier-ignore
$-range: (
	   0,
	 100,
	 200,
	 250,
	 300,
	 400,
	 500,
	 600,
	 700,
	 750,
	 800,
	 900,
	1000,
);

@mixin transition($variants...) {
	@each $variant in $variants {
		// FIXME: https://github.com/zaydek/duomo/issues/244.
		:root:not([data-theme-effect]) .transition {
			@include mixins.variants($variant) {
				--transition-duration: var(--default-transition-duration);
				--transition-timing: var(--default-transition-timing);
				transition: var(--transition-duration) var(--transition-timing);
				transition-property: list.append(conf.$transition-props, transform);
			}
		}

		@each $rv in $-range {
			.duration-#{$rv} {
				@include mixins.variants($variant) {
					--transition-duration: #{$rv + ms};
				}
			}
		}

		@each $mk, $mv in conf.$timing-map {
			.#{$mk} {
				@include mixins.variants($variant) {
					--transition-timing: #{$mv};
				}
			}
		}
	}
}
