@use "sass:list";

@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

@mixin transition($variants...) {
	@each $variant in $variants {
		// TODO: https://github.com/zaydek/duomo/issues/244.
		:root:not([data-theme-effect]) .transition {
			@include mixins.variants($variant) {
				--transition-duration: var(--default-transition-duration);
				--transition-timing: var(--default-transition-timing);
				transition: var(--transition-duration) var(--transition-timing);
				transition-property: list.append(conf.$transition-props, transform);
			}
		}

		@each $rv in get.decimal-range(0, 1000) {
			.duration-#{$rv} {
				@include mixins.variants($variant) {
					--transition-duration: #{$rv + ms};
				}
			}
		}

		@each $mk, $mv in conf.$timing-map {
			.#{$mk} {
				@include mixins.variants($variant) {
					--transition-timing: #{$mv};
				}
			}
		}
	}
}
