@use "../user";
@use "../util";

@use "sass:string";

@mixin whitespace {
	$amp: util.get-ampersand();

	// Text does not wrap.
	#{$amp}whitespace-pre {
		white-space: pre;
	}
	// Text wraps.
	#{$amp}whitespace-pre-wrap {
		white-space: pre-wrap;
	}
}

@mixin text-align {
	$amp: util.get-ampersand();

	#{$amp}text-center {
		text-align: center;
	}
}

// TODO: Add `font-style`.

@mixin font-weight {
	$amp: util.get-ampersand();

	@each $v in util.range(100, 900, 100) {
		#{$amp}font-#{$v} {
			font-weight: #{$v};
		}
	}
}

@mixin font-size-from-range($range, $resolver) {
	// prettier-ignore
	@include util.generate-from-range(
		"text",
		(font-size),
		$range,
		$resolver,
	);
}

@mixin line-height-from-range($range, $resolver) {
	// prettier-ignore
	@include util.generate-from-range(
		"leading",
		(line-height),
		$range,
		$resolver,
	);
}

// .touched#{user.$separator}underline:active,
// .group .touched#{user.$separator}underline:active {

@mixin line-decoration {
	$amp: util.get-ampersand();

	#{$amp}underline,
	#{$amp}touch#{user.$separator}underline:hover,
	#{$amp}touch#{user.$separator}underline:focus,
	.group #{$amp}touch#{user.$separator}underline:hover,
	.group #{$amp}touch#{user.$separator}underline:focus {
		text-decoration: underline;
	}
}
