@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

$-opts: (
	auto: normal,
	preserve: pre,
	preserve-wrap: pre-wrap,
	collapse: nowrap,
	collapse-wrap: pre-line,
);

@mixin white-space($variants...) {
	@include mixins.compose($variants) using ($composed) {
		@each $mk, $mv in $-opts {
			.ws-#{$mk} {
				@include mixins.variants($composed...) {
					white-space: $mv;
				}
			}
		}
	}
}
