@use "../helpers" as *;

$-opts: (
	ws-auto: normal,
	ws-preserve: pre,
	ws-preserve-wrap: pre-wrap,
	ws-collapse: nowrap,
	ws-collapse-wrap: pre-line,
);

@mixin white-space($variants...) {
	@include variants($variants...) using ($v) {
		@each $mk, $mv in $-opts {
			#{variant($mk, $v)} {
				white-space: $mv;
			}
		}
	}
}
