@use "../configuration" as conf;
@use "../generators" as gen;
@use "../getters" as get;
@use "../mixins" as mix;
@use "../utils";

$-opts: (
	auto: normal,
	preserve: pre,
	preserve-wrap: pre-wrap,
	collapse: nowrap,
	collapse-wrap: pre-line,
);

@mixin white-space($variants...) {
	@each $variant in $variants {
		@each $mk, $mv in $-opts {
			.ws-#{$mk} {
				@include mix.variants($variant) {
					white-space: $mv;
				}
			}
		}
	}
}
