@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins" as mix;
@use "../utils";

// prettier-ignore
@mixin width($variants...) {
	@each $variant in $variants {
		@include mix.generate-from-range((
			variant: $variant,
			shorthand: w,
			property: (width),
			range: utils.list-of(auto, get.sizes(), min-content, max-content, 100%, 100vw),
			resolver: rem,
		));
	}
}
