@use "../configuration" as conf;
@use "../generators" as gen;
@use "../getters" as get;
@use "../mixins" as mix;
@use "../utils";

// prettier-ignore
$-range: (
	-10,
	  0,
	 10,
	 20,
	 30,
	 40,
	 50,
);

// prettier-ignore
@mixin z-index($variants...) {
	@each $variant in $variants {
		@include gen.generate-from-range((
			variant: $variant,
			shorthand: z,
			property: (z-index),
			range: $-range,
			resolver: none,
		));
	}
}
