@use "sass:list";
@use "sass:map";

@use "builder.call-mixin" as *;
@use "configuration";
@use "helpers" as *;

@use "meta/custom-props-from-maps" as *;
@use "meta/debug-space" as *;
@use "meta/debug" as *;
@use "meta/stagger" as *;

@use "preflight/custom-tailwind-base" as *;
@use "preflight/modern-normalize" as *;
@use "preflight/vendored-font-smoothing" as *;

// prettier-ignore
$variants: (
	group: (),
	stacks: (responsive),
	grid: (responsive),
	position: (responsive),
	margin: (responsive),
	padding: (responsive),
	width: (responsive),
	max-width: (responsive),
	container: (),
	height: (responsive),
	min-height: (responsive),
	shape: (responsive),
	aspect-ratio: (/* TODO */),
	color: (responsive, touch, group-touch),
	background-color: (responsive, touch, group-touch),
	border-width: (responsive),
	border-color: (responsive, touch, group-touch),
	border-radius: (responsive),
	box-shadow: (responsive, touch, group-touch),
	opacity: (responsive, touch, group-touch),
	overflow: (responsive),
	z-index: (responsive, touch, group-touch),
	pointer-events: (responsive),
	transform: (responsive, touch, group-touch),
	directives: (responsive, touch, group-touch),
);

@at-root {
	@if not configuration.$headless {
		/*! duomo | MIT License | https://github.com/zaydek/duomo */

		/* purgecss start ignore */
		@include modern-normalize;
		@include custom-tailwind-base;
		@include vendored-font-smoothing;
		/* purgecss end ignore */

		@if configuration.$debugger {
			@include debug;
			@include debug-space;
		}
		@if configuration.$stagger {
			@include stagger;
		}

		// prettier-ignore
		@include custom-props-from-maps(
			(shorthand: none, map: fonts($raw: true)),
			(shorthand: none, map: colors($raw: true)),
			(shorthand: shadow, map: shadows($raw: true)),
			(shorthand: none, map: timings($raw: true)),
			(shorthand: breakpoint, map: breakpoints($raw: true)),
		);

		// TODO: Add `take` pattern here.
		@each $mk, $mv in $variants {
			@if $mk != directives {
				@include call-mixin($mk, var-join(root, take($mv, responsive))...);
			}
		}
		@each $mk, $mv in $variants {
			@if $mk != directives {
				@if list.index($mv, responsive) {
					@include call-mixin($mk, responsive);
				}
			}
		}
		// `directives` **must** be at the end:
		@if map.get($variants, directives) {
			@include call-mixin(directives, var-join(root, map.get($variants, directives))...);
		}
	}
}
