@use "../helpers" as *;

$-quote: "''";

$-fonts: (
	sans: $-quote,
	serif: $-quote,
	mono: $-quote,
	system-sans: font(sans, $raw: true),
	system-serif: font(serif, $raw: true),
	system-mono: font(mono, $raw: true),
);

$-reset-vars: (
	placeholder-color-default: color(gray-400),
	border-color-default: color(gray-200),
	transition-duration-default: 300ms,
	transition-timing-function-default: timing(ease-out),
);

// prettier-ignore
@mixin introspection {
	:root {
		@include generate-vars(
			colors($raw: true),
			shadows($raw: true),
			timings($raw: true),
			$-fonts,
			$-reset-vars,
		);
	}
}
