$currentColor: currentColor;
$transparent: transparent;
$white: #ffffff;
$black: #000000;
$gray-50: #f9fafb;
$gray-100: #f4f5f7;
$gray-200: #e5e7eb;
$gray-300: #d2d6dc;
$gray-400: #9fa6b2;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #252f3f;
$gray-900: #161e2e;
$cool-gray-50: #f8fafc;
$cool-gray-100: #f1f5f9;
$cool-gray-200: #e2e8f0;
$cool-gray-300: #cfd8e3;
$cool-gray-400: #97a6ba;
$cool-gray-500: #64748b;
$cool-gray-600: #475569;
$cool-gray-700: #364152;
$cool-gray-800: #27303f;
$cool-gray-900: #1a202e;
$red-50: #fdf2f2;
$red-100: #fde8e8;
$red-200: #fbd5d5;
$red-300: #f8b4b4;
$red-400: #f98080;
$red-500: #f05252;
$red-600: #e02424;
$red-700: #c81e1e;
$red-800: #9b1c1c;
$red-900: #771d1d;
$orange-50: #fff8f1;
$orange-100: #feecdc;
$orange-200: #fcd9bd;
$orange-300: #fdba8c;
$orange-400: #ff8a4c;
$orange-500: #ff5a1f;
$orange-600: #d03801;
$orange-700: #b43403;
$orange-800: #8a2c0d;
$orange-900: #73230d;
$yellow-50: #fdfdea;
$yellow-100: #fdf6b2;
$yellow-200: #fce96a;
$yellow-300: #faca15;
$yellow-400: #e3a008;
$yellow-500: #c27803;
$yellow-600: #9f580a;
$yellow-700: #8e4b10;
$yellow-800: #723b13;
$yellow-900: #633112;
$green-50: #f3faf7;
$green-100: #def7ec;
$green-200: #bcf0da;
$green-300: #84e1bc;
$green-400: #31c48d;
$green-500: #0e9f6e;
$green-600: #057a55;
$green-700: #046c4e;
$green-800: #03543f;
$green-900: #014737;
$teal-50: #edfafa;
$teal-100: #d5f5f6;
$teal-200: #afecef;
$teal-300: #7edce2;
$teal-400: #16bdca;
$teal-500: #0694a2;
$teal-600: #047481;
$teal-700: #036672;
$teal-800: #05505c;
$teal-900: #014451;
$blue-50: #ebf5ff;
$blue-100: #e1effe;
$blue-200: #c3ddfd;
$blue-300: #a4cafe;
$blue-400: #76a9fa;
$blue-500: #3f83f8;
$blue-600: #1c64f2;
$blue-700: #1a56db;
$blue-800: #1e429f;
$blue-900: #233876;
$indigo-50: #f0f5ff;
$indigo-100: #e5edff;
$indigo-200: #cddbfe;
$indigo-300: #b4c6fc;
$indigo-400: #8da2fb;
$indigo-500: #6875f5;
$indigo-600: #5850ec;
$indigo-700: #5145cd;
$indigo-800: #42389d;
$indigo-900: #362f78;
$purple-50: #f6f5ff;
$purple-100: #edebfe;
$purple-200: #dcd7fe;
$purple-300: #cabffd;
$purple-400: #ac94fa;
$purple-500: #9061f9;
$purple-600: #7e3af2;
$purple-700: #6c2bd9;
$purple-800: #5521b5;
$purple-900: #4a1d96;
$pink-50: #fdf2f8;
$pink-100: #fce8f3;
$pink-200: #fad1e8;
$pink-300: #f8b4d9;
$pink-400: #f17eb8;
$pink-500: #e74694;
$pink-600: #d61f69;
$pink-700: #bf125d;
$pink-800: #99154b;
$pink-900: #751a3d;

// // TODO
// $currentColor: currentColor;
// $transparent: transparent;
// $white: 255, 255, 255;
// $black: 0, 0, 0;
// $gray-50: 250, 250, 250;
// $gray-100: 244, 244, 245;
// $gray-200: 228, 228, 231;
// $gray-300: 212, 212, 216;
// $gray-400: 161, 161, 170;
// $gray-500: 113, 113, 122;
// $gray-600: 82, 82, 91;
// $gray-700: 63, 63, 70;
// $gray-800: 39, 39, 42;
// $gray-900: 24, 24, 27;
// $red-50: 254, 242, 242;
// $red-100: 254, 226, 226;
// $red-200: 254, 202, 202;
// $red-300: 252, 165, 165;
// $red-400: 248, 113, 113;
// $red-500: 239, 68, 68;
// $red-600: 220, 38, 38;
// $red-700: 185, 28, 28;
// $red-800: 153, 27, 27;
// $red-900: 127, 29, 29;
// $yellow-50: 255, 251, 235;
// $yellow-100: 254, 243, 199;
// $yellow-200: 253, 230, 138;
// $yellow-300: 252, 211, 77;
// $yellow-400: 251, 191, 36;
// $yellow-500: 245, 158, 11;
// $yellow-600: 217, 119, 6;
// $yellow-700: 180, 83, 9;
// $yellow-800: 146, 64, 14;
// $yellow-900: 120, 53, 15;
// $green-50: 236, 253, 245;
// $green-100: 209, 250, 229;
// $green-200: 167, 243, 208;
// $green-300: 110, 231, 183;
// $green-400: 52, 211, 153;
// $green-500: 16, 185, 129;
// $green-600: 5, 150, 105;
// $green-700: 4, 120, 87;
// $green-800: 6, 95, 70;
// $green-900: 6, 78, 59;
// $blue-50: 239, 246, 255;
// $blue-100: 219, 234, 254;
// $blue-200: 191, 219, 254;
// $blue-300: 147, 197, 253;
// $blue-400: 96, 165, 250;
// $blue-500: 59, 130, 246;
// $blue-600: 37, 99, 235;
// $blue-700: 29, 78, 216;
// $blue-800: 30, 64, 175;
// $blue-900: 30, 58, 138;
// $purple-50: 245, 243, 255;
// $purple-100: 237, 233, 254;
// $purple-200: 221, 214, 254;
// $purple-300: 196, 181, 253;
// $purple-400: 167, 139, 250;
// $purple-500: 139, 92, 246;
// $purple-600: 124, 58, 237;
// $purple-700: 109, 40, 217;
// $purple-800: 91, 33, 182;
// $purple-900: 76, 29, 149;
// $pink-50: 253, 242, 248;
// $pink-100: 252, 231, 243;
// $pink-200: 251, 207, 232;
// $pink-300: 249, 168, 212;
// $pink-400: 244, 114, 182;
// $pink-500: 236, 72, 153;
// $pink-600: 219, 39, 119;
// $pink-700: 190, 24, 93;
// $pink-800: 157, 23, 77;
// $pink-900: 131, 24, 67;

$color-map: (
	current: $currentColor,
	transparent: $transparent,
	white: $white,
	black: $black,
	gray-50: $gray-50,
	gray-100: $gray-100,
	gray-200: $gray-200,
	gray-300: $gray-300,
	gray-400: $gray-400,
	gray-500: $gray-500,
	gray-600: $gray-600,
	gray-700: $gray-700,
	gray-800: $gray-800,
	gray-900: $gray-900,
	cool-gray-50: $cool-gray-50,
	cool-gray-100: $cool-gray-100,
	cool-gray-200: $cool-gray-200,
	cool-gray-300: $cool-gray-300,
	cool-gray-400: $cool-gray-400,
	cool-gray-500: $cool-gray-500,
	cool-gray-600: $cool-gray-600,
	cool-gray-700: $cool-gray-700,
	cool-gray-800: $cool-gray-800,
	cool-gray-900: $cool-gray-900,
	red-50: $red-50,
	red-100: $red-100,
	red-200: $red-200,
	red-300: $red-300,
	red-400: $red-400,
	red-500: $red-500,
	red-600: $red-600,
	red-700: $red-700,
	red-800: $red-800,
	red-900: $red-900,
	orange-50: $orange-50,
	orange-100: $orange-100,
	orange-200: $orange-200,
	orange-300: $orange-300,
	orange-400: $orange-400,
	orange-500: $orange-500,
	orange-600: $orange-600,
	orange-700: $orange-700,
	orange-800: $orange-800,
	orange-900: $orange-900,
	yellow-50: $yellow-50,
	yellow-100: $yellow-100,
	yellow-200: $yellow-200,
	yellow-300: $yellow-300,
	yellow-400: $yellow-400,
	yellow-500: $yellow-500,
	yellow-600: $yellow-600,
	yellow-700: $yellow-700,
	yellow-800: $yellow-800,
	yellow-900: $yellow-900,
	green-50: $green-50,
	green-100: $green-100,
	green-200: $green-200,
	green-300: $green-300,
	green-400: $green-400,
	green-500: $green-500,
	green-600: $green-600,
	green-700: $green-700,
	green-800: $green-800,
	green-900: $green-900,
	teal-50: $teal-50,
	teal-100: $teal-100,
	teal-200: $teal-200,
	teal-300: $teal-300,
	teal-400: $teal-400,
	teal-500: $teal-500,
	teal-600: $teal-600,
	teal-700: $teal-700,
	teal-800: $teal-800,
	teal-900: $teal-900,
	blue-50: $blue-50,
	blue-100: $blue-100,
	blue-200: $blue-200,
	blue-300: $blue-300,
	blue-400: $blue-400,
	blue-500: $blue-500,
	blue-600: $blue-600,
	blue-700: $blue-700,
	blue-800: $blue-800,
	blue-900: $blue-900,
	indigo-50: $indigo-50,
	indigo-100: $indigo-100,
	indigo-200: $indigo-200,
	indigo-300: $indigo-300,
	indigo-400: $indigo-400,
	indigo-500: $indigo-500,
	indigo-600: $indigo-600,
	indigo-700: $indigo-700,
	indigo-800: $indigo-800,
	indigo-900: $indigo-900,
	purple-50: $purple-50,
	purple-100: $purple-100,
	purple-200: $purple-200,
	purple-300: $purple-300,
	purple-400: $purple-400,
	purple-500: $purple-500,
	purple-600: $purple-600,
	purple-700: $purple-700,
	purple-800: $purple-800,
	purple-900: $purple-900,
	pink-50: $pink-50,
	pink-100: $pink-100,
	pink-200: $pink-200,
	pink-300: $pink-300,
	pink-400: $pink-400,
	pink-500: $pink-500,
	pink-600: $pink-600,
	pink-700: $pink-700,
	pink-800: $pink-800,
	pink-900: $pink-900,
);

// prettier-ignore
$sans:
	ui-sans-serif,
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	Arial,
	"Noto Sans",
	sans-serif,
	"Apple Color Emoji",
	"Segoe UI Emoji",
	"Segoe UI Symbol",
	"Noto Color Emoji";

// prettier-ignore
$serif:
	ui-serif,
	Georgia,
	Cambria,
	"Times New Roman",
	Times,
	serif;

// prettier-ignore
$mono:
	ui-monospace,
	Menlo,
	Monaco,
	Consolas,
	"Liberation Mono",
	"Courier New",
	monospace;

$font-family-map: (
	sans: $sans,
	serif: $serif,
	mono: $mono,
);

$box-shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
$box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$box-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
$box-shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

$box-shadow-named-map: (
	shadow-xs: $box-shadow-xs,
	shadow-sm: $box-shadow-sm,
	shadow: $box-shadow,
	shadow-md: $box-shadow-md,
	shadow-lg: $box-shadow-lg,
	shadow-xl: $box-shadow-xl,
	shadow-2xl: $box-shadow-2xl,
);

$linear: linear;
$ease-in: cubic-bezier(0.4, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.2, 1);
$ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

$timing-function-map: (
	linear: $linear,
	ease-in: $ease-in,
	ease-out: $ease-out,
	ease-in-out: $ease-in-out,
);
