@use "sass:list";

@use "core";
@use "meta";
@use "utils";
@use "vars";

// @use "vars/maps";
// @use "vars/ranges";

@mixin preflight {
	/* purgecss start ignore */
	@include meta.tailwind-base;
	// prettier-ignore
	@include meta.custom-props-from-maps(
		vars.$font-family-map,
		vars.$box-shadow-map,
		vars.$timing-function-map,
	);
	@include meta.macos-retina;
	@include meta.stagger;
	@include meta.debugger;
	/* purgecss end ignore */
}

// @function range-from-map($map) {
// 	$range: ();
// 	@each $k, $v in $map {
// 		$range: list.append($range, $v);
// 	}
// 	@return $range;
// }

// TODO: Debug something.

@mixin props {
	@include core.container-from-breakpoint-map($breakpoint-map: vars.$breakpoint-map);

	// @if false {
	@include core.display;
	@include core.stack-from-range($range: vars.$standard-range, $resolver: rem);
	@include core.grid-from-range($range: vars.$standard-range, $resolver: rem);
	@include core.margin-from-range(
		$range: list.join(list.join(vars.$negative-range, auto), vars.$standard-range),
		$resolver: rem
	);
	@include core.padding-from-range($range: vars.$standard-range, $resolver: rem);
	@include core.position-from-range(
		// prettier-ignore
		$range: (0),
		$resolver: rem
	);
	@include core.tooltip;
	// }

	// @include width-from-range(ranges.$standard, rem);
	// TODO: We need a function to interpolate a breakpoint map.
	// @include width-from-range(($xs, $sm, $md, $lg, $xl), px);
	// // TODO
	// $amp: get-dynamic-ampersand();
	// @each $key, $value in ("full": 100%, "screen": 100vw) {
	// 	#{$amp}w-#{$key} {
	// 		width: #{$value};
	// 	}
	// }
	// @include max-width-from-map(maps.$breakpoint, px);
	// @include height-from-range(ranges.$standard, rem);

	// @include core.text-align;
	// @include core.font-style;
	// @include core.font-weight;
	// @include core.font-size-from-range(ranges.$font-size, rem);
	// @include core.leading-from-map(ranges.$leading, passthrough);
	// @include core.line-decoration;

	// @if false {
	@if not & {
		@include core.color-from-map($map: vars.$color-map, $alpha-range: vars.$alpha-range);
		@include core.background-color-from-map($map: vars.$color-map, $alpha-range: vars.$alpha-range);
	}
	@include core.border-width-from-range($range: vars.$border-width-range, $resolver: rem);
	@if not & {
		@include core.border-color-from-map($map: vars.$color-map, $alpha-range: vars.$alpha-range);
	}
	@include core.border-radius-from-range($range: vars.$border-radius-range, $resolver: rem);
	@include core.box-shadow-from-map($map: vars.$box-shadow-map);
	@include core.overflow;
	@include core.z-index-from-range($range: vars.$z-index-range);
	@include core.pointer-events;
	// }
}

@at-root {
	/*! @zaydek/duomo | MIT License | https://github.com/zaydek/duomo */
	// @include preflight;

	@include props;
	@each $key, $value in vars.$breakpoint-map {
		@media (min-width: #{utils.px($value)}) {
			.#{$key} {
				@at-root {
					@include props;
				}
			}
		}
	}
}
