@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

@mixin theme($theme-map, $transition-duration: null, $transition-timing-function: null) {
	$themes: ();
	@each $k1, $v1 in $theme-map {
		@each $k2, $v2 in $v1 {
			@if $k2 != "property" and $k2 != "light" and not list.index($themes, $k2) {
				$themes: list.append($themes, $k2);
			}
		}
	}

	@at-root {
		body {
			@each $k1, $v1 in $theme-map {
				$got: map.get($v1, "light");
				@if $got {
					#{$k1}: #{$got};
				}
			}
			// prettier-ignore
			@if $transition-duration and $transition-timing-function {
				--theme-transition: background-color #{$transition-duration} #{$transition-timing-function}, border-color #{$transition-duration} #{$transition-timing-function}, box-shadow #{$transition-duration} #{$transition-timing-function}, color #{$transition-duration} #{$transition-timing-function}, fill #{$transition-duration} #{$transition-timing-function}, opacity #{$transition-duration} #{$transition-timing-function}, stroke #{$transition-duration} #{$transition-timing-function}, transform #{$transition-duration} #{$transition-timing-function};
			}
		}
		@each $theme in $themes {
			body[data-theme="#{"" + $theme}"] {
				@each $k1, $v1 in $theme-map {
					$got: map.get($v1, $theme);
					@if $got {
						#{$k1}: #{$got};
					}
				}
			}
		}

		@each $k1, $v1 in $theme-map {
			.#{string.slice($k1, string.length("--") + 1)} {
				#{map.get($v1, "property")}: var(#{$k1});
				@if $transition-duration and $transition-timing-function {
					transition: var(--theme-transition);
				}
			}
		}

		// (:hover, :focus, .group)
		@each $k1, $v1 in $theme-map {
			.touch\:#{string.slice($k1, string.length("--") + 1)}:hover,
			.touch\:#{string.slice($k1, string.length("--") + 1)}:focus,
			.group:hover .group-touch\:#{string.slice($k1, string.length("--") + 1)},
			.group:focus .group-touch\:#{string.slice($k1, string.length("--") + 1)} {
				#{map.get($v1, "property")}: var(#{$k1});
			}
		}

		// (:active, .group)
		@each $k1, $v1 in $theme-map {
			.press\:#{string.slice($k1, string.length("--") + 1)}:active,
			.group:active .group-press\:#{string.slice($k1, string.length("--") + 1)} {
				#{map.get($v1, "property")}: var(#{$k1});
			}
		}
	}
}
