@use "sass:list";

// Convenience function for the `transition` property.
//
// Input:
//
//   .foo {
//     transition: transition((color, background-color), 1s, ease-out);
//   }
//
// Output:
//
//   .foo {
//     transition: color 1s ease-out,
//       background-color 1s ease-out;
//   }
//
@function transition($properties, $duration, $easing, $optional-delay: null) {
	$list-out: ();
	@each $property in $properties {
		@if not $optional-delay {
			$list-out: list-out.append($list-out, $property $duration $easing, comma);
		} @else {
			$list-out: list-out.append($list-out, $property $duration $easing $optional-delay, comma);
		}
	}
	@return $list-out;
}
