// prettier-ignore
$sans: (
	ui-sans-serif,
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	Arial,
	"Noto Sans",
	sans-serif,
	"Apple Color Emoji",
	"Segoe UI Emoji",
	"Segoe UI Symbol",
	"Noto Color Emoji",
) !default;

// prettier-ignore
$serif: (
	ui-serif,
	Georgia,
	Cambria,
	"Times New Roman",
	Times,
	serif,
) !default;

// prettier-ignore
$mono: (
	ui-monospace,
	Menlo,
	Monaco,
	Consolas,
	"Liberation Mono",
	"Courier New",
	monospace,
) !default;

// prettier-ignore
$font-map: (
	sans: $sans,
	serif: $serif,
	mono: $mono,
) !default;
