$shadow-xs: (0 0 0 1px rgba(0, 0, 0, 0.05)) !default;
$shadow-sm: (0 1px 2px 0 rgba(0, 0, 0, 0.05)) !default;
$shadow-base: (0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)) !default;
$shadow-md: (0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)) !default;
$shadow-lg: (0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)) !default;
$shadow-xl: (0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)) !default;
$shadow-2xl: (0 25px 50px -12px rgba(0, 0, 0, 0.25)) !default;

$shadow-map: (
	xs: $shadow-xs,
	sm: $shadow-sm,
	// FIXME
	base: $shadow-base,
	md: $shadow-md,
	lg: $shadow-lg,
	xl: $shadow-xl,
	2xl: $shadow-2xl,
) !default;
