$linear: linear !default;
$ease-in: cubic-bezier(0.4, 0, 1, 1) !default;
$ease-out: cubic-bezier(0, 0, 0.2, 1) !default;
$ease-in-out: cubic-bezier(0.4, 0, 0.2, 1) !default;

$timing-map: (
	linear: $linear,
	ease-in: $ease-in,
	ease-out: $ease-out,
	ease-in-out: $ease-in-out,
) !default;
