@use "sass:map";
@use "sass:math";
@use "sass:meta";

@use "../../configuration";
@use "../escapers" as esc;
@use "../resolvers";

// Ex:
//
// n(-1) -> "-"
// n(0) -> ""
//
@function n($rv) {
	@if resolvers.passthrough($rv) {
		@return "";
	}
	@return if($rv < 0, "-", "");
}

// Ex:
//
// abs("Hello, world!") -> "Hello, world!"
// abs(-42)             -> 42
// abs(42)              -> 42
//
@function abs($any) {
	@if meta.type-of($any) == number {
		@return math.abs($any);
	}
	@return $any;
}

// Ex: delimiter() -> "\\:"
@function delimiter() {
	@return esc.escape(configuration.$delimiter);
}

// Ex: delimit(sm) -> "sm\\:"
@function delimit($key) {
	@return esc.escape-breakpoint-key($key) + delimiter();
}

// Ex:
//
// desc(auto)  -> auto
// desc(0)     -> 0
// desc(100%)  -> max
// desc(100vw) -> screen
//
@function desc($any, $as-percent: false) {
	// prettier-ignore
	$got: map.get((
		min-content: min,
		max-content: max,
		100%: full,
		100vw: screen,
		100vh: screen,
		9999px: full,
	), $any);
	@if $got {
		@return $got;
	}
	@if meta.type-of($any) == number and $as-percent {
		$rv: $any;
		@return esc.escape($rv * 100);
	}
	$rv: $any;
	@return esc.escape($rv);
}
