@use "sass:string";

@use "getter" as *;

@use "../../configuration";
@use "../../utils";

@function weight($key) {
	@return getter("weight", configuration.$weight-map, $key);
}

@function font($key) {
	@return getter("font", configuration.$font-map, $key);
}

// NOTE: Use `hsl(...)`.
@function color($key, $alpha: null) {
	$got: getter("color", configuration.$color-map, $key);
	@if $alpha {
		@return string.unquote("hsla(#{$got}, #{$alpha})");
	}
	@return string.unquote("hsl(#{$got})");
}

// NOTE: Use `hsl(...)`.
@function color-var($key, $alpha: null) {
	$got: getter("color", configuration.$color-map, $key);
	@if $alpha {
		@return string.unquote("hsla(var(--#{$key}), #{$alpha})");
	}
	@return string.unquote("hsl(var(--#{$key}))");
}

@function decoration($key) {
	@return getter("decoration", configuration.$decoration-map, $key);
}

@function shadow($key) {
	@if not utils.str-starts-with($key, "shadow-") {
		$key: "shadow-" + $key;
	}
	@return getter("shadow", configuration.$shadow-map, $key);
}

@function timing($key) {
	@return getter("timing", configuration.$timing-map, $key);
}

@function breakpoint($key) {
	@return getter("breakpoint", configuration.$breakpoint-map, $key);
}
