@use "sass:map";

@use "../../configuration";

@function -getter($getter-name, $map, $key, $raw: false) {
	$got: map.get($map, $key);
	@if not $got {
		@error "#{$getter-name}: no such key `$key`; $key=#{$key}";
	}
	@return $got;
}

@function font($key, $raw: false) {
	$got: -getter("font", configuration.$font-map, $key);
	@if $raw {
		@return $got;
	}
	@return var(--#{$key});
}

@function weight($key, $raw: false) {
	$got: -getter("weight", configuration.$weight-map, $key);
	@if $raw {
		@return $got;
	}
	@return var(--#{$key});
}

@function decoration($key, $raw: false) {
	$got: -getter("decoration", configuration.$decoration-map, $key);
	@if $raw {
		@return $got;
	}
	@return var(--#{$key});
}

@function skeleton-color($key, $raw: false) {
	$got: -getter("skeleton-color", configuration.$skeleton-color-map, $key);
	@if $raw {
		@return $got;
	}
	@return var(--#{$key});
}

@function color($key, $raw: false) {
	$got: -getter("color", configuration.$color-map, $key);
	@if $raw {
		@return $got;
	}
	@return var(--#{$key});
}

@function shadow($key, $raw: false) {
	$got: -getter("shadow", configuration.$shadow-map, $key);
	@if $raw {
		@return $got;
	}
	@return var(--#{$key});
}

@function timing($key, $raw: false) {
	$got: -getter("timing", configuration.$timing-map, $key);
	@if $raw {
		@return $got;
	}
	@return var(--#{$key});
}

// NOTE: `$raw` defaults to `true`.
//
// TOOD
@function breakpoint($key, $raw: true) {
	$got: -getter("breakpoint", configuration.$breakpoint-map, $key);
	@if $raw {
		@return $got;
	}
	@return var(--#{$key});
}
