@use "sass:color";
@use "sass:map";
@use "sass:math";

// Ex:
//
// color-to-raw-hsl(#fff)
// -> (0deg, 0%, 100%)
//
@function color-to-raw-hsl($color) {
	@if $color == transparent or $color == currentColor {
		@return $color;
	}
	// prettier-ignore
	$raw-hsl: (
		math.round(color.hue($color)),
		math.round(color.saturation($color)),
		math.round(color.lightness($color)),
	);
	@return $raw-hsl;
}

// Ex:
//
// color-to-raw-hsl((white: #fff, black: #000))
// -> (white: hsl(0deg, 0%, 100%), black: hsl(0deg, 0%, 0%))
//
@function color-to-raw-hsl-map($color-map) {
	$hsl-map: ();
	@each $mk, $mv in $color-map {
		$hsl-map: map.set($hsl-map, $mk, color-to-raw-hsl($mv));
	}
	@return $hsl-map;
}
