@use "sass:list";

@function generate-range($start, $end, $step) {
	$range: ();
	$current: $start;
	@while $current < $end {
		$range: list.append($range, $current);
		$current: $current + $step;
	}
	@return $range;
}
