@use "sass:list";

// Ex:
//
// bar((0, -1, -2, -3, -4), 2) -> (-2, -3, -4)
// bar((0, 1, 2, 3, 4), 2) -> (2, 3, 4)
//
@function -bar($range, $limit) {
	$list: ();
	@if $limit < 0 {
		@each $rv in $range {
			@if $rv <= $limit {
				$list: list.append($list, $rv);
			}
		}
	} @else {
		@each $rv in $range {
			@if $rv >= $limit {
				$list: list.append($list, $rv);
			}
		}
	}
	@return $list;
}

// Ex:
//
// cap((0, -1, -2, -3, -4), -2) -> (0, -1, -2)
// cap((0, 1, 2, 3, 4), 2) -> (0, 1, 2)
//
@function -cap($range, $limit) {
	$list: ();
	@if $limit < 0 {
		@each $rv in $range {
			@if $rv >= $limit {
				$list: list.append($list, $rv);
			}
		}
	} @else {
		@each $rv in $range {
			@if $rv <= $limit {
				$list: list.append($list, $rv);
			}
		}
	}
	@return $list;
}

@function limit($range, $bar, $cap) {
	$list: $range;
	@if $bar {
		$list: -bar($list, $bar);
	}
	@if $cap {
		$list: -cap($list, $cap);
	}
	@return $list;
}
