@use "sass:list";
@use "sass:meta";

// Ex:
//
// list-of(1, 2)      -> (1, 2)
// list-of((1, 2), 3) -> (1, 2, 3)
//
@function list-of($lists...) {
	$list: ();
	@each $each in $lists {
		// NOTE: Guard `null` case; Sass does not support `@continue`.
		@if $each {
			@if meta.type-of($each) != list {
				$any: $each;
				$list: list.append($list, $any);
			} @else {
				@each $any in $each {
					$list: list.append($list, $any);
				}
			}
		}
	}
	@return $list;
}
