@use "sass:list";
@use "sass:meta";

// Ex:
//
// list-of(1, 2)      -> (1, 2)
// list-of((1, 2), 3) -> (1, 2, 3)
//
@function list-of($lists...) {
	$ret: ();
	@each $list in $lists {
		// NOTE: Use `@if $list` to negate `null`.
		@if $list {
			@if meta.type-of($list) != list {
				$any: $list;
				$ret: list.join($ret, $any);
			} @else {
				@each $any in $list {
					$ret: list.join($ret, $any);
				}
			}
		}
	}
	@return $ret;
}
