@use "sass:meta";

@use "str-ends-with" as str;

@function rem($any) {
	@if meta.type-of($any) != number {
		@return $any;
	}
	$num: $any;
	@if $num == 0 {
		@return 0;
	}
	@return $num / 16 + rem;
}

@function em($any) {
	@if meta.type-of($any) != number {
		@return $any;
	}
	$num: $any;
	@if $num == 0 {
		@return 0;
	}
	@return $num / 16 + em;
}

@function px($any) {
	@if meta.type-of($any) != number {
		@return $any;
	}
	$num: $any;
	@if $num == 0 {
		@return 0;
	}
	@return $num + px;
}

@function passthrough($any) {
	// prettier-ignore
	$ok: meta.type-of($any) != number or
		str.str-ends-with($any, "%") or
		str.str-ends-with($any, "vw") or
		str.str-ends-with($any, "vh") or
		$any == 9999px;
	@return $ok;
}

@function resolve($any, $resolver) {
	@if passthrough($any) {
		@return $any;
	}
	@if $resolver != none and $resolver != rem and $resolver != em and $resolver != px {
		@error "resolve: `$resolver` must be `rem`, `em`, `px`, or `none`; $resolver=#{$resolver}";
	}
	$num: $any;
	@if $resolver == rem {
		@return rem($num);
	} @else if $resolver == em {
		@return em($num);
	} @else if $resolver == px {
		@return px($num);
	}
	@return $num;
}
