@use "sass:string";

// TODO: Upgrade.
@function escape($any) {
	$str: "" + $any;
	$escaped: "";
	@for $x from 1 through string.length($str) {
		$ch: string.slice($str, $x, $x);
		@if $ch == "." {
			$escaped: $escaped + "\\"+ $ch;
		} @else {
			$escaped: $escaped + $ch;
		}
	}
	@return $escaped;
}
