@use "sass:list";
@use "sass:string";

$__digits: ("0", "1", "2", "3", "4", "5", "6", "7", "8", "9");

// https://mothereff.in/css-escapes
// https://mathiasbynens.be/notes/css-escapes
//
// prettier-ignore
$__escape-chars: (
	"\!",
	"\"",
	"\#",
	"\$",
	"\%",
	"\&",
	"\'",
	"\(",
	"\)",
	"\*",
	"\+",
	"\,",
	"\-",
	"\.",
	"\/",
	"\:",
	"\;",
	"\<",
	"\=",
	"\>",
	"\?",
	"\@",
	"\[",
	"\\",
	"\]",
	"\^",
	"\`",
	"\{",
	"\|",
	"\}",
	"\~",
);

@function escape($any) {
	$str: "" + $any;
	$escaped: "";
	@for $x from 1 through string.length($str) {
		$ch: string.slice($str, $x, $x);
		@if ($x == 1 and list.index($__digits, $ch)) or list.index($__escape-chars, $ch) {
			$escaped: $escaped + "\\"+ $ch;
		} @else {
			$escaped: $escaped + $ch;
		}
	}
	@return $escaped;
}
