@use "sass:color";
@use "sass:map";
@use "sass:string";

@use "escape" as *;
@use "get-ampersand" as *;
@use "resolve" as *;
@use "safe" as *;

@mixin generate-from-range($shorthand, $props, $range, $resolver) {
	$amp: get-ampersand();

	@each $v in $range {
		$sign: safe-negative-sign($v);
		#{$amp}#{$sign}#{$shorthand}-#{escape(safe-abs($v))} {
			@each $prop in $props {
				#{$prop}: #{resolve($v, $resolver)};
			}
		}
	}
}

@mixin generate-from-map($shorthand, $props, $map, $resolver) {
	$amp: get-ampersand();

	@each $k, $v in $map {
		#{$amp}#{$shorthand}-#{escape($k)} {
			@each $prop in $props {
				#{$prop}: #{resolve($v, $resolver)};
			}
		}
	}
}

@mixin generate-colors-from-map($shorthand, $prop, $map, $opacity-range) {
	$amp: get-ampersand();

	@each $k, $v in $map {
		#{$amp}#{$shorthand}-#{escape($k)} {
			@if $k == transparent or $k == currentColor {
				--#{$shorthand}-opacity: 1;
				color: #{$v};
			} @else {
				--#{$shorthand}-opacity: 1;
				#{$prop}: $v;
				#{$prop}: string.unquote(
					"rgba(#{color.red($v)}, #{color.green($v)}, #{color.blue($v)}, #{var(--#{$shorthand}-opacity)})"
				);
			}
		}
	}

	@each $v in $opacity-range {
		#{$amp}#{$shorthand}-opacity-#{escape($v * 100)} {
			--#{$shorthand}-opacity: #{$v};
		}
	}
}
