@use "sass:color";
@use "sass:map";

@use "variants" as *;

// prettier-ignore
@mixin generate-from-colors($info-map) {
	$v:             map.get($info-map, variant);
	$shorthand:     map.get($info-map, shorthand);
	$property:      map.get($info-map, property);
	$map:           map.get($info-map, map);
	$percent-range: map.get($info-map, percent-range);

	@each $mk, $mv in $map {
		#{variant(#{$shorthand}-#{$mk}, $v)} {
			@if $mk == transparent or $mk == current {
				#{$property}: #{$mv};
			} @else {
				--#{$shorthand}-opacity: 1;
				#{$property}: hsla(var(--#{$mk}-raw), var(--#{$shorthand}-opacity));
			}
		}
	}

	@each $mv in $percent-range {
		#{variant(#{$shorthand}-opacity-#{$mv * 100}, $v)} {
			--#{$shorthand}-opacity: #{$mv};
		}
	}
}
