@use "sass:map";
@use "sass:meta";

@use "../configuration";
@use "escapers" as *;
@use "resolvers" as *;

// Ex:
//
// n(-1) -> "-"
// n(0) -> ""
//
@function n($rv) {
	@if passthrough($rv) {
		@return "";
	}
	@return if($rv < 0, "-", "");
}

// Ex: delimiter() -> "\:"
@function delimiter() {
	@return escape(configuration.$delimiter);
}

// Ex: delimit(sm) -> "sm\:"
@function delimit($key) {
	@return escape-breakpoint-key($key) + delimiter();
}

// Ex:
//
// desc(auto)  -> auto
// desc(0)     -> 0
// desc(100%)  -> max
// desc(100vw) -> screen
//
// TODO: Escape numbers?
@function desc($any, $as-percent: false) {
	// prettier-ignore
	$got: map.get((
		100%: full,
		100vw: screen,
		100vh: screen,
		9999px: full,
	), $any);
	@if $got {
		@return $got;
	}
	@if meta.type-of($any) == "number" and $as-percent {
		$rv: $any;
		@return $rv * 100;
	}
	$rv: $any;
	@return escape($rv);
}

// Ex: nrange() -> (-1, -2, -4, -8, ...)
@function nrange() {
	@return configuration.$nrange;
}

// Ex: range() -> (0, 1, 2, 4, 8, ...)
@function range() {
	@return configuration.$range;
}

// Ex: percent-range() -> (0, 0.05, ...)
@function percent-range() {
	@return configuration.$percent-range;
}

@function -getter($getter-name, $map, $key, $raw: false) {
	$got: map.get($map, $key);
	@if not $got {
		@error "#{$getter-name}: no such key `$key`; $key=#{$key}";
	}
	@return $got;
}

@function font($key, $raw: false) {
	$got: -getter("font", configuration.$font-map, $key);
	@if $raw {
		@return $got;
	}
	@return var(--#{$key});
}
// @function weight($key, $raw: false) {
// 	$got: -getter("weight", configuration.$weight-map, $key);
// 	@if $raw {
// 		@return $got;
// 	}
// 	@return var(--#{$key});
// }
@function color($key, $raw: false) {
	$got: -getter("color", configuration.$color-map, $key);
	@if $raw {
		@return $got;
	}
	@return hsl(var(--#{$key}));
}
@function extended-color($key, $raw: false) {
	$got: -getter("extended-color", configuration.$extended-color-map, $key);
	@if $raw {
		@return $got;
	}
	@return hsl(var(--#{$key}));
}
@function shadow($key, $raw: false) {
	$got: -getter("shadow", configuration.$shadow-map, $key);
	@if $raw {
		@return $got;
	}
	@return var(--shadow-#{$key});
}
@function timing($key, $raw: false) {
	$got: -getter("timing", configuration.$timing-map, $key);
	@if $raw {
		@return $got;
	}
	@return var(--#{$key});
}

// NOTE: `$raw` defaults to `true`.
@function breakpoint($key, $raw: true) {
	$got: -getter("breakpoint", configuration.$breakpoint-map, $key);
	@if $raw {
		@return $got;
	}
	@return var(--#{$key});
}

@function fonts($raw: false) {
	$ret: ();
	@each $mk, $mv in configuration.$font-map {
		$ret: map.set($ret, $mk, font($mk, $raw));
	}
	@return $ret;
}
// @function weights($raw: false) {
// 	$ret: ();
// 	@each $mk, $mv in configuration.$weight-map {
// 		$ret: map.set($ret, $mk, weight($mk, $raw));
// 	}
// 	@return $ret;
// }
@function colors($raw: false) {
	$ret: ();
	@each $mk, $mv in configuration.$color-map {
		$ret: map.set($ret, $mk, color($mk, $raw));
	}
	@return $ret;
}
@function extended-colors($raw: false) {
	$ret: ();
	@each $mk, $mv in configuration.$extended-color-map {
		$ret: map.set($ret, $mk, extended-color($mk, $raw));
	}
	@return $ret;
}
@function shadows($raw: false) {
	$ret: ();
	@each $mk, $mv in configuration.$shadow-map {
		$ret: map.set($ret, $mk, shadow($mk, $raw));
	}
	@return $ret;
}
@function timings($raw: false) {
	$ret: ();
	@each $mk, $mv in configuration.$timing-map {
		$ret: map.set($ret, $mk, timing($mk, $raw));
	}
	@return $ret;
}

// NOTE: `$raw` defaults to `true`.
@function breakpoints($raw: true) {
	$ret: ();
	@each $mk, $mv in configuration.$breakpoint-map {
		$ret: map.set($ret, $mk, breakpoint($mk, $raw));
	}
	@return $ret;
}
