@use "sass:list";
@use "sass:map";
@use "sass:meta";

// Ex:
//
// take((0, 1, 2, 4), 4)             -> (0, 1, 2)
// take((a: 0, b: 1, c: 2, d: 4), d) -> (a: 0, b: 1, c: 2)
//
@function take($collection, $item) {
	$ret: ();
	@if meta.type-of($collection) == list or meta.type-of($collection) == arglist {
		@each $each in $collection {
			@if $each != $item {
				$ret: list.append($ret, $each);
			}
		}
	} @else if meta.type-of($collection) == map {
		@each $mk, $mv in $collection {
			@if $mk != $item {
				$ret: map.set($ret, $mk, $mv);
			}
		}
	}
	@return $ret;
}
