@use "sass:list";
@use "sass:meta";

// Ex:
//
// var-join(1, 2)      -> (1, 2)
// var-join((1, 2), 3) -> (1, 2, 3)
//
@function var-join($lists...) {
	// TODO
	@if list.length($lists) == 0 {
		@return ();
	}

	$var-join: ();
	@each $list in $lists {
		@if meta.type-of($list) != "list" {
			$any: $list;
			$var-join: list.join($var-join, $any);
		} @else {
			@each $any in $list {
				$var-join: list.join($var-join, $any);
			}
		}
	}
	@return $var-join;
}
