// https://github.com/tailwindlabs/tailwindcss/pull/2623
$transparent: transparent !default;
$currentColor: currentColor !default;
$black: #000 !default;
$white: #fff !default;
$rose-50: #fff1f2 !default;
$rose-100: #ffe4e6 !default;
$rose-200: #fecdd3 !default;
$rose-300: #fda4af !default;
$rose-400: #fb7185 !default;
$rose-500: #f43f5e !default;
$rose-600: #e11d48 !default;
$rose-700: #be123c !default;
$rose-800: #9f1239 !default;
$rose-900: #881337 !default;
$pink-50: #fdf2f8 !default;
$pink-100: #fce7f3 !default;
$pink-200: #fbcfe8 !default;
$pink-300: #f9a8d4 !default;
$pink-400: #f472b6 !default;
$pink-500: #ec4899 !default;
$pink-600: #db2777 !default;
$pink-700: #be185d !default;
$pink-800: #9d174d !default;
$pink-900: #831843 !default;
$fuchsia-50: #fdf4ff !default;
$fuchsia-100: #fae8ff !default;
$fuchsia-200: #f5d0fe !default;
$fuchsia-300: #f0abfc !default;
$fuchsia-400: #e879f9 !default;
$fuchsia-500: #d946ef !default;
$fuchsia-600: #c026d3 !default;
$fuchsia-700: #a21caf !default;
$fuchsia-800: #86198f !default;
$fuchsia-900: #701a75 !default;
$purple-50: #faf5ff !default;
$purple-100: #f3e8ff !default;
$purple-200: #e9d5ff !default;
$purple-300: #d8b4fe !default;
$purple-400: #c084fc !default;
$purple-500: #a855f7 !default;
$purple-600: #9333ea !default;
$purple-700: #7e22ce !default;
$purple-800: #6b21a8 !default;
$purple-900: #581c87 !default;
$violet-50: #f5f3ff !default;
$violet-100: #ede9fe !default;
$violet-200: #ddd6fe !default;
$violet-300: #c4b5fd !default;
$violet-400: #a78bfa !default;
$violet-500: #8b5cf6 !default;
$violet-600: #7c3aed !default;
$violet-700: #6d28d9 !default;
$violet-800: #5b21b6 !default;
$violet-900: #4c1d95 !default;
$indigo-50: #eef2ff !default;
$indigo-100: #e0e7ff !default;
$indigo-200: #c7d2fe !default;
$indigo-300: #a5b4fc !default;
$indigo-400: #818cf8 !default;
$indigo-500: #6366f1 !default;
$indigo-600: #4f46e5 !default;
$indigo-700: #4338ca !default;
$indigo-800: #3730a3 !default;
$indigo-900: #312e81 !default;
$blue-50: #eff6ff !default;
$blue-100: #dbeafe !default;
$blue-200: #bfdbfe !default;
$blue-300: #93c5fd !default;
$blue-400: #60a5fa !default;
$blue-500: #3b82f6 !default;
$blue-600: #2563eb !default;
$blue-700: #1d4ed8 !default;
$blue-800: #1e40af !default;
$blue-900: #1e3a8a !default;
$light-blue-50: #f0f9ff !default;
$light-blue-100: #e0f2fe !default;
$light-blue-200: #bae6fd !default;
$light-blue-300: #7dd3fc !default;
$light-blue-400: #38bdf8 !default;
$light-blue-500: #0ea5e9 !default;
$light-blue-600: #0284c7 !default;
$light-blue-700: #0369a1 !default;
$light-blue-800: #075985 !default;
$light-blue-900: #0c4a6e !default;
$cyan-50: #ecfeff !default;
$cyan-100: #cffafe !default;
$cyan-200: #a5f3fc !default;
$cyan-300: #67e8f9 !default;
$cyan-400: #22d3ee !default;
$cyan-500: #06b6d4 !default;
$cyan-600: #0891b2 !default;
$cyan-700: #0e7490 !default;
$cyan-800: #155e75 !default;
$cyan-900: #164e63 !default;
$teal-50: #f0fdfa !default;
$teal-100: #ccfbf1 !default;
$teal-200: #99f6e4 !default;
$teal-300: #5eead4 !default;
$teal-400: #2dd4bf !default;
$teal-500: #14b8a6 !default;
$teal-600: #0d9488 !default;
$teal-700: #0f766e !default;
$teal-800: #115e59 !default;
$teal-900: #134e4a !default;
$emerald-50: #ecfdf5 !default;
$emerald-100: #d1fae5 !default;
$emerald-200: #a7f3d0 !default;
$emerald-300: #6ee7b7 !default;
$emerald-400: #34d399 !default;
$emerald-500: #10b981 !default;
$emerald-600: #059669 !default;
$emerald-700: #047857 !default;
$emerald-800: #065f46 !default;
$emerald-900: #064e3b !default;
$green-50: #f0fdf4 !default;
$green-100: #dcfce7 !default;
$green-200: #bbf7d0 !default;
$green-300: #86efac !default;
$green-400: #4ade80 !default;
$green-500: #22c55e !default;
$green-600: #16a34a !default;
$green-700: #15803d !default;
$green-800: #166534 !default;
$green-900: #14532d !default;
$lime-50: #f7fee7 !default;
$lime-100: #ecfccb !default;
$lime-200: #d9f99d !default;
$lime-300: #bef264 !default;
$lime-400: #a3e635 !default;
$lime-500: #84cc16 !default;
$lime-600: #65a30d !default;
$lime-700: #4d7c0f !default;
$lime-800: #3f6212 !default;
$lime-900: #365314 !default;
$yellow-50: #fefce8 !default;
$yellow-100: #fef9c3 !default;
$yellow-200: #fef08a !default;
$yellow-300: #fde047 !default;
$yellow-400: #facc15 !default;
$yellow-500: #eab308 !default;
$yellow-600: #ca8a04 !default;
$yellow-700: #a16207 !default;
$yellow-800: #854d0e !default;
$yellow-900: #713f12 !default;
$amber-50: #fffbeb !default;
$amber-100: #fef3c7 !default;
$amber-200: #fde68a !default;
$amber-300: #fcd34d !default;
$amber-400: #fbbf24 !default;
$amber-500: #f59e0b !default;
$amber-600: #d97706 !default;
$amber-700: #b45309 !default;
$amber-800: #92400e !default;
$amber-900: #78350f !default;
$orange-50: #fff7ed !default;
$orange-100: #ffedd5 !default;
$orange-200: #fed7aa !default;
$orange-300: #fdba74 !default;
$orange-400: #fb923c !default;
$orange-500: #f97316 !default;
$orange-600: #ea580c !default;
$orange-700: #c2410c !default;
$orange-800: #9a3412 !default;
$orange-900: #7c2d12 !default;
$red-50: #fef2f2 !default;
$red-100: #fee2e2 !default;
$red-200: #fecaca !default;
$red-300: #fca5a5 !default;
$red-400: #f87171 !default;
$red-500: #ef4444 !default;
$red-600: #dc2626 !default;
$red-700: #b91c1c !default;
$red-800: #991b1b !default;
$red-900: #7f1d1d !default;
$warm-gray-50: #fafaf9 !default;
$warm-gray-100: #f5f5f4 !default;
$warm-gray-200: #e7e5e4 !default;
$warm-gray-300: #d6d3d1 !default;
$warm-gray-400: #a8a29e !default;
$warm-gray-500: #78716c !default;
$warm-gray-600: #57534e !default;
$warm-gray-700: #44403c !default;
$warm-gray-800: #292524 !default;
$warm-gray-900: #1c1917 !default;
$true-gray-50: #fafafa !default;
$true-gray-100: #f5f5f5 !default;
$true-gray-200: #e5e5e5 !default;
$true-gray-300: #d4d4d4 !default;
$true-gray-400: #a3a3a3 !default;
$true-gray-500: #737373 !default;
$true-gray-600: #525252 !default;
$true-gray-700: #404040 !default;
$true-gray-800: #262626 !default;
$true-gray-900: #171717 !default;
$gray-50: #fafafa !default;
$gray-100: #f4f4f5 !default;
$gray-200: #e4e4e7 !default;
$gray-300: #d4d4d8 !default;
$gray-400: #a1a1aa !default;
$gray-500: #71717a !default;
$gray-600: #52525b !default;
$gray-700: #3f3f46 !default;
$gray-800: #27272a !default;
$gray-900: #18181b !default;
$cool-gray-50: #f9fafb !default;
$cool-gray-100: #f3f4f6 !default;
$cool-gray-200: #e5e7eb !default;
$cool-gray-300: #d1d5db !default;
$cool-gray-400: #9ca3af !default;
$cool-gray-500: #6b7280 !default;
$cool-gray-600: #4b5563 !default;
$cool-gray-700: #374151 !default;
$cool-gray-800: #1f2937 !default;
$cool-gray-900: #111827 !default;
$blue-gray-50: #f8fafc !default;
$blue-gray-100: #f1f5f9 !default;
$blue-gray-200: #e2e8f0 !default;
$blue-gray-300: #cbd5e1 !default;
$blue-gray-400: #94a3b8 !default;
$blue-gray-500: #64748b !default;
$blue-gray-600: #475569 !default;
$blue-gray-700: #334155 !default;
$blue-gray-800: #1e293b !default;
$blue-gray-900: #0f172a !default;

$extended-color-map: (
	transparent: $transparent,
	currentColor: $currentColor,
	black: $black,
	white: $white,
	rose-50: $rose-50,
	rose-100: $rose-100,
	rose-200: $rose-200,
	rose-300: $rose-300,
	rose-400: $rose-400,
	rose-500: $rose-500,
	rose-600: $rose-600,
	rose-700: $rose-700,
	rose-800: $rose-800,
	rose-900: $rose-900,
	pink-50: $pink-50,
	pink-100: $pink-100,
	pink-200: $pink-200,
	pink-300: $pink-300,
	pink-400: $pink-400,
	pink-500: $pink-500,
	pink-600: $pink-600,
	pink-700: $pink-700,
	pink-800: $pink-800,
	pink-900: $pink-900,
	fuchsia-50: $fuchsia-50,
	fuchsia-100: $fuchsia-100,
	fuchsia-200: $fuchsia-200,
	fuchsia-300: $fuchsia-300,
	fuchsia-400: $fuchsia-400,
	fuchsia-500: $fuchsia-500,
	fuchsia-600: $fuchsia-600,
	fuchsia-700: $fuchsia-700,
	fuchsia-800: $fuchsia-800,
	fuchsia-900: $fuchsia-900,
	purple-50: $purple-50,
	purple-100: $purple-100,
	purple-200: $purple-200,
	purple-300: $purple-300,
	purple-400: $purple-400,
	purple-500: $purple-500,
	purple-600: $purple-600,
	purple-700: $purple-700,
	purple-800: $purple-800,
	purple-900: $purple-900,
	violet-50: $violet-50,
	violet-100: $violet-100,
	violet-200: $violet-200,
	violet-300: $violet-300,
	violet-400: $violet-400,
	violet-500: $violet-500,
	violet-600: $violet-600,
	violet-700: $violet-700,
	violet-800: $violet-800,
	violet-900: $violet-900,
	indigo-50: $indigo-50,
	indigo-100: $indigo-100,
	indigo-200: $indigo-200,
	indigo-300: $indigo-300,
	indigo-400: $indigo-400,
	indigo-500: $indigo-500,
	indigo-600: $indigo-600,
	indigo-700: $indigo-700,
	indigo-800: $indigo-800,
	indigo-900: $indigo-900,
	blue-50: $blue-50,
	blue-100: $blue-100,
	blue-200: $blue-200,
	blue-300: $blue-300,
	blue-400: $blue-400,
	blue-500: $blue-500,
	blue-600: $blue-600,
	blue-700: $blue-700,
	blue-800: $blue-800,
	blue-900: $blue-900,
	light-blue-50: $light-blue-50,
	light-blue-100: $light-blue-100,
	light-blue-200: $light-blue-200,
	light-blue-300: $light-blue-300,
	light-blue-400: $light-blue-400,
	light-blue-500: $light-blue-500,
	light-blue-600: $light-blue-600,
	light-blue-700: $light-blue-700,
	light-blue-800: $light-blue-800,
	light-blue-900: $light-blue-900,
	cyan-50: $cyan-50,
	cyan-100: $cyan-100,
	cyan-200: $cyan-200,
	cyan-300: $cyan-300,
	cyan-400: $cyan-400,
	cyan-500: $cyan-500,
	cyan-600: $cyan-600,
	cyan-700: $cyan-700,
	cyan-800: $cyan-800,
	cyan-900: $cyan-900,
	teal-50: $teal-50,
	teal-100: $teal-100,
	teal-200: $teal-200,
	teal-300: $teal-300,
	teal-400: $teal-400,
	teal-500: $teal-500,
	teal-600: $teal-600,
	teal-700: $teal-700,
	teal-800: $teal-800,
	teal-900: $teal-900,
	emerald-50: $emerald-50,
	emerald-100: $emerald-100,
	emerald-200: $emerald-200,
	emerald-300: $emerald-300,
	emerald-400: $emerald-400,
	emerald-500: $emerald-500,
	emerald-600: $emerald-600,
	emerald-700: $emerald-700,
	emerald-800: $emerald-800,
	emerald-900: $emerald-900,
	green-50: $green-50,
	green-100: $green-100,
	green-200: $green-200,
	green-300: $green-300,
	green-400: $green-400,
	green-500: $green-500,
	green-600: $green-600,
	green-700: $green-700,
	green-800: $green-800,
	green-900: $green-900,
	lime-50: $lime-50,
	lime-100: $lime-100,
	lime-200: $lime-200,
	lime-300: $lime-300,
	lime-400: $lime-400,
	lime-500: $lime-500,
	lime-600: $lime-600,
	lime-700: $lime-700,
	lime-800: $lime-800,
	lime-900: $lime-900,
	yellow-50: $yellow-50,
	yellow-100: $yellow-100,
	yellow-200: $yellow-200,
	yellow-300: $yellow-300,
	yellow-400: $yellow-400,
	yellow-500: $yellow-500,
	yellow-600: $yellow-600,
	yellow-700: $yellow-700,
	yellow-800: $yellow-800,
	yellow-900: $yellow-900,
	amber-50: $amber-50,
	amber-100: $amber-100,
	amber-200: $amber-200,
	amber-300: $amber-300,
	amber-400: $amber-400,
	amber-500: $amber-500,
	amber-600: $amber-600,
	amber-700: $amber-700,
	amber-800: $amber-800,
	amber-900: $amber-900,
	orange-50: $orange-50,
	orange-100: $orange-100,
	orange-200: $orange-200,
	orange-300: $orange-300,
	orange-400: $orange-400,
	orange-500: $orange-500,
	orange-600: $orange-600,
	orange-700: $orange-700,
	orange-800: $orange-800,
	orange-900: $orange-900,
	red-50: $red-50,
	red-100: $red-100,
	red-200: $red-200,
	red-300: $red-300,
	red-400: $red-400,
	red-500: $red-500,
	red-600: $red-600,
	red-700: $red-700,
	red-800: $red-800,
	red-900: $red-900,
	warm-gray-50: $warm-gray-50,
	warm-gray-100: $warm-gray-100,
	warm-gray-200: $warm-gray-200,
	warm-gray-300: $warm-gray-300,
	warm-gray-400: $warm-gray-400,
	warm-gray-500: $warm-gray-500,
	warm-gray-600: $warm-gray-600,
	warm-gray-700: $warm-gray-700,
	warm-gray-800: $warm-gray-800,
	warm-gray-900: $warm-gray-900,
	true-gray-50: $true-gray-50,
	true-gray-100: $true-gray-100,
	true-gray-200: $true-gray-200,
	true-gray-300: $true-gray-300,
	true-gray-400: $true-gray-400,
	true-gray-500: $true-gray-500,
	true-gray-600: $true-gray-600,
	true-gray-700: $true-gray-700,
	true-gray-800: $true-gray-800,
	true-gray-900: $true-gray-900,
	gray-50: $gray-50,
	gray-100: $gray-100,
	gray-200: $gray-200,
	gray-300: $gray-300,
	gray-400: $gray-400,
	gray-500: $gray-500,
	gray-600: $gray-600,
	gray-700: $gray-700,
	gray-800: $gray-800,
	gray-900: $gray-900,
	cool-gray-50: $cool-gray-50,
	cool-gray-100: $cool-gray-100,
	cool-gray-200: $cool-gray-200,
	cool-gray-300: $cool-gray-300,
	cool-gray-400: $cool-gray-400,
	cool-gray-500: $cool-gray-500,
	cool-gray-600: $cool-gray-600,
	cool-gray-700: $cool-gray-700,
	cool-gray-800: $cool-gray-800,
	cool-gray-900: $cool-gray-900,
	blue-gray-50: $blue-gray-50,
	blue-gray-100: $blue-gray-100,
	blue-gray-200: $blue-gray-200,
	blue-gray-300: $blue-gray-300,
	blue-gray-400: $blue-gray-400,
	blue-gray-500: $blue-gray-500,
	blue-gray-600: $blue-gray-600,
	blue-gray-700: $blue-gray-700,
	blue-gray-800: $blue-gray-800,
	blue-gray-900: $blue-gray-900,
) !default;

$color-map: (
	transparent: $transparent,
	currentColor: $currentColor,
	black: $black,
	white: $white,
	gray-50: $cool-gray-50,
	gray-100: $cool-gray-100,
	gray-200: $cool-gray-200,
	gray-300: $cool-gray-300,
	gray-400: $cool-gray-400,
	gray-500: $cool-gray-500,
	gray-600: $cool-gray-600,
	gray-700: $cool-gray-700,
	gray-800: $cool-gray-800,
	gray-900: $cool-gray-900,
	red-50: $red-50,
	red-100: $red-100,
	red-200: $red-200,
	red-300: $red-300,
	red-400: $red-400,
	red-500: $red-500,
	red-600: $red-600,
	red-700: $red-700,
	red-800: $red-800,
	red-900: $red-900,
	yellow-50: $amber-50,
	yellow-100: $amber-100,
	yellow-200: $amber-200,
	yellow-300: $amber-300,
	yellow-400: $amber-400,
	yellow-500: $amber-500,
	yellow-600: $amber-600,
	yellow-700: $amber-700,
	yellow-800: $amber-800,
	yellow-900: $amber-900,
	green-50: $emerald-50,
	green-100: $emerald-100,
	green-200: $emerald-200,
	green-300: $emerald-300,
	green-400: $emerald-400,
	green-500: $emerald-500,
	green-600: $emerald-600,
	green-700: $emerald-700,
	green-800: $emerald-800,
	green-900: $emerald-900,
	blue-50: $blue-50,
	blue-100: $blue-100,
	blue-200: $blue-200,
	blue-300: $blue-300,
	blue-400: $blue-400,
	blue-500: $blue-500,
	blue-600: $blue-600,
	blue-700: $blue-700,
	blue-800: $blue-800,
	blue-900: $blue-900,
	indigo-50: $indigo-50,
	indigo-100: $indigo-100,
	indigo-200: $indigo-200,
	indigo-300: $indigo-300,
	indigo-400: $indigo-400,
	indigo-500: $indigo-500,
	indigo-600: $indigo-600,
	indigo-700: $indigo-700,
	indigo-800: $indigo-800,
	indigo-900: $indigo-900,
	purple-50: $violet-50,
	purple-100: $violet-100,
	purple-200: $violet-200,
	purple-300: $violet-300,
	purple-400: $violet-400,
	purple-500: $violet-500,
	purple-600: $violet-600,
	purple-700: $violet-700,
	purple-800: $violet-800,
	purple-900: $violet-900,
	pink-50: $pink-50,
	pink-100: $pink-100,
	pink-200: $pink-200,
	pink-300: $pink-300,
	pink-400: $pink-400,
	pink-500: $pink-500,
	pink-600: $pink-600,
	pink-700: $pink-700,
	pink-800: $pink-800,
	pink-900: $pink-900,
) !default;
