@use "sass:color";
@use "sass:map";

@use "colors" as original;

// TODO: Use `math.abs` on HSL conversions.
@function -to-hsl($color-map) {
	$ret: ();
	@each $mk, $mv in $color-map {
		@if $mk == transparent or $mk == current {
			$ret: map.set($ret, $mk, $mv);
		} @else {
			// prettier-ignore
			$ret: map.set($ret, $mk, (
				color.hue($mv),
				color.saturation($mv),
				color.lightness($mv),
			));
		}
	}
	@return $ret;
}

$color-map: -to-hsl(original.$color-map);
$extended-color-map: -to-hsl(original.$extended-color-map);
