@use "sass:list";

@use "meta-range" as *;

@function __negative($range) {
	$negative-range: ();
	@each $v in $range {
		@if $v > 0 {
			$negative-range: list.join($negative-range, -1 * $v);
		}
	}
	@return $negative-range;
}

// prettier-ignore
$standard-range: meta-range(
	(  0,   10,  1),
	( 10,   20,  2),
	( 20,   40,  4),
	( 40,   64,  8),
	( 80,  160, 16),
	(160,  320, 32),

	320,
) !default;

$negative-range: __negative($standard-range);

// prettier-ignore
$font-size-range: meta-range(
	( 0, 10, 1),
	(10, 20, 2),
	(20, 40, 4),
	(40, 64, 8),

	64,
) !default;

// prettier-ignore
$letter-spacing-range: (
	-0.1,
	-0.05,
	-0.025,
	-0.0125,
	 0,
	 0.0125,
	 0.025,
	 0.05,
	 0.1,
) !default;

// prettier-ignore
$line-height-range: meta-range(
	(1, 2, 0.05),

	2,
) !default;

// prettier-ignore
$opacity-range: meta-range(
	(0, 0.25, 0.05),
	(0.75, 1, 0.05),

	1,
) !default;

// prettier-ignore
$border-width-range: (
	0,
	1,
	2,
	4,
	6,
	8,
) !default;

// prettier-ignore
$border-radius-range: meta-range(
	( 0, 10, 1),
	(10, 20, 2),
	(20, 32, 4),

	32,
) !default;

// prettier-ignore
$z-index-range: meta-range(
	(-10, 50, 10),

	50,
 ) !default;
