@use "../helpers/var-join" as *;

$-variants: (hover, focus, touch, group-hover, group-focus, group-touch);

// prettier-ignore
$variants: (
	// container:        var-join(core),
	// group:            var-join(core),

	// aspect-ratio:     var-join(core, responsive), // TODO
	// border-radius:    var-join(core, responsive),
	// border-width:     var-join(core, responsive),
	// grid:             var-join(core, responsive),
	// height:           var-join(core, responsive),
	// hidden:           var-join(core, responsive),
	// margin:           var-join(core, responsive),
	// max-width:        var-join(core, responsive),
	// min-height:       var-join(core, responsive),
	// min-width:        var-join(core, responsive),
	// overflow:         var-join(core, responsive),
	// padding:          var-join(core, responsive),
	// pointer-events:   var-join(core, responsive),
	// position:         var-join(core, responsive),
	stacks:           var-join(core, responsive),
	// width:            var-join(core, responsive),

	// background-color: var-join(core, $-variants, responsive),
	// border-color:     var-join(core, $-variants, responsive),
	// box-shadow:       var-join(core, $-variants, responsive),
	// color:            var-join(core, $-variants, responsive),
	// opacity:          var-join(core, $-variants, responsive),
	// transform:        var-join(core, $-variants, responsive),
	// transition:       var-join(core, $-variants, responsive),
	// typography:       var-join(core, $-variants, responsive),
	// z-index:          var-join(core, $-variants, responsive),
) !default;
