@use "../helpers/var-join" as *;

$-variants: (hover, focus, touch, group-hover, group-focus, group-touch);

// prettier-ignore
$variants: (
	container:        var-join(),
	group:            var-join(),
	aspect-ratio:     var-join(responsive), // TODO
	border-radius:    var-join(responsive),
	border-width:     var-join(responsive),
	grid:             var-join(responsive),
	height:           var-join(responsive),
	hidden:           var-join(responsive), // TODO: Add `$-variants`.
	margin:           var-join(responsive),
	max-width:        var-join(responsive),
	min-height:       var-join(responsive),
	min-width:        var-join(responsive),
	overflow:         var-join(responsive),
	padding:          var-join(responsive),
	pointer-events:   var-join(responsive),
	position:         var-join(responsive),
	stacks:           var-join(responsive),
	width:            var-join(responsive),
	background-color: var-join($-variants, responsive),
	border-color:     var-join($-variants, responsive),
	box-shadow:       var-join($-variants, responsive),
	color:            var-join($-variants, responsive),
	opacity:          var-join($-variants, responsive),
	transform:        var-join($-variants, responsive),
	transition:       var-join($-variants, responsive), // TODO?
	typography:       var-join($-variants, responsive), // TODO?
	z-index:          var-join($-variants, responsive), // TODO?
) !default;
