@use "../helpers/var-join" as *;

$macro-variants: (hover, focus, group-hover, group-focus) !default;

// prettier-ignore
$variants: (
	aspect-ratio:     var-join(core), // TODO: Add `responsive`.
	container:        var-join(core),
	group:            var-join(core),

	border-radius:    var-join(core, responsive),
	border-width:     var-join(core, responsive),
	font-family:      var-join(core, responsive),
	font-size:        var-join(core, responsive),
	font-style:       var-join(core, responsive),
	font-weight:      var-join(core, responsive),
	grid:             var-join(core, responsive),
	height:           var-join(core, responsive),
	letter-spacing:   var-join(core, responsive),
	line-height:      var-join(core, responsive),
	margin:           var-join(core, responsive),
	max-width:        var-join(core, responsive),
	min-height:       var-join(core, responsive),
	min-width:        var-join(core, responsive),
	overflow:         var-join(core, responsive),
	padding:          var-join(core, responsive),
	pointer-events:   var-join(core, responsive),
	position:         var-join(core, responsive),
	stacks:           var-join(core, responsive),
	text-align:       var-join(core, responsive),
	vertical-align:   var-join(core, responsive),
	white-space:      var-join(core, responsive),
	width:            var-join(core, responsive),

	background-color: var-join(core, $macro-variants, responsive),
	border-color:     var-join(core, $macro-variants, responsive),
	box-shadow:       var-join(core, $macro-variants, responsive),
	color:            var-join(core, $macro-variants, responsive),
	hidden:           var-join(core, $macro-variants, responsive),
	opacity:          var-join(core, $macro-variants, responsive),
	text-decoration:  var-join(core, $macro-variants, responsive),
	transform:        var-join(core, $macro-variants, responsive), // TODO?
	transition:       var-join(core, $macro-variants, responsive), // TODO?
	z-index:          var-join(core, $macro-variants, responsive), // TODO?
) !default;
