@use "sass:color";
@use "sass:map";

@use "../mixins" as mix;

// prettier-ignore
@mixin generate-from-colors($info-map) {
	$variant:       map.get($info-map, variant);
	$shorthand:     map.get($info-map, shorthand);
	$property:      map.get($info-map, property);
	$map:           map.get($info-map, map);
	$percent-range: map.get($info-map, percent-range);

	@if $map {
		@each $mk, $mv in $map {
			.#{$shorthand}-#{"" + $mk} {
				@include mix.variants($variant) {
					@if $mk == transparent or $mk == current {
						#{$property}: #{$mv};
					} @else {
						--#{$shorthand}-opacity: 1;
						#{$property}: hsla($mv, var(--#{$shorthand}-opacity));
					}
				}
			}
		}

		@each $mv in $percent-range {
			.#{$shorthand}-opacity-#{$mv * 100} {
				@include mix.variants($variant) {
					--#{$shorthand}-opacity: #{$mv};
				}
			}
		}
	}
}
