@use "sass:list";

// NOTE: This is a copy of `utils/range` to prevent a circular dependency error.
@function range($start, $end, $step: 1) {
	$range: ();
	@while $start <= $end {
		$range: list.append($range, $start, comma);
		$start: $start + $step;
	}
	@return $range;
}
