@use "sass:list";
@use "sass:math";

@use "range" as *;

//   0,   2,   4,   6,   8, //  +2
//  10,  12,  14,  16,  18, //  +2
//  20,  24,  28,  32,  36, //  +4
//  40,  48,  56,  64,  72, //  +8
//  80,  96, 112, 128, 144, // +16
// 160, 192, 224, 256, 288, // +32
// 320,                     // +64

// prettier-ignore
$negative-range: (
	        -1,   -2,   -4,   -6,   -8, // Removes 0, adds -1
	 -10,  -12,  -14,  -16,  -18,
	 -20,  -24,  -28,  -32,  -36,
	 -40,  -48,  -56,  -64,  -72,
	 -80,  -96, -112, -128, -144,
	-160, -192, -224, -256, -288,
	-320,
) !default;

// prettier-ignore
$standard-range: (
	  0,   1,   2,   4,   6,   8, // Adds 1
	 10,  12,  14,  16,  18,
	 20,  24,  28,  32,  36,
	 40,  48,  56,  64,  72,
	 80,  96, 112, 128, 144,
	160, 192, 224, 256, 288,
	320,
) !default;

// prettier-ignore
$font-size-range: (
	 10,  11,  12,  13,  14,  15,  16,  17,  18,  19, // Adds 11, 13, 15, 17, 19
	 20,  24,  28,  32,  36,
	 40,  48,  56,  64,
) !default;

// prettier-ignore
$line-height-range: range(1, 2, 0.05) !default;

// prettier-ignore
$opacity-range: (
	0,
	0.05,
	0.1,
	0.15,
	0.2,
	0.25,
	1 - 0.25,
	1 - 0.2,
	1 - 0.15,
	1 - 0.1,
	1 - 0.05,
	1 - 0,
) !default;

$border-width-range: (0, 1, 2, 4, 6, 8) !default;

// prettier-ignore
$border-radius-range: (
	  0,   2,   4,   6,   8,
	 10,  12,  14,  16,  18,
	 20,  24,  28,  32,
) !default;

$z-index-range: range(-10, 50, 10) !default;
