// Describes whether to optimize Duomo CSS for development or production.
$env: development !default;

// Describes whether to generate Duomo CSS.
$headless: false !default;

// Describes whether to generate skeleton Duomo CSS.
$skeleton: false !default;

// Describes the delimiter used for breakpoints, etc.
//
// Ex:
//
// $delimiter: ":" -> class="px-16 sm:px-24"
// $delimiter: "." -> class="px-16 sm.px-24"
//
$delimiter: ":" !default;

// prettier-ignore
$nrange: (
	 -1,
	 -2,
	 -3,
	 -4,
	 -5,
	 -6,
	 -7,
	 -8,
	 -9,
	-10,
	-12,
	-14,
	-16,
	-18,
	-20,
	-24,
	-28,
	-32,
) !default;

// prettier-ignore
$range: (
	  0,
	  1,
	  2,
	  3,
	  4,
	  5,
	  6,
	  7,
	  8,
	  9,
	 10,
	 12,
	 14,
	 16,
	 18,
	 20,
	 24,
	 28,
	 32,
	 36,
	 40,
	 48,
	 56,
	 64,
	 72,
	 80,
	 96,
	112,
	128,
	144,
	160,
	192,
	224,
	256,
	288,
	320,
	384,
	448,
	512,
	576,
	640,
) !default;

$weight-map: (
	thin: 100,
	extralight: 200,
	light: 300,
	bold-none: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
	extrabold: 800,
	black: 900,
) !default;

$font-map: (
	sans: (
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji",
	),
	serif: (
		ui-serif,
		Georgia,
		Cambria,
		"Times New Roman",
		Times,
		serif,
	),
	mono: (
		ui-monospace,
		Menlo,
		Monaco,
		Consolas,
		"Liberation Mono",
		"Courier New",
		monospace,
	),
) !default;

$decoration-map: (
	strikethrough: line-through,
	underline: underline,
) !default;

// FIXME: Use `shadow` prefix?

// NOTE:
//
// shadow-sm -> shadow-xs
// shadow    -> shadow-sm
//
// prettier-ignore
$shadow-map: (
	shadow-inner: (inset 0 2px 4px 0 rgba(0, 0, 0, 0.06)),
	shadow-px: (0 0 0 1px rgba(0, 0, 0, 0.05)),
	shadow-xs: (0 1px 2px 0 rgba(0, 0, 0, 0.05)),
	shadow-sm: (0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)),
	shadow-md: (0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)),
	shadow-lg: (0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)),
	shadow-xl: (0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)),
	shadow-2xl: (0 25px 50px -12px rgba(0, 0, 0, 0.25)),
) !default;

// prettier-ignore
$percent-range: (
	0,
	0.1,
	0.2,
	0.25,
	0.3,
	0.4,
	0.5,
	0.6,
	0.7,
	0.75,
	0.8,
	0.9,
	1,
) !default;

$timing-map: (
	linear: linear,
	ease-in: cubic-bezier(0.4, 0, 1, 1),
	ease-out: cubic-bezier(0, 0, 0.2, 1),
	ease-in-out: cubic-bezier(0.4, 0, 0.2, 1),
) !default;

$breakpoint-map: (
	sm: 640px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
) !default;

// prettier-ignore
$transition-props: (
	background-color,
	border-color,
	box-shadow,
	color,
	fill,
	opacity,
	stroke,
	// transform,
) !default;
