@use "sass:color";
@use "sass:map";
@use "sass:math";

@use "colors" as hex;

// Ex:
//
// -conv((white: #fff, black: #000))
// -> (white: hsl(0deg, 0%, 100%), black: hsl(0deg, 0%, 0%))
//
@function -conv($color-map) {
	$map: ();
	@each $mk, $mv in $color-map {
		@if $mk == transparent or $mk == current {
			$map: map.set($map, $mk, $mv);
		} @else {
			// prettier-ignore
			$map: map.set($map, $mk, (
				math.round(color.hue($mv)),
				math.round(color.saturation($mv)),
				math.round(color.lightness($mv)),
			));
		}
	}
	@return $map;
}

$color-map: -conv(hex.$color-map);
$skeleton-color-map: -conv(hex.$skeleton-color-map);
$subset-color-map: -conv(hex.$subset-color-map);
