@use "sass:color";
@use "sass:map";
@use "sass:math";

@use "colors" as hex;

@function -hex-to-hsl($color-map) {
	$ret: ();
	@each $mk, $mv in $color-map {
		@if $mk == transparent or $mk == current {
			$ret: map.set($ret, $mk, $mv);
		} @else {
			// prettier-ignore
			$ret: map.set($ret, $mk, (
				math.round(color.hue($mv)),
				math.round(color.saturation($mv)),
				math.round(color.lightness($mv)),
			));
		}
	}
	@return $ret;
}

$color-map: -hex-to-hsl(hex.$color-map);
$extended-color-map: -hex-to-hsl(hex.$extended-color-map);
