@use "sass:color";
@use "sass:map";
@use "sass:math";

@use "colors" as hex;

// Ex:
//
// -conv-hex-to-hsl((white: #fff, black: #000))
// -> (white: hsl(0deg, 0%, 100%), black: hsl(0deg, 0%, 0%))
//
@function -conv-hex-to-hsl($color-map) {
	$ret: ();
	@each $mk, $mv in $color-map {
		@if $mk == transparent or $mk == current {
			$ret: map.set($ret, $mk, $mv);
		} @else {
			// prettier-ignore
			$ret: map.set($ret, $mk, (
				math.round(color.hue($mv)),
				math.round(color.saturation($mv)),
				math.round(color.lightness($mv)),
			));
		}
	}
	@return $ret;
}

$skeleton-color-map: -conv-hex-to-hsl(hex.$skeleton-color-map);
$color-map: -conv-hex-to-hsl(hex.$color-map);
