@use "../utils";
@use "configuration" as conf;

// prettier-ignore
$macro-variants: if(
	conf.$layout,
	null,
	(hover, focus, group-hover, group-focus),
) !default;

// NOTE: `$variants` should be order-independent. Properties are sorted
// alphabetically for organizational purposes. Note that `builder.scss` should
// order `$variants` if needed.
//
// prettier-ignore
$variants: (
	container:             utils.list-of(core),
	group:                 utils.list-of(core),

	aspect-ratio:          utils.list-of(core, responsive),
	border-radius:         utils.list-of(core, responsive),
	border-width:          utils.list-of(core, responsive),
	cursor:                utils.list-of(core, responsive),
	flex-stack:            utils.list-of(core, responsive),
	font-family:           utils.list-of(core, responsive),
	font-size:             utils.list-of(core, responsive),
	font-style:            utils.list-of(core, responsive),
	font-weight:           utils.list-of(core, responsive),
	gap:                   utils.list-of(core, responsive),
	grid-template-columns: utils.list-of(core, responsive),
	grid-template-rows:    utils.list-of(core, responsive),
	grid:                  utils.list-of(core, responsive),
	height:                utils.list-of(core, responsive),
	letter-spacing:        utils.list-of(core, responsive),
	line-height:           utils.list-of(core, responsive),
	margin:                utils.list-of(core, responsive),
	max-width:             utils.list-of(core, responsive),
	min-height:            utils.list-of(core, responsive),
	min-width:             utils.list-of(core, responsive),
	overflow:              utils.list-of(core, responsive),
	padding:               utils.list-of(core, responsive),
	pointer-events:        utils.list-of(core, responsive),
	position:              utils.list-of(core, responsive),
	reveal:                utils.list-of(core, responsive),
	text-align:            utils.list-of(core, responsive),
	vertical-align:        utils.list-of(core, responsive),
	white-space:           utils.list-of(core, responsive),
	width:                 utils.list-of(core, responsive),
	zstack:                utils.list-of(core, responsive),

	// column-gap:         utils.list-of(core, responsive),
	// row-gap:            utils.list-of(core, responsive),

	background-color:      utils.list-of(core, $macro-variants, responsive),
	border-color:          utils.list-of(core, $macro-variants, responsive),
	box-shadow:            utils.list-of(core, $macro-variants, responsive),
	color:                 utils.list-of(core, $macro-variants, responsive),
	opacity:               utils.list-of(core, $macro-variants, responsive),
	text-decoration:       utils.list-of(core, $macro-variants, responsive),
	transform:             utils.list-of(core, $macro-variants, responsive),
	transition:            utils.list-of(core, $macro-variants, responsive),
	z-index:               utils.list-of(core, $macro-variants, responsive),
) !default;
