@use "../../configuration" as *;
@use "../../helpers" as *;

@mixin height-from-range($range, $resolver) {
	$amp: get-ampersand();

	@each $v in $range {
		#{$amp}h-#{$v} {
			height: resolve($v, $resolver);
			[class*="vstack"] > & {
				flex-shrink: 0;
			}
		}
	}

	@if not & {
		[class*="vstack"] > [style^="height"],
		[class*="vstack"] > [style*=";height"],
		[class*="vstack"] > [style*="; height"] {
			flex-shrink: 0;
		}
	}

	// @if not & {
	// 	[class*="vstack"] {
	// 		// prettier-ignore
	// 		& > [class^="h-"], & > [class*=" h-"], & > [class*="#{$separator}h-"] {
	// 			flex-shrink: 0;
	// 		}
	// 		// prettier-ignore
	// 		& > [style^="height"], & > [style*=";height"], & > [style*="; height"] {
	// 			flex-shrink: 0;
	// 		}
	// 	}
	// }

	#{$amp}h-max {
		height: 100%;
	}
	#{$amp}h-screen {
		height: 100vh;
	}
}
