$xs: 40 * 16; // ->  640
$sm: 48 * 16; // ->  768
$md: 56 * 16; // ->  896
$lg: 64 * 16; // -> 1024
$xl: 80 * 16; // -> 1280

$breakpoint-map: (
	"xs": $xs,
	"sm": $sm,
	"md": $md,
	"lg": $lg,
	"xl": $xl,
) !default;
