@use "sass:list";
@use "sass:math";

@use "../../utils";

// -1 -> -320
//
// prettier-ignore
$negative-range: utils.sum-range(
	utils.range-count(  -1,  -1, 3),
	utils.range-count(  -6,  -2, 2), // utils.range-count(  6,  2, 4),
	utils.range-count( -11,  -1, 9), // utils.range-count( 12,  2, 4),
	utils.range-count( -24,  -4, 4),
	utils.range-count( -48,  -8, 4),
	utils.range-count( -96, -16, 4),
	utils.range-count(-192, -32, 4),
) !default;

// 0 -> 320
//
// prettier-ignore
$standard-range: utils.sum-range(
	utils.range-count(  0,  1, 4),
	utils.range-count(  6,  2, 2), // utils.range-count(  6,  2, 4),
	utils.range-count( 11,  1, 9), // utils.range-count( 12,  2, 4),
	utils.range-count( 24,  4, 4),
	utils.range-count( 48,  8, 4),
	utils.range-count( 96, 16, 4),
	utils.range-count(192, 32, 4),
) !default;

// 0 -> 64
//
// prettier-ignore
$font-size-range: utils.sum-range(
	utils.range-count(  0,  1, 4),
	utils.range-count(  6,  2, 2), // utils.range-count(  6,  2, 4),
	utils.range-count( 11,  1, 9), // utils.range-count( 12,  2, 4),
	utils.range-count( 24,  4, 4),
	utils.range-count( 48,  8, 2),
) !default;

// 0 -> 8
//
// prettier-ignore
$border-width-range: utils.sum-range(
	utils.range-count(  0,  1, 4),
	utils.range-count(  6,  2, 1),
) !default;

// 0 -> 32
//
// prettier-ignore
$border-radius-range: utils.sum-range(
	utils.range-count(  0,  1, 4),
	utils.range-count(  6,  2, 4),
	utils.range-count( 12,  2, 4),
	utils.range-count( 24,  4, 2),
) !default;
