@use "../../../helpers" as *;

@mixin hstack($variants...) {
	// prettier-ignore
	.hstack {
		--dm-unhidden: flex;
		& > * { --dm-unhidden: initial; }
	}

	@include variants($variants...) using ($v) {
		#{variant("hstack", $v)} {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		@if $v == core {
			.hstack > * {
				--dm-space: 0;
			}
		}
		#{variant("hstack > * + *", $v)} {
			margin-top: 0;
			margin-left: var(--dm-space);
		}
		#{variant("hstack > .spacer:empty", $v)},
		#{variant("hstack > .spacer:empty + *", $v)} {
			margin-left: 0;
		}
	}
}
