@use "../../../helpers" as *;

@mixin vstack($variants...) {
	// prettier-ignore
	.vstack {
		--dm-unhidden: flex;
		& > * { --dm-unhidden: initial; }
	}

	@include variants($variants...) using ($v) {
		#{variant("vstack", $v)} {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		@if $v == core {
			.vstack > * {
				--space: 0;
			}
		}
		#{variant("vstack > * + *", $v)} {
			margin-left: 0;
			margin-top: var(--space);
		}
		#{variant("vstack > .spacer:empty", $v)},
		#{variant("vstack > .spacer:empty + *", $v)} {
			margin-top: 0;
		}
	}
}
