@use "../../../helpers" as *;

@mixin vstack($variants...) {
	@include variants($variants...) using ($v) {
		// Implements the hidden API.
		@if $v == core {
			.vstack {
				--unhidden: flex;
				> * {
					--unhidden: initial;
				}
			}
		}

		#{variant("vstack", $v)} {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		// NOTE: Do not reset per responsive stack context.
		@if $v == core {
			.vstack > * {
				--space: 0;
			}
		}
		#{variant("vstack > * + *", $v)} {
			margin-left: 0;
			margin-top: var(--space);
		}
		#{variant("vstack > .spacer:empty", $v)},
		#{variant("vstack > .spacer:empty + *", $v)} {
			margin-top: 0;
		}
	}
}
