@use "../helpers" as *;

@mixin aspect-ratio($variants...) {
	[style*="--aspect-ratio"] {
		// NOTE: Use `(var(--aspect-ratio)` so `--aspect-ratio: 16 / 9` works.
		position: relative;
		padding-bottom: calc(100% / (var(--aspect-ratio)));
	}
	[style*="--aspect-ratio"] > * {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
