@use "../helpers" as *;

// prettier-ignore
@mixin background-color($variants...) {
	@include variants($variants...) using ($v) {
		@include generate-from-colors((
			variant: $v,
			shorthand: bg,
			property: (background-color),
			map: colors(),
			percent-range: percent-range(),
		));
	}
}
