@use "../helpers" as *;

@mixin border-width($variants...) {
	// prettier-ignore
	@include variants($variants) using ($v) {
		@include generate-from-range((
			variant: $v,
			shorthand: border,
			property: (border-width),
			range: cap(range(), 8),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: border-t,
			property: (border-top-width),
			range: cap(range(), 8),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: border-r,
			property: (border-right-width),
			range: cap(range(), 8),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: border-b,
			property: (border-bottom-width),
			range: cap(range(), 8),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: border-l,
			property: (border-left-width),
			range: cap(range(), 8),
			resolver: rem,
		));
	}
}
