@use "sass:list";

@use "../helpers" as *;

@function shadow-keys($map) {
	$ret: ();
	@each $mk, $mv in $map {
		$ret: list.append($ret, var(--shadow-#{$mk}), comma);
	}
	@return $ret;
}

@mixin box-shadow($variants...) {
	@include variants($variants...) using ($v) {
		#{variant(shadow, $v)} {
			@each $mk, $mv in shadows() {
				--shadow-#{$mk}: 0 0 transparent;
			}
			box-shadow: shadow-keys(shadows());
		}

		@each $mk, $mv in shadows() {
			#{variant($mk, $v)} {
				--shadow-#{$mk}: #{shadow($mk)};
			}
		}
	}
}
