@use "../helpers" as *;

@mixin color($variants...) {
	// prettier-ignore
	@include variants($variants...) using ($v) {
		@include generate-from-colors((
			variant: $v,
			shorthand: text,
			property: (color),
			map: colors(),
			opacity-range: opacity-range(),
		));
	}
}
