@use "../helpers" as *;

@mixin directives($variants...) {
	@include variants($variants...) using ($v) {
		#{variant(escape("-"), $v)} {
			display: none;
		}

		#{variant(escape("+"), $v)} {
			display: var(--duomo-display, block);
		}

		@if $v == root {
			// prettier-ignore
			@keyframes \?wobble {
				0% {
					box-shadow: inset 4px 4px hsl(var(--red-500)),
						inset -4px -4px hsl(var(--red-500));
				}
				100% {
					box-shadow: inset 8px 8px hsl(var(--red-500)),
						inset -8px -8px hsl(var(--red-500));
				}
			}
		}

		// https://twitter.com/gavinjoyce/status/1333412203232374785
		#{variant(escape("?"), $v)} {
			animation: \?wobble /**/ 0.5s var(--ease-in-out) alternate infinite;
		}
	}
}
