@use "../helpers" as *;

// prettier-ignore
@mixin font-size($variants...) {
	@include variants($variants...) using ($v) {
		@include generate-from-range((
			variant: $v,
			shorthand: text,
			property: (font-size),
			range: limit(range(), 8, 64),
			resolver: rem,
		));
	}
}
