@use "../helpers" as *;

// prettier-ignore
@mixin height($variants...) {
	@include variants($variants...) using ($v) {
		@include generate-from-range((
			variant: $v,
			shorthand: h,
			property: (height),
			range: var-join(auto, range(), 100%, 100vh),
			resolver: rem,
		));
	}
}
