@use "../helpers" as *;

@mixin layout($variants...) {
	@include variants($variants...) using ($v) {
		#{variant(hidden, $v)} {
			// NOTE:
			//
			// ... {
			//   --duomo-layout: none;
			//   display: var(--duomo-layout);
			// }
			//
			// Does not work because `display-auto` does not reset `--duomo-layout`.
			display: none;
		}
		#{variant(layout, $v)} {
			display: var(--duomo-layout, block);
			& > * {
				--duomo-layout: initial;
			}
		}
	}
}
