@use "../helpers" as *;

@mixin margin($variants...) {
	// prettier-ignore
	@include variants($variants) using ($v) {
		@include generate-from-range((
			variant: $v,
			shorthand: m,
			property: (margin),
			range: var-join(nrange(), auto, range()),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: mx,
			property: (margin-left, margin-right),
			range: var-join(nrange(), auto, range()),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: my,
			property: (margin-top, margin-bottom),
			range: var-join(nrange(), auto, range()),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: mt,
			property: (margin-top),
			range: var-join(nrange(), auto, range()),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: mr,
			property: (margin-right),
			range: var-join(nrange(), auto, range()),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: mb,
			property: (margin-bottom),
			range: var-join(nrange(), auto, range()),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: ml,
			property: (margin-left),
			range: var-join(nrange(), auto, range()),
			resolver: rem,
		));
	}
}
