@use "../helpers" as *;

@mixin opacity($variants...) {
	// prettier-ignore
	@include variants($variants...) using ($v) {
		@include generate-from-range((
			variant: $v,
			shorthand: opacity,
			property: (opacity),
			range: opacity-range(),
			resolver: none,
		));
	}
}
