@use "../helpers" as *;

// prettier-ignore
$-opts: (
	static,
	relative,
	absolute,
	fixed,
	sticky,
);

@mixin position($variants...) {
	// prettier-ignore
	@include variants($variants...) using ($v) {
		@each $opt in $-opts {
			#{variant($opt, $v)} {
				position: $opt;
			}
		}
		@include generate-from-range((
			variant: $v,
			shorthand: a,
			property: (top, right, bottom, left),
			range: (auto, 0),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: x,
			property: (left, right),
			range: (auto, 0),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: y,
			property: (top, bottom),
			range: (auto, 0),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: t,
			property: (top),
			range: (auto, 0),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: r,
			property: (right),
			range: (auto, 0),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: b,
			property: (bottom),
			range: (auto, 0),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: l,
			property: (left),
			range: (auto, 0),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: tr,
			property: (top, right),
			range: (auto, 0),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: br,
			property: (bottom, right),
			range: (auto, 0),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: bl,
			property: (bottom, left),
			range: (auto, 0),
			resolver: rem,
		));
		@include generate-from-range((
			variant: $v,
			shorthand: tl,
			property: (top, left),
			range: (auto, 0),
			resolver: rem,
		));
	}
}
