@use "../helpers" as *;

// prettier-ignore
$-opts: (
	text-align: (left, center, right, justify),
	vertical-align: (top, baseline, middle, bottom),
);

@mixin text-justification-and-alignment($variants...) {
	@include variants($variants...) using ($v) {
		@each $mk, $mv in $-opts {
			@each $opt in $mv {
				#{variant(text-#{$opt}, $v)} {
					#{$mk}: $opt;
				}
			}
		}
	}
}
