@use "../helpers";

// TODO: Is `$theme-aware-selector` exported?
$theme-aware-selector: "body:not([data-theme-effect=true])";

@mixin transition($default-duration, $default-timing-function) {
	$amp: helpers.get-ampersand();

	#{$theme-aware-selector} {
		#{$amp}transition {
			--transition-duration: #{$default-duration};
			--transition-timing-function: #{$default-timing-function};
			transition: var(--transition-duration) var(--transition-timing-function);
			transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
		}
	}
}

// NOTE. Do not use `helpers.generate-from-range` because `$amp` is repeated.
@mixin transition-duration-from-range($range) {
	$amp: helpers.get-ampersand();

	#{$theme-aware-selector} {
		@each $v in $range {
			#{$amp}duration-#{helpers.escape($v)} {
				--transition-duration: #{$v};
			}
		}
	}
}

// NOTE. Do not use `helpers.generate-from-range` because `$amp` is repeated.
@mixin transition-timing-function-from-map($map) {
	$amp: helpers.get-ampersand();

	#{$theme-aware-selector} {
		@each $k, $v in $map {
			// NOTE: Uses `ease-linear` for Tailwind CSS compatibility.
			@if $k == "linear" {
				$k: "ease-" + $k;
			}
			#{$amp}#{$k} {
				--transition-timing-function: #{$v};
			}
		}
	}
}
