@use "sass:string";

@use "../configuration";
@use "../helpers";

@mixin __whitespace {
	$amp: helpers.get-ampersand();

	// Text does not wrap.
	#{$amp}whitespace-pre {
		white-space: pre;
	}
	// Text wraps.
	#{$amp}whitespace-pre-wrap {
		white-space: pre-wrap;
	}
}

@mixin __text-align {
	$amp: helpers.get-ampersand();

	#{$amp}text-center {
		text-align: center;
	}
}

@mixin __font-weight {
	$amp: helpers.get-ampersand();

	@each $v in helpers.range(100, 900, 100) {
		#{$amp}font-#{$v} {
			font-weight: #{$v};
		}
	}
}

@mixin __font-size-from-range($range, $resolver) {
	// prettier-ignore
	@include helpers.generate-from-range(
		"text",
		(font-size),
		$range,
		$resolver,
	);
}

@mixin __line-height-from-range($range) {
	// prettier-ignore
	@include helpers.generate-from-range(
		"leading",
		(line-height),
		$range,
		none,
	);
}

@mixin __text-decoration {
	$amp: helpers.get-ampersand();

	@each $v in (line-through, underline) {
		#{$amp}#{$v} {
			text-decoration: #{$v};
		}
	}

	// `on` pseudo selector:
	@each $v in (line-through, underline) {
		#{$amp}on#{helpers.escape(configuration.$separator)}#{$v}:hover,
		#{$amp}on#{helpers.escape(configuration.$separator)}#{$v}:focus,
		.group:hover #{$amp}group-on#{helpers.escape(configuration.$separator)}#{$v},
		.group:focus #{$amp}group-on#{helpers.escape(configuration.$separator)}#{$v} {
			text-decoration: #{$v};
		}
	}

	// `down` pseudo selector:
	@each $v in (line-through, underline) {
		#{$amp}down#{helpers.escape(configuration.$separator)}#{$v}:active,
		.group:active #{$amp}group-down#{helpers.escape(configuration.$separator)}#{$v} {
			text-decoration: #{$v};
		}
	}
}

@mixin typography($font-size-range, $font-size-resolver, $line-height-range) {
	@include __whitespace;
	@include __text-align;
	@include __font-weight;
	@include __font-size-from-range($font-size-range, $font-size-resolver);
	@include __line-height-from-range($line-height-range);
	@include __text-decoration;
}
