@use "sass:string";

@use "../configuration";
@use "../helpers";

@mixin whitespace {
	$amp: helpers.get-ampersand();

	// Text does not wrap.
	#{$amp}whitespace-pre {
		white-space: pre;
	}
	// Text wraps.
	#{$amp}whitespace-pre-wrap {
		white-space: pre-wrap;
	}
}

@mixin text-align {
	$amp: helpers.get-ampersand();

	#{$amp}text-center {
		text-align: center;
	}
}

@mixin font-weight {
	$amp: helpers.get-ampersand();

	@each $v in helpers.range(100, 900, 100) {
		#{$amp}font-#{$v} {
			font-weight: #{$v};
		}
	}
}

@mixin font-size-from-range($range, $resolver) {
	// prettier-ignore
	@include helpers.generate-from-range(
		"text",
		(font-size),
		$range,
		$resolver,
	);
}

@mixin letter-spacing($range, $resolver) {
	$amp: helpers.get-ampersand();

	// NOTE: Do not use a generator because `$range` describes `%` not `px`.
	@each $v in $range {
		$sign: helpers.safe-negative-sign($v);
		#{$amp}#{$sign}tracking-#{helpers.escape(helpers.safe-abs($v * 100))} {
			letter-spacing: #{if($v == 0, 0, $v + em)};
		}
	}
}

@mixin line-height-from-range($range) {
	// prettier-ignore
	@include helpers.generate-from-range(
		"leading",
		(line-height),
		$range,
		none,
	);
}

@mixin text-decoration {
	$amp: helpers.get-ampersand();

	@each $v in (line-through, underline) {
		#{$amp}#{$v} {
			text-decoration: #{$v};
		}
	}

	// `on` pseudo selector:
	@each $v in (line-through, underline) {
		#{$amp}on#{helpers.escape(configuration.$separator)}#{$v}:hover,
		#{$amp}on#{helpers.escape(configuration.$separator)}#{$v}:focus,
		.group:hover #{$amp}group-on#{helpers.escape(configuration.$separator)}#{$v},
		.group:focus #{$amp}group-on#{helpers.escape(configuration.$separator)}#{$v} {
			text-decoration: #{$v};
		}
	}

	// `down` pseudo selector:
	@each $v in (line-through, underline) {
		#{$amp}down#{helpers.escape(configuration.$separator)}#{$v}:active,
		.group:active #{$amp}group-down#{helpers.escape(configuration.$separator)}#{$v} {
			text-decoration: #{$v};
		}
	}
}

// @mixin typography($font-size-range, $font-size-resolver, $line-height-range) {
// 	@include whitespace;
// 	@include text-align;
// 	@include font-weight;
// 	@include font-size-from-range($font-size-range, $font-size-resolver);
// 	@include letter-spacing-from-range($font-size-range, $font-size-resolver);
// 	@include line-height-from-range($line-height-range);
// 	@include text-decoration;
// }
