@use "../helpers" as *;

@mixin typography-font-size($variants...) {
	// prettier-ignore
	@include variants($variants...) using ($v) {
		@include generate-from-range((
			variant: $v,
			shorthand: text,
			property: (font-size),
			range: limiter(range(), 10, 64),
			resolver: rem,
		));
	}
}
