@mixin generate-from-map($properties, $shorthand, $map, $conv-fn) {
	$ampersand: get-dynamic-ampersand();

	@each $key, $value in $map {
		#{$ampersand}#{$shorthand}-#{$key} {
			@each $property in $properties {
				#{$property}: call(get-function($conv-fn), $value);
			}
		}
	}
}

// TODO: Expose `h:` as a variable?
@mixin generate-from-map-hover($properties, $shorthand, $map, $conv-fn) {
	$ampersand: get-dynamic-ampersand();

	@each $key, $value in $map {
		#{$ampersand}h:#{$shorthand}-#{$key}:hover {
			@each $property in $properties {
				#{$property}: call(get-function($conv-fn), $value);
			}
		}
	}
}

// TODO: Expose `f:` as a variable?
@mixin generate-from-map-focus($properties, $shorthand, $map, $conv-fn) {
	$ampersand: get-dynamic-ampersand();

	@each $key, $value in $map {
		#{$ampersand}f:#{$shorthand}-#{$key}:focus {
			@each $property in $properties {
				#{$property}: call(get-function($conv-fn), $value);
			}
		}
	}
}

@mixin generate-from-named-map($properties, $named-map, $conv-fn) {
	$ampersand: get-dynamic-ampersand();

	@each $key, $value in $named-map {
		#{$ampersand}#{$key} {
			@each $property in $properties {
				#{$property}: call(get-function($conv-fn), $value);
			}
		}
	}
}
