@use "get-ampersand" as *;
@use "resolve" as *;
@use "safe" as *;

@mixin generate-from-range($shorthand, $props, $range, $resolver) {
	$amp: get-ampersand();

	@each $v in $range {
		$minus: safe-neg($v);
		#{$amp}#{$minus}#{$shorthand}-#{safe-abs($v)} {
			@each $prop in $props {
				#{$prop}: #{resolve($v, $resolver)};
			}
		}
	}
}

@mixin generate-from-map($shorthand, $props, $map, $resolver) {
	$amp: get-ampersand();

	@each $k, $v in $map {
		#{$amp}#{$shorthand}-#{"" + $k} {
			@each $prop in $props {
				#{$prop}: #{resolve($v, $resolver)};
			}
		}
	}
}
