// TODO: Add `:not(.spacer)`?
@mixin stagger {
	[data-stagger] > [class]:nth-child(4n + 1),
	[data-stagger-1] {
		width: 50%;
	}
	[data-stagger] > [class]:nth-child(4n + 2),
	[data-stagger-2] {
		width: 75%;
	}
	[data-stagger] > [class]:nth-child(4n + 3),
	[data-stagger-3] {
		width: 87.5%;
	}
	[data-stagger] > [class]:nth-child(4n + 4),
	[data-stagger-4] {
		width: 62.5%;
	}
	[data-stagger] > [class]:last-child {
		width: 50%;
	}
}
