@use "sass:list";
@use "sass:map";
@use "sass:meta";

@use "../getters" as get;
@use "../utils";

@use "variants" as v;

// Ex:
//
// (0, 0.5, 1)  -> true
// (0, 50, 100) -> false
//
@function percent-heuristic($range) {
	$ok: $range and meta.type-of(list.nth($range, 1)) == number and list.nth($range, 1) >= -1 and meta.type-of(
			list.nth($range, -1)
		) == number and list.nth($range, -1) <= 1;
	@return $ok;
}

// prettier-ignore
@mixin generate-from-range($info-map) {
	$composed:  map.get($info-map, composed);
	$shorthand: map.get($info-map, shorthand);
	$property:  map.get($info-map, property);
	$range:     map.get($info-map, range);
	$resolver:  map.get($info-map, resolver);

	// Computed:
	$as-percent: percent-heuristic($range);

	@each $rv in $range {
		.#{get.n($rv)}#{$shorthand}-#{get.name(get.abs($rv), $as-percent)} {
			@include v.variants($composed...) {
				@each $prop in $property {
					#{$prop}: get.resolve($rv, $resolver);
				}
			}
		}
	}
}
