@mixin macos-retina {
	$amp: get-dynamic-ampersand();

	#{$amp}no-macos-retina {
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
	}
	#{$amp}macos-retina {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
