@mixin _position-impl($properties, $shorthand, $range) {
	$amp: get-dynamic-ampersand();

	@each $value in $range {
		$negative: if(safe-compare-negative($value), "-", "");
		#{$amp}#{$negative}#{$shorthand}-#{safe-abs($value)} {
			@each $property in $properties {
				#{$property}: #{call(get-function(passthrough), $value)};
			}
		}
	}

	@if ($shorthand == "l" or $shorthand == "r") or ($shorthand == "t" or $shorthand == "b") {
		// #{$amp}#{$shorthand}-1\/2 {
		// 	@each $property in $properties {
		// 		#{$property}: 50%;
		// 	}
		// }
		#{$amp}#{$shorthand}-full {
			@each $property in $properties {
				#{$property}: 100%;
			}
		}
	}
}

@mixin position-from-range($range) {
	$amp: get-dynamic-ampersand();

	@each $position in static, relative, absolute, fixed, sticky {
		#{$amp}#{$position} {
			position: #{$position};
		}
	}
	@include _position-impl((left, right), "x", $range);
	@include _position-impl((left), "l", $range);
	@include _position-impl((right), "r", $range);
	@include _position-impl((top, bottom), "y", $range);
	@include _position-impl((top), "t", $range);
	@include _position-impl((bottom), "b", $range);
	@include _position-impl((top, left), "tl", $range);
	@include _position-impl((top, right), "tr", $range);
	@include _position-impl((bottom, left), "bl", $range);
	@include _position-impl((bottom, right), "br", $range);

	#{$amp}tooltip {
		&-tl {
			top: 0;
			left: 0;
			transform: translateX(0) translateY(-100%);
		}
		&-t {
			top: 0;
			left: 50%;
			transform: translateX(-50%) translateY(-100%);
		}
		&-tr {
			top: 0;
			right: 0;
			transform: translateX(0) translateY(-100%);
		}
		&-br {
			bottom: 0;
			right: 0;
			transform: translateX(0) translateY(100%);
		}
		&-b {
			bottom: 0;
			left: 50%;
			transform: translateX(-50%) translateY(100%);
		}
		&-bl {
			bottom: 0;
			left: 0;
			transform: translateX(0) translateY(100%);
		}
	}
}
