@use "sass:list";
@use "sass:map";
@use "sass:string";

@use "../src/sass" as * with ($headless: true);

// TODO: Convert HSL back to RGB?

// Ex:
//
// has-suffix(16, px)   -> false
// has-suffix(16px, px) -> true
//
@function has-suffix($src, $cmp) {
	$str-src: "" + $src;
	$str-cmp: "" + $cmp;
	@return string.slice($str-src, 1 + string.length($str-src) - string.length($str-cmp)) == $str-cmp;
}

// Ex:
//
// $light: (
//   ui-app-color: color(black),
//   ui-app-bg: color(white),
// );
// $dark: (
//   ui-app-color: color(white),
//   ui-app-bg: color(black),
// );
// @include themes((
//   light: $light,
//   dark: $dark,
// ));
//
// -> :root {
// ->   --ui-app-color: hsl(0deg, 0%, 0%);
// ->   --ui-app-bg: hsl(0deg, 0%, 100%);
// ->   transition: var(--theme-transition);
// -> }
// -> [data-theme="dark"] {
// ->   --ui-app-color: hsl(0deg, 0%, 100%);
// ->   --ui-app-bg: hsl(0deg, 0%, 0%);
// -> }
// -> .ui-app {
// ->   color: var(--ui-app-color);
// ->   background-color: var(--ui-app-bg);
// ->   transition: var(--theme-transition);
// -> }
//
// TODO: Add support for `root-bg` and `border-color-default`?
// TODO: `data-theme` should be dynamic; change to `themes: (...)`?
//
// prettier-ignore
@mixin themes($light, $dark, $transition: true) {
	$theme-transition: var(--theme-transition);
	@if $transition == false {
		$theme-transition: null;
	}

	// TODO: Assert `$light-ast` and `$dark-ast` are mirrors.
	$light-ast: parse-ast($light);
	:root {
		@each $mk, $mv in $light-ast {
			@each $info in $mv {
				--#{map.get($info, var)}: #{map.get($info, value)};
			}
		}
		transition: $theme-transition;
	}

	$dark-ast: parse-ast($dark);
	[data-theme="dark"] {
		@each $mk, $mv in $dark-ast {
			@each $info in $mv {
				--#{map.get($info, var)}: #{map.get($info, value)};
			}
		}
	}

	@each $mk, $mv in $light-ast {
		.#{$mk} {
			@each $info in $mv {
				#{map.get($info, property)}: var(--#{map.get($info, var)});
			}
			transition: $theme-transition;
		}
	}
}

$-legend: (
	background-color: bg,
	border-color: border-color,
	box-shadow: shadow,
	color: color,
	fill: fill,
	opacity: opacity,
	stroke: stroke,
);

// Parses a lightweight abstract syntax tree.
@function parse-ast($map) {
	$ast: ();
	@each $mk, $mv in $map {
		@each $tk, $tv in $-legend {
			@if has-suffix($mk, $tv) {
				$n: string.index($mk, $tv);
				$key: string.slice($mk, 1, $n - 2);
				$current: map.get($ast, $key);

				// prettier-ignore
				$ast: map.set(
					$ast,
					$key,
					list.append(
						if(not $current, (), $current),
						(
							var: $mk,      // -> app
							property: $tk, // -> background-color
							value: $mv,    // -> hsl(...)
						)
					)
				);
			}
		}
	}
	@return $ast;
}

// root-bg: ...
// placeholder-bg-default: color(gray-700),
// border-color-default: color(gray-900),

// prettier-ignore
$light: (
	ui-app-bg: color(white),
	ui-app-shadow: (0 0 0 1px color(gray-200), var(--shadow-xs), var(--shadow-md)),
	ui-content-search-bar-bg: color(white),
	ui-content-card-bg: color(white),
	ui-sidebar-bg: color(white),
	ui-sidebar-preview-bg: color(white),
	ui-svg-color: color(black),
	ui-svg-faded-color: color(black, 0.5),
);

// prettier-ignore
$dark: (
	ui-app-bg: color(gray-800),
	ui-app-shadow: (0 0 0 1px color(gray-700), var(--shadow-xs), var(--shadow-md)),
	ui-content-search-bar-bg: color(gray-800),
	ui-content-card-bg: color(gray-800),
	ui-sidebar-bg: color(gray-800),
	ui-sidebar-preview-bg: color(gray-800),
	ui-svg-color: color(white),
	ui-svg-faded-color: color(white, 0.5),
);

@at-root {
	// @error parse-ast($light);
	@include themes($light, $dark);
}
