@use "../src/sass" as * with (
	$env: development,

	$breakpoint-map: (
		xs: 512px,
		sm: 640px,
		md: 768px,
		lg: 1024px,
		xl: 1280px,
		2xl: 1536px,
	),
	$macro-variants: (
		hover, focus, touch,
		group-hover, group-focus, group-touch,
	),
);
