@use "../src/sass" as * with (
	$breakpoint-map: (
		xs: 512,
		sm: 640,
		md: 768,
		lg: 1024,
		xl: 1280,
		2xl: 1536,
	),
	$env: development,
	// $macro-variants: (
	// 	hover, focus, touch,
	// 	group-hover, group-focus, group-touch,
	// ),
);
