@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

// prettier-ignore
$-range: (
	 0,
	 1,
	 2,
	 3,
	 4,
	 5,
	 6,
	 7,
	 8,
	 9,
	10,
	11,
	12,
	13,
	14,
	15,
	16,
);

@mixin aspect-ratio($variants...) {
	@include mixins.compose($variants) using ($composed) {
		@if utils.matches($composed, core) {
			.aspect {
				--dm-aspect-w: 1;
				--dm-aspect-h: 1;
				position: relative;
				padding-bottom: calc(100% * var(--dm-aspect-h) / var(--dm-aspect-w));
			}
			.aspect > * {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			// prettier-ignore
			.aspect-none {
				position: static;  // Reset
				padding-bottom: 0; // Reset
			}
			// prettier-ignore
			.aspect-none > * {
				position: static;  // Reset
				top: auto;         // Reset
				right: auto;       // Reset
				bottom: auto;      // Reset
				left: auto;        // Reset
				width: auto;       // Reset
				height: auto;      // Reset
			}
		}
		@each $rv in $-range {
			.aspect-w-#{$rv} {
				@include mixins.variants($composed...) {
					--dm-aspect-w: #{$rv};
				}
			}
		}
		@each $rv in $-range {
			.aspect-h-#{$rv} {
				@include mixins.variants($composed...) {
					--dm-aspect-h: #{$rv};
				}
			}
		}
	}
}
