@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

@mixin circle($variants...) {
	@include mixins.compose($variants) using ($composed) {
		@each $rv in get.sizes() {
			.circle-#{$rv} {
				@include mixins.variants($composed...) {
					width: utils.rem($rv);
					height: utils.rem($rv);
					// border-radius: utils.rem($rv / 2);
					border-radius: 9999px;
				}
			}
		}
	}
}
