@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

@mixin container($variants...) {
	@include mixins.compose($variants) using ($composed) {
		@if not & {
			// prettier-ignore
			.container {
				margin-left: auto;  // Self-center (x-axis)
				margin-right: auto; // Self-center (x-axis)
				width: 100%;
			}
			@each $_, $px in get.breakpoints() {
				@media (min-width: $px) {
					.container {
						width: 100%;
						max-width: $px;
					}
				}
			}
		}
	}
}
