@use "../helpers" as *;

@mixin container($variants...) {
	@include variants($variants...) using ($v) {
		@if matches($v, core) {
			.container {
				width: 100%;
			}
			@each $key, $px in breakpoints() {
				@media (min-width: $px) {
					.container {
						margin-left: auto;
						margin-right: auto;
						max-width: $px;
					}
				}
			}
		}
	}
}
