@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

@mixin container($variants...) {
	@include mixins.compose($variants) using ($composed) {
		@if utils.matches($composed, core) {
			.container {
				width: 100%;
			}
			@each $_, $px in get.breakpoints() {
				@media (min-width: $px) {
					.container {
						margin-left: auto;
						margin-right: auto;
						max-width: $px;
					}
				}
			}
		}
	}
}
