@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

// These are the layout options. Only `hstack`, `vstack`, `zstack`, and `grid`
// set `display`. If more `display`-based classes are added, the class name and
// associated `display` value should be added here.
$-opts: (
	hstack: flex,
	vstack: flex,
	zstack: grid,
	grid: grid,
);

@mixin hidden($variants...) {
	@include mixins.compose($variants) using ($composed) {
		@if utils.matches($composed, core) {
			/*
			 * <... hidden md:unhidden>
			 * <... unhidden md:hidden>
			 */

			// NOTE: Reset takes precedence.
			@each $mk, $mv in $-opts {
				.#{$mk} > * {
					// Descendent selectors are reset to `block`.
					--dm-display: block; // Reset
				}
			}

			@each $mk, $mv in $-opts {
				.#{$mk} {
					--dm-display: #{$mv};
				}
			}
		}

		.hidden {
			@include mixins.variants($composed...) {
				display: none;
			}
		}

		.unhidden {
			@include mixins.variants($composed...) {
				display: var(--dm-display);
			}
		}
	}
}
