@use "../helpers" as *;

@use "../utils";

$-opts: (
	hstack: flex,
	vstack: flex,
	zstack: grid,
	grid: grid,
);

@mixin hidden($variants...) {
	@include variants($variants...) using ($v) {
		@if utils.matches($v, core) {
			// Takes precedence.
			@each $k, $v in $-opts {
				.#{$k} > * {
					--dm-display: block; // Reset
				}
			}

			@each $k, $v in $-opts {
				.#{$k} {
					--dm-display: #{$v};
				}
			}
		}

		#{variant(hidden, $v)} {
			display: none;
		}
		#{variant(unhidden, $v)} {
			display: var(--dm-display);
		}
	}
}
