@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

@mixin reveal($variants...) {
	@include mixins.compose($variants) using ($composed) {
		@if utils.matches($composed, core) {
			// Takes precedence so can be overridden.
			.hstack > *,
			.vstack > *,
			.zstack > *,
			.grid > * {
				--dm-display: revert;
			}

			.hstack,
			.vstack {
				--dm-display: flex;
			}
			.zstack,
			.grid {
				--dm-display: grid;
			}
		}

		.hide {
			@include mixins.variants($composed...) {
				display: none;
			}
		}

		.show {
			@include mixins.variants($composed...) {
				display: var(--dm-display);
			}
		}
	}
}
