@use "../configuration" as conf;
@use "../getters" as get;
@use "../mixins";
@use "../utils";

@mixin reveal($variants...) {
	@include mixins.compose($variants) using ($composed) {
		// prettier-ignore
		@if utils.matches($composed, core) {
			// Fallback so `var(--dm-display)` is always defined.
			:root {
				--dm-display: block;
			}

			// Takes precedence so can be overridden.
			.hstack > * { --dm-display: revert; }
			.vstack > * { --dm-display: revert; }
			.grid   > * { --dm-display: revert; }

			.hstack { --dm-display: flex; }
			.vstack { --dm-display: flex; }
			.grid   { --dm-display: grid; }
		}

		.hide {
			@include mixins.variants($composed...) {
				display: none;
			}
		}

		.show {
			@include mixins.variants($composed...) {
				display: var(--dm-display);
			}
		}
	}
}
