@mixin debugger {
	[data-debug],
	[data-debug] * {
		outline: 2px solid hsla(210, 100%, 50%, 0.25);
		outline-offset: -1px;
	}
	[data-debug].spacer,
	[data-debug] .spacer {
		background-color: hsla(210, 100%, 50%, 0.125);
	}
	[data-debug][class="spacer"]:empty,
	[data-debug] [class="spacer"]:empty {
		background-color: hsla(180, 100%, 50%, 0.125);
	}
}
