@mixin overflow {
	$ampersand: get-dynamic-ampersand();

	@each $value in (scroll, hidden) {
		#{$ampersand}overflow-#{$value} {
			@if $value == scroll {
				-webkit-overflow-scrolling: touch;
			}
			overflow: #{$value};
		}
	}

	@each $value in (hidden, scroll) {
		#{$ampersand}overflow-x-#{$value} {
			@if $value == scroll {
				-webkit-overflow-scrolling: touch;
			}
			overflow-x: #{$value};
		}
	}

	@each $value in (hidden, scroll) {
		#{$ampersand}overflow-y-#{$value} {
			@if $value == scroll {
				-webkit-overflow-scrolling: touch;
			}
			overflow-y: #{$value};
		}
	}
}
