@mixin stacks-from-range($range, $conv-fn) {
	$ampersand: get-dynamic-ampersand();

	#{$ampersand}hstack {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	#{$ampersand}hstack > * + * {
		margin-top: 0;
		margin-left: var(--spacing, 0);
	}
	#{$ampersand}hstack > [class*="spacer"]:empty,
	#{$ampersand}hstack > [class*="spacer"]:empty + * {
		margin-left: 0;
	}

	#{$ampersand}vstack {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#{$ampersand}vstack > * + * {
		margin-left: 0;
		margin-top: var(--spacing, 0);
	}
	#{$ampersand}vstack > [class*="spacer"]:empty,
	#{$ampersand}vstack > [class*="spacer"]:empty + * {
		margin-top: 0;
	}

	#{$ampersand}align-stretch {
		align-items: stretch;
	}
	#{$ampersand}align-start {
		align-items: flex-start;
	}
	#{$ampersand}align-center {
		align-items: center;
	}
	#{$ampersand}align-end {
		align-items: flex-end;
	}

	#{$ampersand}spacer {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: var(--spacing, 0);
	}

	// #{$ampersand}s\/2 > * {
	// 	--spacing: calc(var(--spacing, 0) / 2);
	// }
	@each $value in $range {
		#{$ampersand}s-#{$value} > * {
			--spacing: #{call(get-function($conv-fn), $value)};
		}
	}

	// @for $x from 0 through 12 {
	// 	#{$ampersand}order-#{$x} {
	// 		order: $x;
	// 	}
	// }

	// EXPERIMENTAL
	#{$ampersand}flex-shrink-0 {
		flex-shrink: 0;
	}
	// #{$ampersand}responsive {
	// 	flex-shrink: 1;
	// }

	// #{$ampersand}no-wrap {
	// 	flex-wrap: nowrap;
	// }
	// #{$ampersand}wrap {
	// 	flex-wrap: wrap;
	// }
}
