@mixin stacks-from-range($range, $conv-fn) {
	$ampersand: get-dynamic-ampersand();

	#{$ampersand}hstack {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	#{$ampersand}hstack > * + * {
		margin-top: 0;
		margin-left: var(--spacing, 0);
	}
	#{$ampersand}hstack > .spacer:empty,
	#{$ampersand}hstack > .spacer:empty + * {
		margin-left: 0;
	}

	#{$ampersand}vstack {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#{$ampersand}vstack > * + * {
		margin-left: 0;
		margin-top: var(--spacing, 0);
	}
	#{$ampersand}vstack > .spacer:empty,
	#{$ampersand}vstack > .spacer:empty + * {
		margin-top: 0;
	}

	#{$ampersand}align-stretch {
		align-items: stretch;
	}
	#{$ampersand}align-start {
		align-items: flex-start;
	}
	#{$ampersand}align-center {
		align-items: center;
	}
	#{$ampersand}align-end {
		align-items: flex-end;
	}

	#{$ampersand}spacer {
		flex: 1 0 var(--spacing, 0);
	}

	@each $value in $range {
		// #{$ampersand}s-#{$value} {
		// 	--parent-var-spacing: #{call(get-function($conv-fn), $value)};
		// }
		// #{$ampersand}s-#{$value} > * {
		// 	--spacing: var(--parent-var-spacing, 0);
		// }
		#{$ampersand}s-#{$value} > * {
			--parent-var-spacing: #{call(get-function($conv-fn), $value)};
			--spacing: var(--parent-var-spacing);
		}
	}

	#{$ampersand}s-1\/2 > * {
		--spacing: calc(var(--parent-var-spacing, 0) / 2);
	}
	#{$ampersand}s-1\/4 > * {
		--spacing: calc(var(--parent-var-spacing, 0) / 4);
	}

	// TODO: Add -1?
	@for $x from 0 through 12 {
		#{$ampersand}order-#{$x} {
			order: #{$x};
		}
	}
}
