@mixin antialiasing {
	$ampersand: get-dynamic-ampersand();

	#{$ampersand}non-retina {
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
	}
	#{$ampersand}retina {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
