// prettier-ignore
@mixin flex {
	$ampersand: get-dynamic-ampersand();

	#{$ampersand}flex-row {
		display: flex;
		flex-direction: row;
	}
	#{$ampersand}inline-flex-row {
		display: inline-flex;
		flex-direction: row;
	}

	[class*="flex-row"]#{$ampersand}x-start    { justify-content: flex-start; }
	[class*="flex-row"]#{$ampersand}x-center   { justify-content: center; }
	[class*="flex-row"]#{$ampersand}x-end      { justify-content: flex-end; }
	[class*="flex-row"]#{$ampersand}x-between  { justify-content: space-between; }
	[class*="flex-row"]#{$ampersand}x-around   { justify-content: space-around; }
	[class*="flex-row"]#{$ampersand}x-evenly   { justify-content: space-evenly; }
	[class*="flex-row"]#{$ampersand}y-stretch  { align-items: stretch; }
	[class*="flex-row"]#{$ampersand}y-start    { align-items: flex-start; }
	[class*="flex-row"]#{$ampersand}y-center   { align-items: center; }
	[class*="flex-row"]#{$ampersand}y-end      { align-items: flex-end; }
	[class*="flex-row"]#{$ampersand}y-baseline { align-items: baseline; }

	#{$ampersand}flex-col {
		display: flex;
		flex-direction: column;
	}
	#{$ampersand}inline-flex-col {
		display: inline-flex;
		flex-direction: column;
	}

	[class*="flex-col"]#{$ampersand}x-stretch  { align-items: stretch; }
	[class*="flex-col"]#{$ampersand}x-start    { align-items: flex-start; }
	[class*="flex-col"]#{$ampersand}x-center   { align-items: center; }
	[class*="flex-col"]#{$ampersand}x-end      { align-items: flex-end; }
	[class*="flex-col"]#{$ampersand}x-baseline { align-items: baseline; }
	[class*="flex-col"]#{$ampersand}y-start    { justify-content: flex-start; }
	[class*="flex-col"]#{$ampersand}y-center   { justify-content: center; }
	[class*="flex-col"]#{$ampersand}y-end      { justify-content: flex-end; }
	[class*="flex-col"]#{$ampersand}y-between  { justify-content: space-between; }
	[class*="flex-col"]#{$ampersand}y-around   { justify-content: space-around; }
	[class*="flex-col"]#{$ampersand}y-evenly   { justify-content: space-evenly; }

	[class*="flex-row"]#{$ampersand}flex-shrink-0,
	[class*="flex-col"]#{$ampersand}flex-shrink-0 { flex-shrink: 0; }
	[class*="flex-row"]#{$ampersand}flex-shrink-1,
	[class*="flex-col"]#{$ampersand}flex-shrink-1 { flex-shrink: 1; }

	[class*="flex-row"]#{$ampersand}no-wrap,
	[class*="flex-col"]#{$ampersand}no-wrap { flex-wrap: nowrap; }
	[class*="flex-row"]#{$ampersand}wrap,
	[class*="flex-col"]#{$ampersand}wrap { flex-wrap: wrap; }
	[class*="flex-row"]#{$ampersand}wrap-reverse,
	[class*="flex-col"]#{$ampersand}wrap-reverse { flex-wrap: wrap-reverse; }
}
