@mixin text-align {
	$ampersand: get-dynamic-ampersand();

	#{$ampersand}text-center {
		text-align: center;
	}
}

@mixin font-style {
	$ampersand: get-dynamic-ampersand();

	#{$ampersand}italic {
		font-style: italic;
	}
}

@mixin font-weight {
	$ampersand: get-dynamic-ampersand();

	@each $weight in 100, 200, 300, 400, 500, 600, 700, 800, 900 {
		#{$ampersand}font-#{$weight} {
			font-weight: #{$weight};
		}
	}
}

@mixin font-size-from-range($range, $conv-fn) {
	@include generate-from-range((font-size), "text", $range, $conv-fn);
}

// // TODO
// @mixin line-height-from-range($range, $conv-fn) {
// 	@include generate-from-range((line-height), "leading", $range, $conv-fn);
// }

@mixin line-decoration {
	$ampersand: get-dynamic-ampersand();

	#{$ampersand}underline {
		text-decoration: underline;
	}
	#{$ampersand}hover\:underline:hover {
		text-decoration: underline;
	}
	#{$ampersand}focus\:underline:focus {
		text-decoration: underline;
	}
}
