@mixin font-style {
	$ampersand: get-dynamic-ampersand();

	#{$ampersand}no-italic {
		font-style: normal;
	}
	#{$ampersand}italic {
		font-style: italic;
	}

	// @each $style in normal, italic {
	// 	#{$ampersand}style-#{$style} {
	// 		font-style: $style;
	// 	}
	// }
}
