@mixin text-align {
	$ampersand: get-dynamic-ampersand();

	@each $value in (start, center, end) {
		#{$ampersand}text-#{$value} {
			text-align: #{$value};
		}
	}
}

@mixin font-style {
	$ampersand: get-dynamic-ampersand();

	#{$ampersand}italic {
		font-style: italic;
	}
}

@mixin font-weight {
	$ampersand: get-dynamic-ampersand();

	@each $value in 100, 200, 300, 400, 500, 600, 700, 800, 900 {
		#{$ampersand}font-#{$value} {
			font-weight: #{$value};
		}
	}
}

@mixin font-size-from-range($range, $conv-fn) {
	@include generate-from-range((font-size), "text", $range, $conv-fn);
}

// TODO (1): Add `tracking`.
// TODO (2): Change to line-height-from-range.
@mixin line-height-from-map($map, $conv-fn) {
	@include generate-from-map((line-height), "leading", $map, $conv-fn);
}

@mixin line-decoration {
	$ampersand: get-dynamic-ampersand();

	#{$ampersand}underline {
		text-decoration: underline;
		@each $value in (hover, focus) {
			&:#{$value} {
				text-decoration: underline;
			}
		}
	}
}
