@mixin font-style {
	$ampersand: get-dynamic-ampersand();

	#{$ampersand}no-italic {
		font-style: normal;
	}
	#{$ampersand}italic {
		font-style: italic;
	}
}

@mixin font-weight {
	$ampersand: get-dynamic-ampersand();

	@each $weight in 100, 200, 300, 400, 500, 600, 700, 800, 900 {
		#{$ampersand}font-#{$weight} {
			font-weight: $weight;
		}
	}
}

@mixin font-size-from-range($range, $conv-fn) {
	@include generate-from-range((font-size), "text", $range, $conv-fn);
}

// @mixin line-height-from-range($range, $conv-fn) {
// 	@include generate-from-range((line-height), "leading", $range, $conv-fn);
// }
