@mixin height-from-range($range, $unit-fn) {
	$ampersand: get-dynamic-ampersand();

	@include generate-from-range((height), "h", $range, $unit-fn);
	#{$ampersand}h-full {
		height: 100%;
	}
	#{$ampersand}h-screen {
		height: 100vh;
	}
}
