@mixin height-from-range($range, $conv-fn) {
	$ampersand: get-dynamic-ampersand();

	@include generate-from-range((height), "h", $range, $conv-fn);
	#{$ampersand}h-px {
		height: 1px;
	}
	#{$ampersand}h-full {
		height: 100%;
	}
	#{$ampersand}h-screen {
		height: 100vh;
	}
}
