// @mixin _margin-gap-impl($properties, $shorthand, $range, $conv-fn) {
// 	$ampersand: get-dynamic-ampersand();

// 	@each $value in $range {
// 		#{$ampersand}#{$shorthand}-#{$value} > * + * {
// 			@each $property in $properties {
// 				// #{$property}: call(get-function($conv-fn), if(type-of($value) != "number", $value, -1 * $value / 2));
// 				#{$property}: call(get-function($conv-fn), $value);
// 			}
// 			// & > * {
// 			// 	@each $property in $properties {
// 			// 		#{$property}: call(get-function($conv-fn), if(type-of($value) != "number", $value, $value / 2));
// 			// 	}
// 			// }
// 		}
// 	}
// }

// @mixin margin-gap-from-range($range, $conv-fn) {
// 	// @include _margin-gap-impl((margin), "m-gap", $range, $conv-fn);
// 	@include _margin-gap-impl((margin-left), "space-x", $range, $conv-fn);
// 	@include _margin-gap-impl((margin-top), "space-y", $range, $conv-fn);
// }

// [class$="spacer"]:first-child + [class*="spacer"]
//       ^                               ^
//       exact                           any

// TODO: Change to [class="spacer"]:empty.
@mixin margin-gap-from-range($range, $conv-fn) {
	$ampersand: get-dynamic-ampersand();

	@each $value in $range {
		[class*="x-stack"]#{$ampersand}spacing-#{$value} > *:not([class="spacer"]) + *:not([class="spacer"]) {
			margin-left: call(get-function($conv-fn), $value);
		}
	}

	@each $value in $range {
		[class*="y-stack"]#{$ampersand}spacing-#{$value} > *:not([class="spacer"]) + *:not([class="spacer"]) {
			margin-top: call(get-function($conv-fn), $value);
		}
	}
}
