@mixin min-height-from-range($range, $conv-fn) {
	$ampersand: get-dynamic-ampersand();

	@include generate-from-range((min-height), "min-h", $range, $conv-fn);
	#{$ampersand}min-h-full {
		height: 100%;
	}
	#{$ampersand}min-h-screen {
		height: 100vh;
	}
}
