@mixin spacing-from-range($range, $conv-fn) {
	$ampersand: get-dynamic-ampersand();

	@each $value in $range {
		#{$ampersand}sx-#{$value} > * + * {
			margin-left: #{call(get-function($conv-fn), $value)};
		}
	}

	@each $value in $range {
		#{$ampersand}sy-#{$value} > * + * {
			margin-top: #{call(get-function($conv-fn), $value)};
		}
	}
}
