@mixin width-from-range($range, $unit-fn) {
	$ampersand: get-dynamic-ampersand();

	@include generate-from-range((width), "w", $range, $unit-fn);
	#{$ampersand}w-full {
		width: 100%;
	}
	#{$ampersand}w-screen {
		width: 100vw;
	}
}
