@mixin macos-retina {
	.no-macos-retina {
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
	}
	.macos-retina {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
