@mixin stagger {
	.staggered > *:nth-child(4n + 1),
	.stagger-1 {
		width: 50%;
	}
	.staggered > *:nth-child(4n + 2),
	.stagger-2 {
		width: 75%;
	}
	.staggered > *:nth-child(4n + 3),
	.stagger-3 {
		width: #{75 + 25% / 2};
	}
	.staggered > *:nth-child(4n + 4),
	.stagger-4 {
		width: #{75 - 25% / 2};
	}
	.stagger > *:last-child {
		width: 50%;
	}
}
