// prettier-ignore
$breakpoint-map: (
	// / "\\32xs": 32 * 16, // ->  512px
	"xs": 40 * 16, // ->  640px
	"sm": 48 * 16, // ->  768px
	"md": 56 * 16, // ->  896px
	"lg": 64 * 16, // -> 1024px
	"xl": 80 * 16, // -> 1280px
	// "\\32xl": 88 * 16, // -> 1536px
);

// // prettier-ignore
// $range:
// 		0,
// 	  1,   2,    3,    4, //  +1
// 	  5,   6,    7,    8, //  +1
// 	 10,  12,   14,   16, //  +2
// 	 20,  24,   28,   32, //  +4
// 	 40,  48,   56,   64, //  +8
// 	 80,  96,  112,  128; // +16

$range: 0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 14, 16, 20, 24, 28, 32, 40, 48, 56, 64, 80, 96, 112, 128;
$font-size-range: 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 26, 28, 30, 32, 34, 36, 40, 44, 48, 52, 56, 60, 64;
$-short-range: -0, -1, -2, -3, -4, -5, -6, -7, -8, -10, -12, -14, -16, -20, -24, -28, -32;
$short-range: 0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 14, 16, 20, 24, 28, 32;
