@use "duomo" as * with (
	// $headless: true,
	$separator: ".",
	$xl: 1344,
	$breakpoint-map: (
		xs: 512,
		sm: 640,
		md: 768,
		lg: 1024,
		xl: 1280,
		// "2xl": 1280 + 64,
	),
	$opacity-range: (0.5)
);

// Exports:
//
// $headless
// $separator
// $negative-range
// $standard-range
// $font-size-range
// $line-height-range
// $opacity-range
// $border-width-range
// $border-radius-range
// $z-index-range
//
// font() and $fonts ($sans-serif, $serif, ...)
// color() and $colors ($blue-100, $blue-200, ...)
// shadow() and $shadows ($shadow-xs, $shadow-md, ...)
// breakpoint() and $breakpoints ($sm, $md, ...)
// opacity-range
//
// escape()
// get-ampersand()
//
// theme()

// @at-root {
// 	@include theme;
// }
