@use "duomo" as * with (
	$variants: (
		group: (),
		stacks: (responsive),
		grid: (responsive),
		position: (responsive),
		margin: (responsive),
		padding: (responsive),
		width: (responsive),
		min-width: (responsive),
		max-width: (responsive),
		container: (),
		height: (responsive),
		min-height: (responsive),
		aspect-ratio: (/* TODO */),
		typography: (/* TODO */),
		color: (responsive, hover, touch, focus, group-hover, group-focus, group-touch),
		background-color: (responsive, hover, touch, focus, group-hover, group-focus, group-touch),
		border-width: (responsive),
		border-color: (responsive, hover, touch, focus, group-hover, group-focus, group-touch),
		border-radius: (responsive),
		box-shadow: (responsive, hover, touch, focus, group-hover, group-focus, group-touch),
		opacity: (responsive, hover, touch, focus, group-hover, group-focus, group-touch),
		overflow: (responsive),
		z-index: (responsive, hover, touch, focus, group-hover, group-focus, group-touch),
		pointer-events: (responsive),
		transform: (responsive, hover, touch, focus, group-hover, group-focus, group-touch),
		directives: (responsive, hover, touch, focus, group-hover, group-focus, group-touch),
	),
	$breakpoint-map: (
		xs: 512,
		sm: 640,
		md: 768,
		lg: 1024,
		xl: 1280,
		2xl: 1536,
	)
);
