$xs: 40 * 16; //  640
$sm: 48 * 16; //  768
$md: 56 * 16; //  896
$lg: 64 * 16; // 1024
$xl: 80 * 16; // 1280

$breakpoint-map: (
	xs: $xs,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl,
);

// prettier-ignore
$spacing-range:
	  0,   1,   2,   3,   4,   5,   6,   7, //  +1
	  8,  10,  12,  14,  16,  18,  20,  22, //  +2
	 24,  28,  32,  36,  40,  44,  48,  52, //  +4
	 64;

// prettier-ignore
$range:
	  0,   1,   2,   3,   4,   5,   6,   7, //  +1
	  8,  10,  12,  14,  16,  18,  20,  22, //  +2
	 24,  28,  32,  36,  40,  44,  48,  52, //  +4
	 64,  72,  80,  88,  96, 104, 112, 120, //  +8
	128;

// TODO: Add helper to auto-convert a range.
//
// prettier-ignore
$-range:
	        -1,   -2,   -3,   -4,   -5,   -6,   -7, //  -1
	  -8,  -10,  -12,  -14,  -16,  -18,  -20,  -22, //  -2
	 -24,  -28,  -32,  -36,  -40,  -44,  -48,  -52, //  -4
	 -64,  -72,  -80,  -88,  -96, -104, -112, -120, //  -8
	-128;

// // prettier-ignore
// $extended-range:
// 	  0,   1,   2,   3,   4,   5,   6,   7, //  +1
// 	  8,  10,  12,  14,  16,  18,  20,  22, //  +2
// 	 24,  28,  32,  36,  40,  44,  48,  52, //  +4
// 	 64,  72,  80,  88,  96, 104, 112, 120, //  +8
// 	128, 144, 160, 176, 192, 208, 224, 240, // +16
// 	256, 288, 320, 352, 384, 416, 448, 480, // +32
// 	512;

// prettier-ignore
$font-size-range:
	 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, // +1
	10, 11, 12, 13, 14, 15, 16, 17, 18, 19, // +1
	20, 22, 24, 28, 32, 36, 40, 44, 48, 52, // +4
	64;

// prettier-ignore
$border-radius-range:
	 0,  1,  2,  3,  4,  5,  6,  7, // +1
	 8, 10, 12, 14, 16, 18, 20, 22, // +2
	24, 28, 32; // +4
