$xs: 40 * 16; // @media (min-width:  640px)
$sm: 48 * 16; // @media (min-width:  768px)
$md: 56 * 16; // @media (min-width:  896px)
$lg: 64 * 16; // @media (min-width: 1024px)
$xl: 80 * 16; // @media (min-width: 1280px)

$breakpoint-map: (
	"xs": $xs,
	"sm": $sm,
	"md": $md,
	"lg": $lg,
	"xl": $xl,
);

// // prettier-ignore
// $range:
// 		0,
// 	  1,   2,    3,    4, //  +1
// 	  5,   6,    7,    8, //  +1
// 	 10,  12,   14,   16, //  +2
// 	 20,  24,   28,   32, //  +4
// 	 40,  48,   56,   64, //  +8
// 	 80,  96,  112,  128; // +16

$range: 0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 14, 16, 20, 24, 28, 32, 40, 48, 56, 64, 80, 96, 112, 128;
$font-size-range: 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 26, 28, 30, 32, 34, 36, 40, 44, 48, 52, 56, 60, 64;
$-range: -1, -2, -3, -4, -5, -6, -7, -8, -10, -12, -14, -16, -20, -24, -28, -32, -40, -48, -56, -64, -80, -96, -112, -128;
$short-range: 0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 14, 16, 20, 24, 28, 32;

// prettier-ignore
$line-height-map: (
	"1":      1,
	"1\\.05": 1.05,
	"1\\.1":  1.1,
	"1\\.15": 1.15,
	"1\\.2":  1.2,
	"1\\.25": 1.25,
	"1\\.3":  1.3,
	"1\\.35": 1.35,
	"1\\.4":  1.4,
	"1\\.45": 1.45,
	"1\\.5":  1.5,
	"1\\.55": 1.55,
	"1\\.6":  1.6,
	"1\\.65": 1.65,
	"1\\.7":  1.7,
	"1\\.75": 1.75,
	"1\\.8":  1.8,
	"1\\.85": 1.85,
	"1\\.9":  1.9,
	"1\\.95": 1.95,
	"2":      2,
);

$z-index-range: -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50;
