@use "../../helpers" as *;

$-opts: (sans, serif, mono);

@mixin font-family($variants...) {
	@include variants($variants...) using ($v) {
		@each $opt in $-opts {
			#{variant($opt, $v)} {
				font-family: var(--#{$opt}), var(--system-#{$opt});
			}
		}
	}
}
