@use "../../helpers" as *;

$-opts: (
	thin: 100,
	extralight: 200,
	light: 300,
	// TODO?
	bold-none: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
	extrabold: 800,
	black: 900,
);

@mixin font-weight($variants...) {
	@include variants($variants...) using ($v) {
		@each $mk, $mv in $-opts {
			#{variant($mk, $v)} {
				font-weight: $mv;
			}
		}
	}
}
