@use "../../helpers" as *;

$-opts: (left, center, right, justify);

@mixin text-align($variants...) {
	@include variants($variants...) using ($v) {
		@each $opt in $-opts {
			#{variant(text-#{$opt}, $v)} {
				text-align: left;
			}
		}
	}
}
