@use "../../helpers" as *;

@mixin white-space($variants...) {
	@include variants($variants...) using ($v) {
		#{variant(ws-auto, $v)} {
			white-space: normal;
		}
		#{variant(ws-preserve, $v)} {
			white-space: pre;
		}
		#{variant(ws-preserve-wrap, $v)} {
			white-space: pre-wrap;
		}
		#{variant(ws-collapse, $v)} {
			white-space: nowrap;
		}
		#{variant(ws-collapse-wrap, $v)} {
			white-space: pre-line;
		}
	}
}
