// Based on https://codepen.io/zaydek/pen/wvzyZWy.
@mixin data-debug {
	[data-debug] * {
		outline: 2px solid hsla(210, 100%, 50%, 0.5);
		outline-offset: -2px; // Invert
	}
	// Non-spaced spacers.
	[data-debug] :not([class*="space-"]) > .spacer:empty {
		outline: 1px dashed hsla(210, 100%, 50%, 0.5);
		outline-offset: 0; // Reset
	}
	// Spaced spacers.
	[data-debug] [class*="space-"] > .spacer:empty {
		justify-self: stretch;
		align-self: stretch;
		background-color: hsla(210, 100%, 50%, 0.05);
		outline: 2px dashed hsla(210, 100%, 50%, 0.5);
		outline-offset: -2px; // Invert
	}
}
