@use "sass:math";

@function rem($v) {
	@if type-of($v) != "number" {
		@return $v;
	}
	$floored: math.floor($v);
	@if $floored == 0 {
		@return 0;
	}
	@return $floored / 16 + rem;
}

@function em($v) {
	@if type-of($v) != "number" {
		@return $v;
	}
	$floored: math.floor($v);
	@if $floored == 0 {
		@return 0;
	}
	@return $floored / 16 + em;
}

@function px($v) {
	@if type-of($v) != "number" {
		@return $v;
	}
	$floored: math.floor($v);
	@if $floored == 0 {
		@return 0;
	}
	@return $floored + px;
}

@function resolve($v, $resolver) {
	@if $resolver != none and $resolver != rem and $resolver != em and $resolver != px {
		@error "resolve: cannot resolve a non-rem, em, px, or none resolver type";
	}
	@if $resolver == rem {
		@return rem($v);
	} @else if $resolver == em {
		@return em($v);
	} @else if $resolver == px {
		@return px($v);
	}
	@return $v;
}
