@mixin data-debug {
	// TODO: Add `:not(svg)`?
	[data-debug],
	[data-debug] * {
		outline: 2px solid var(--data-debug, hsla(210, 100%, 50%, 0.5));
		outline-offset: -1px;
	}
	[data-debug].spacer,
	[data-debug] .spacer {
		background-color: var(--data-debug, hsla(210, 100%, 50%, 0.25));
	}
	[data-debug].spacer:empty,
	[data-debug] .spacer:empty {
		background-color: var(--data-debug, hsla(180, 100%, 50%, 0.25));
	}
}
