@mixin -empty-block {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
}

@mixin -debug-stripes($color) {
	// TODO: Refactor to `hsla` and `custom props`.
	@if $color == purple {
		--debug-space-bg-color: hsla(240, 100%, 50%, 0.125);
	} @else if $color == blue {
		--debug-space-bg-color: hsla(210, 100%, 50%, 0.125);
	}
	background-image: linear-gradient(
		45deg,
		var(--stripe-color) 12.5%,
		transparent 12.5%,
		transparent 50%,
		var(--stripe-color) 50%,
		var(--stripe-color) 62.5%,
		transparent 62.5%,
		transparent 100%
	);
	background-size: 5.66px 5.66px;
	background-color: var(--debug-space-bg-color);
}

@mixin -data-debug-hstack {
	[data-debug-space] .hstack > *:not(.spacer) + *:not(.spacer) {
		position: relative;
		&::after {
			@include -empty-block;
			transform: translateX(-100%);
			width: var(--space);
			@include -debug-stripes($color: purple);
		}
	}

	[data-debug-space] .hstack > .spacer:empty {
		min-width: 2px;
		min-height: 2px;
		position: relative;
		&::before {
			@include -empty-block;
			@include -debug-stripes($color: purple);
		}
	}
}

@mixin -data-debug-vstack {
	[data-debug-space] .vstack > *:not(.spacer) + *:not(.spacer) {
		position: relative;
		&::after {
			@include -empty-block;
			transform: translateY(-100%);
			height: var(--space);
			@include -debug-stripes($color: blue);
		}
	}

	[data-debug-space] .vstack > .spacer:empty {
		min-width: 2px;
		min-height: 2px;
		position: relative;
		&::before {
			@include -empty-block;
			@include -debug-stripes($color: blue);
		}
	}
}

@mixin data-debug-space {
	@include -data-debug-hstack;
	@include -data-debug-vstack;
}
