@mixin -empty-block {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
}

@function background-color($color) {
	$ret: "";
	@if $color == purple {
		$ret: var(--data-debug-space, hsla(240, 100%, 50%, 0.1));
	} @else if $color == blue {
		$ret: var(--data-debug-space, hsla(210, 100%, 50%, 0.1));
	}
	@return $ret;
}

@mixin data-debug-space {
	[data-debug-space] .hstack > *:not(.spacer) + *:not(.spacer) {
		position: relative;
		&::after {
			@include -empty-block;
			transform: translateX(-100%);
			width: var(--dm-space);
			background-color: background-color(purple);
		}
	}
	[data-debug-space] .hstack > .spacer:empty {
		position: relative;
		&::before {
			@include -empty-block;
			background-color: background-color(purple);
		}
	}

	[data-debug-space] .vstack > *:not(.spacer) + *:not(.spacer) {
		position: relative;
		&::after {
			@include -empty-block;
			transform: translateY(-100%);
			height: var(--dm-space);
			background-color: background-color(blue);
		}
	}
	[data-debug-space] .vstack > .spacer:empty {
		position: relative;
		&::before {
			@include -empty-block;
			background-color: background-color(blue);
		}
	}
}
