@mixin stagger {
	.stagger > [class]:nth-child(4n + 1),
	.stagger > [style]:nth-child(4n + 1),
	.stagger-1 {
		width: 50%;
	}
	.stagger > [class]:nth-child(4n + 2),
	.stagger > [style]:nth-child(4n + 2),
	.stagger-2 {
		width: 75%;
	}
	.stagger > [class]:nth-child(4n + 3),
	.stagger > [style]:nth-child(4n + 3),
	.stagger-3 {
		width: 87.5%;
	}
	.stagger > [class]:nth-child(4n + 4),
	.stagger > [style]:nth-child(4n + 4),
	.stagger-4 {
		width: 62.5%;
	}
	.stagger > [class]:last-child,
	.stagger > [style]:last-child {
		width: 50%;
	}
}
