@use "../../helpers" as *;

@mixin __hstack() {
	$amp: get-ampersand();

	@if not & {
		.hstack > * {
			--space: 0;
		}
	}
	#{$amp}hstack {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	#{$amp}hstack > * + * {
		margin-top: 0;
		margin-left: var(--space);
	}
	#{$amp}hstack > .spacer:empty,
	#{$amp}hstack > .spacer:empty + * {
		margin-left: 0;
	}
}

@mixin __vstack() {
	$amp: get-ampersand();

	@if not & {
		.vstack > * {
			--space: 0;
		}
	}
	#{$amp}vstack {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#{$amp}vstack > * + * {
		margin-left: 0;
		margin-top: var(--space);
	}
	#{$amp}vstack > .spacer:empty,
	#{$amp}vstack > .spacer:empty + * {
		margin-top: 0;
	}
}

@mixin stacks() {
	$amp: get-ampersand();

	#{$amp}align-stretch {
		align-items: stretch;
	}
	#{$amp}align-start {
		align-items: flex-start;
	}
	#{$amp}align-center {
		align-items: center;
	}
	#{$amp}align-end {
		align-items: flex-end;
	}
	#{$amp}align-baseline {
		align-items: baseline;
	}

	#{$amp}align-self-stretch {
		align-self: stretch;
	}
	#{$amp}align-self-start {
		align-self: flex-start;
	}
	#{$amp}align-self-center {
		align-self: center;
	}
	#{$amp}align-self-end {
		align-self: flex-end;
	}
	#{$amp}align-self-baseline {
		align-self: baseline;
	}

	@if not & {
		.spacer {
			flex: 1 0 var(--space);
		}
		.spacer:first-child,
		.spacer:last-child {
			flex: 1 0 0;
		}
	}
}

@mixin stack-space-from-range($range, $resolver) {
	// prettier-ignore
	@include generate-from-range(
		"space",
		(--space),
		$range,
		$resolver,
	);
}
