@use "../../helpers" as *;

@mixin zstack-placement {
	$amp: get-ampersand();

	#{$amp}place-tl {
		top: 0;
		left: 0;
	}
	#{$amp}place-t {
		top: 0;
	}
	#{$amp}place-tr {
		top: 0;
		right: 0;
	}
	#{$amp}place-bl {
		bottom: 0;
		left: 0;
	}
	#{$amp}place-b {
		bottom: 0;
	}
	#{$amp}place-br {
		bottom: 0;
		right: 0;
	}

	#{$amp}place-outside-tl {
		top: 0;
		left: 0;
		transform: translateY(-100%);
	}
	#{$amp}place-outside-t {
		top: 0;
		left: 50%;
		transform: translateX(-50%) translateY(-100%);
	}
	#{$amp}place-outside-tr {
		top: 0;
		right: 0;
		transform: translateY(-100%);
	}
	#{$amp}place-outside-bl {
		bottom: 0;
		left: 0;
		transform: translateY(100%);
	}
	#{$amp}place-outside-b {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%) translateY(100%);
	}
	#{$amp}place-outside-br {
		bottom: 0;
		right: 0;
		transform: translateY(100%);
	}
}
